services:
  fulib:
    image: registry.uniks.de/fulib/code-server-fulib:17
    build:
      context: .
      dockerfile: gradle/Dockerfile
      args:
        BUILD_GRADLE: fulib/build.gradle
        APT_DEPENDENCIES: openjdk-17-jdk
  java:
    image: registry.uniks.de/fulib/code-server-java:17
    build:
      context: .
      dockerfile: gradle/Dockerfile
      args:
        BUILD_GRADLE: gradle/build.gradle
        APT_DEPENDENCIES: openjdk-17-jdk-headless
  node:
    image: registry.uniks.de/fulib/code-server-node:18
    build:
      context: .
      dockerfile: nodejs/Dockerfile
      args:
        NODE_VERSION: '18'
  latex:
    image: registry.uniks.de/fulib/code-server-latex:2023
    build:
      context: .
      dockerfile: latex/Dockerfile
      args:
        EXTENSION: James-Yu.latex-workshop
        TEXLIVE_VERSION: '2023'
        SCHEME: small
        # see https://github.com/sekassel-research/thesis-template#installation
        TEXLIVE_PACKAGES: footmisc siunitx paralist wrapfig minted acronym xstring bigfoot csquotes din1505 multirow biber
  python:
    image: registry.uniks.de/fulib/code-server-python:3
    build:
      context: .
      dockerfile: generic/Dockerfile
      args:
        APT_DEPENDENCIES: python3
        EXTENSION: ms-python.python
