<ul ngbNav #nav="ngbNav" [(activeId)]="currentFile" class="nav-tabs">
  <li *ngFor="let file of openFiles" [ngbNavItem]="file">
    <a ngbNavLink
       [class.text-reset]="!file.data?.dirty"
       [class.text-primary]="file.data?.dirty"
       (contextmenu)="openContextMenu($event, file, dropdown)"
       (auxclick)="auxClick($event, file)">
      <app-file-icon [file]="file"></app-file-icon>
      {{ file.name }}
      <div class="d-inline" ngbDropdown #dropdown="ngbDropdown" container="body">
        <span ngbDropdownToggle>
        </span>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="close(file)">Close</button>
        </div>
      </div>
      <span class="close position-relative pl-2 font-weight-light"
            (click)="close(file); $event.preventDefault(); $event.stopImmediatePropagation()">
        ×
      </span>
    </a>
    <ng-template ngbNavContent>
      <app-file-code-editor [file]="file"></app-file-code-editor>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" style="height: calc(100% - 40px)"></div>
