<ul ngbNav #nav="ngbNav" [(activeId)]="currentFile" class="nav-tabs">
  <li *ngFor="let file of openFiles" [ngbNavItem]="file">
    <a ngbNavLink
       [class.text-reset]="!file.data?.dirty"
       [class.text-primary]="file.data?.dirty"
       (auxclick)="close(file); $event.preventDefault()">
      <app-file-icon [file]="file"></app-file-icon>
      {{ file.name }}
      <span class="close position-relative pl-2 font-weight-light"
            (click)="close(file); $event.preventDefault(); $event.stopImmediatePropagation()">
        ×
      </span>
    </a>
    <ng-template ngbNavContent>
      <app-autotheme-codemirror
        class="cm-h-100"
        [(content)]="file.data.content"
        (contentChange)="setDirty(file)"
        [options]="{
        mode: 'java',
        lineNumbers: true,
        lineWrapping: true,
        styleActiveLine: true,
        extraKeys: {
          'Ctrl-S': save.bind(this, file),
          'Cmd-S': save.bind(this, file)
        },
        autoRefresh: true
      }"></app-autotheme-codemirror>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" style="height: calc(100% - 40px)"></div>
