<div class="container">
  <app-assignment-info [assignment]="assignment"></app-assignment-info>

  <app-task-list [assignment]="assignment" [results]="results"></app-task-list>

  <h2><label for="solutionInput">Your Solution</label></h2>
  <p>
    <app-autotheme-codemirror id="solutionInput" #solutionInput [(content)]="solution" [options]="{
      mode: 'scenario',
      lineNumbers: true,
      lineWrapping: true,
      styleActiveLine: true
    }"></app-autotheme-codemirror>
    <small class="text-muted">
      {{checking ? 'Checking...'
      : (results ? 'Your solution was checked automatically. Don\'t forget to submit when you are done!'
        : 'Your solution is checked automatically when you make changes.')
      }}
    </small>
  </p>

  <h2>Your Info</h2>

  <div class="form">
    <div class="form-group row">
      <label for="nameInput" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nameInput" placeholder="John Doe"
               [(ngModel)]="name" (change)="saveDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="studentIDInput" class="col-sm-2 col-form-label">Student ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="studentIDInput" placeholder="12345678"
               [(ngModel)]="studentID" (change)="saveDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailInput" class="col-sm-2 col-form-label">E-Mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailInput" placeholder="jdoe@example.com"
               [(ngModel)]="email" (change)="saveDraft()">
      </div>
    </div>
  </div>

  <div class="text-center">
    <p>
      When you are done with your solution, click "Submit".
      You can still make changes afterwards.
    </p>
    <button type="button" class="btn btn-primary btn-lg"
            [disabled]="submitting"
            (click)="submit()">
      {{submitting ? 'Submitting...' : 'Submit'}}
    </button>
  </div>
</div>

<ng-template #successModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="successModalLabel">Solution Submitted</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Congratulations! Your solution has been submitted!
    </p>
    <p>
      Submission Time: <b>{{timeStamp | date:'medium'}}</b>
    </p>
    <p>
      You can view your submission with the following link:
    </p>
    <p>
      <a class="text-monospace" [routerLink]="getLink(false)" (click)="modal.close()">
        {{getLink(true)}}
      </a>
      <button type="button" class="btn btn-sm btn-outline-primary"
              ngxClipboard *ngxClipboardIfSupported [cbContent]="getLink(true)">
        Copy
      </button>
    </p>
    <p>
      To view your solution and comments, you may be asked for the following token.
      Please save it or write it down somewhere.
    </p>
    <p class="text-center">
      <span class="h4 text-monospace">{{token}}</span>
      <button type="button" class="btn btn-sm btn-outline-secondary"
              ngxClipboard *ngxClipboardIfSupported [cbContent]="token">
        Copy
      </button>
    </p>
    <p>
      If you want to make changes, you can close this window and submit again.
    </p>
    <p *ngIf="nextAssignment">
      Otherwise, you may continue to the next assignment of this course, titled <b>{{nextAssignment.title}}</b>!
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
    <a *ngIf="nextAssignment"
       class="btn btn-primary"
       routerLink="/assignments/courses/{{course!.id}}/assignments/{{nextAssignment.id}}"
       (click)="modal.close()">
      Continue
    </a>
  </div>
</ng-template>
