<ng-template #tokenModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="tokenModalLabel">Authorization Required</h5>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="solution">
      <p>
        Please enter the token for this solution to view it:
      </p>
      <div class="form">
        <div class="form-group">
          <label class="sr-only" for="solutionTokenInput">Solution Token</label>
          <input type="text" class="form-control text-monospace" id="solutionTokenInput"
                 placeholder="XXXX-XXXX-XXXX-XXXX" [(ngModel)]="solutionToken">
        </div>
      </div>
      <p>
        If you are the assignment administrator or tutor, enter the assignment token here:
      </p>
    </ng-container>
    <p *ngIf="!solution">
      Please enter the token for this assignment to view solutions:
    </p>
    <div class="form">
      <div class="form-group">
        <label class="sr-only" for="assignmentTokenInput">Assignment Token</label>
        <input type="text" class="form-control text-monospace" id="assignmentTokenInput"
               placeholder="XXXX-XXXX-XXXX-XXXX" [(ngModel)]="assignmentToken">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="submit(); modal.close()">
      Submit
    </button>
  </div>
</ng-template>
