<header class="fixed-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">fulib.org</a>
    <button class="navbar-toggler" type="button" (click)="menuCollapsed = !menuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="menuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/scenarios" routerLinkActive="active">
            Scenarios
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workflows" routerLinkActive="active">
            Workflows
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/docs" routerLinkActive="active">
            Docs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">
            Projects
            <span class="badge text-white bg-gradient-primary">v2</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/assignments" routerLinkActive="active">
            Assignments
          </a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a tabindex="0" class="nav-link" ngbDropdownToggle id="githubDropdown" role="button">
            GitHub
          </a>
          <div ngbDropdownMenu aria-labelledby="githubDropdown">
            <a *ngFor="let repo of repos"
               ngbDropdownItem href="https://github.com/fujaba/{{repo}}">
              {{repo}}
              <span class="text-muted" *ngIf="versions && versions[repo]"> (v{{versions[repo]}})</span>
            </a>
          </div>
        </li>
        <li class="nav-item" ngbDropdown>
          <a tabindex="0" class="nav-link" ngbDropdownToggle id="legalDropdown" role="button">
            Legal
          </a>
          <div ngbDropdownMenu aria-labelledby="legalDropdown">
            <a ngbDropdownItem [routerLink]="[{outlets: {modal: 'about'}}]">
              About
            </a>
            <a ngbDropdownItem href="https://www.uni-kassel.de/uni/impressum">
              Imprint
            </a>
            <a ngbDropdownItem href="https://www.uni-kassel.de/uni/datenschutz">
              Privacy Policy
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{outlets: {modal: 'feedback'}}]" routerLinkActive="active">
            Feedback
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[{outlets: {modal: 'changelog'}}]" routerLinkActive="active">
            What's New
          </a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a tabindex="0" class="nav-link" ngbDropdownToggle id="accountDropdown" role="button">
            <i class="bi-person-circle"></i>
            <span class="visually-hidden">Account</span>
          </a>
          <div ngbDropdownMenu aria-labelledby="accountDropdown">
            <h6 class="dropdown-header">Account</h6>
            <span class="dropdown-item-text text-muted">
            {{username ? 'Logged in as ' : 'Not logged in'}}<b *ngIf="username">{{username}}</b>.
          </span>
            <a *ngIf="username && accountUrl" ngbDropdownItem [href]="accountUrl" target="_blank">
              Edit Account
            </a>
            <button ngbDropdownItem (click)="username ? logout() : login()">
              {{username ? 'Logout' : 'Login'}}
            </button>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Settings</h6>
            <a ngbDropdownItem [routerLink]="[{outlets: {modal: 'privacy'}}]">
              Edit Privacy Preferences
            </a>
            <div ngbDropdownItem>
              <ngbd-theme-switch></ngbd-theme-switch>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

</header>
