<ng-container [ngSwitch]="editor.preview && fileType.previewMode || fileType.mode">
  <img *ngSwitchCase="'img'"
    [src]="container.url + '/dav/' + file.path" [alt]="file.name">
  <iframe *ngSwitchCase="'iframe'"
          class="w-100 h-100"
          [src]="(container.url + '/dav/' + file.path) | safeResourceUrl"
  ></iframe>
  <app-autotheme-codemirror
    *ngSwitchDefault
    class="cm-h-100"
    [content]="file.content"
    (contentChange)="setContent($event)"
    [options]="options"
  ></app-autotheme-codemirror>
</ng-container>
