@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

::ng-deep .markdown {
  blockquote {
    color: $text-muted;
    padding-left: 1em;
    border-left: 2px solid $text-muted;
  }

  pre {
    @include border-radius($card-border-radius);
    border: $card-border-width solid $card-border-color;
    position: relative;
    padding: 0.5em;
  }

  pre > code[data-language]::before {
    content: attr(data-language);
    display: block;
    color: $text-muted;
    position: absolute;
    right: 1em;
    top: 1em;
  }
}

@mixin markdown-dark {
  .markdown pre {
    background-color: #2b2b2b;
  }
}

@media (prefers-color-scheme: dark) {
  ::ng-deep [data-theme="auto"] {
    @include markdown-dark;
  }
}

::ng-deep [data-theme="dark"] {
  @include markdown-dark;
}
