<div class="container">
  <app-assignment-info [assignment]="assignment"></app-assignment-info>
  <div class="mb-3">
    <a class="btn btn-primary bi-pencil me-2" routerLink="edit">
      Edit Assignment
    </a>
    <a class="btn btn-primary bi-download me-2" routerLink="import">
      Import Solutions
    </a>
    <a class="btn btn-danger bi-trash me-2" routerLink="delete">
      Delete Assignment
    </a>
  </div>
  <app-route-tabs [routes]="routes"></app-route-tabs>
</div>
<router-outlet></router-outlet>
