<app-modal #modal size="xl">
  <ng-container modal-header>
    What's New on fulib.org
  </ng-container>
  <ng-container modal-body>
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeRepo" class="nav-tabs mx-n3 px-3">
      <ng-container *ngFor="let repo of repos">
        <li *ngIf="changelogs[repo]" [ngbNavItem]="repo">
          <a ngbNavLink>
            {{repo}}
            <span class="badge badge-secondary">
              <ng-container *ngIf="lastUsedVersions && lastUsedVersions[repo] !== currentVersions[repo]">
                v{{lastUsedVersions[repo]}} &rarr;
              </ng-container>
              v{{currentVersions[repo]}}
            </span>
          </a>
          <ng-template ngbNavContent>
            <app-markdown [html]="changelogs[repo]!"></app-markdown>
          </ng-template>
        </li>
      </ng-container>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </ng-container>
  <ng-container modal-footer>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="autoShowCheckbox" [(ngModel)]="autoShow">
      <label class="form-check-label" for="autoShowCheckbox">Automatically show this window</label>
    </div>
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </ng-container>
</app-modal>
