<div class="container">
  <h1>
    <a class="bi-chevron-left" routerLink=".."></a>
    My Solutions
  </h1>

  @if (assignments?.length) {
    <ul class="list-group">
      @for (assignment of assignments;track assignment) {
        <li class="list-group-item">
          <h3>
            {{ assignment.title }}
          </h3>
          <p class="text-muted">
            by
            <app-author-name [name]="assignment.author" [email]="assignment.email"></app-author-name>
            @if (assignment.deadline) {
              &mdash;
                Deadline: {{ assignment.deadline | date:'medium' }}
            }
          </p>
          <div class="list-group">
            @for (solution of solutions!.get(assignment._id);track solution) {
              <a class="list-group-item list-group-item-action"
                 routerLink="/assignments/{{assignment._id}}/solutions/{{solution._id}}">
                by
                <app-author-name [name]="solution.author.name || 'You'"
                                 [email]="solution.author.email"></app-author-name>
                &mdash;
                {{ solution.author.studentId }}
                &mdash;
                Submitted: {{ solution.timestamp | date:'medium' }}
              </a>
            }
            <a class="list-group-item list-group-item-action" routerLink="/assignments/{{assignment._id}}">
              by
              <app-author-name [name]="author?.name || 'You'" [email]="author?.email"></app-author-name>
              &mdash;
              {{ author?.studentId }}
              &mdash;
              <span class="text-success">Current Draft</span>
            </a>
          </div>
        </li>
      }
    </ul>
  }

  @if (!assignments?.length) {
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          No Solutions yet!
        </h5>
        <p class="card-text">
          Solutions will appear here once you accept an assignment via a link.
        </p>
      </div>
    </div>
  }
</div>
