<app-modal #modal [locked]="saving" [back]="['..']" [backOptions]="{relativeTo: activatedRoute, queryParamsHandling: 'preserve'}">
  <ng-container modal-header>
    Setup Project
  </ng-container>
  <ng-container modal-body>
    <p>
      It looks like your project is currently empty.
      This setup will help you get started.
    </p>
    <p>
      Fill out the form below to generate a Gradle project.
    </p>
    <hr/>
    <app-project-config-form [config]="config"></app-project-config-form>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-secondary" (click)="modal.close()" [disabled]="saving">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="saving">
      Generate
    </button>
  </ng-container>
</app-modal>
