<ngbx-modal #modal="modal" [locked]="deleting" [back]="[back]">
  <ng-container modal-title>
    Delete Project
  </ng-container>
  <ng-container modal-body>
    Are you sure you want to <span class="text-danger">delete</span> '{{ project?.name }}'?
    This action cannot be undone.
  </ng-container>
  <ng-container modal-footer>
    @if (!deleting) {
      <button type="button" class="btn btn-secondary" (click)="modal.close()">
        Cancel
      </button>
    }
    <button type="button" class="btn btn-danger" (click)="delete(modal)" [disabled]="deleting">
      @if (deleting) {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Deleting...
      } @else {
        Delete
      }
    </button>
  </ng-container>
</ngbx-modal>
