<div class="container">
  <h1>
    <a class="bi-chevron-left" ngbTooltip="Back to All Solutions" routerLink=".." queryParamsHandling="merge">
    </a>
    Solution by {{ solution | solutionName }}
  </h1>
  <p class="text-muted" *ngIf="solution">
    <ng-container *ngIf="solution.author.github">
      <a class="bi-github" href="https://github.com/{{solution.author.github}}" target="_blank">
        {{ solution.author.github }}
      </a>
      &bull;
    </ng-container>
    <ng-container
      *ngIf="assignment && assignment.classroom?.org && assignment.classroom?.prefix && solution.author.github">
      <a class="bi-server" [href]="assignment|githubLink:solution" target="_blank">
        {{assignment.classroom?.prefix}}-{{ solution.author.github }}
      </a>
      &bull;
      <ng-container *ngIf="solution.commit">
        <a class="bi-node-plus" [href]="assignment|githubLink:solution:true" target="_blank">
          {{ solution.commit | slice:0:7 }}
        </a>
        &bull;
      </ng-container>
      <a class="bi-code" [href]="assignment|cloneLink:solution:options|safeUrl" target="_blank">
        Clone in IDE
      </a>
      &bull;
    </ng-container>
    <ng-container *ngIf="solution.author.email">
      <a class="bi-envelope" href="mailto:{{solution.author.email}}">
        {{ solution.author.email }}
      </a>
      &bull;
    </ng-container>
    <span
      *ngIf="assignment && assignment.deadline && solution.timestamp && assignment.deadline < solution.timestamp else submitted"
      class="text-danger"
      [ngbTooltip]="'Deadline: ' + (assignment.deadline | date:'medium')"
    >
      <ng-container [ngTemplateOutlet]="submitted"></ng-container>
    </span>
    <ng-template #submitted>
      <i class="bi-clock"></i>
      Submitted:
      {{solution?.timestamp | date:'medium'}}
    </ng-template>
    <ng-container *ngIf="pushedAt || pushEvents.length">
      &bull;
      <a class="bi-arrow-up-circle" [ngbPopover]="pushEventList">
        Pushed:
        {{ pushedAt | date:'medium' }}
      </a>
      <ng-template #pushEventList>
        <ul>
          <li *ngFor="let event of pushEvents" [class.text-primary]="event.created_at === pushedAt">
            {{ event.created_at | date:'medium' }}
            <span class="text-muted">
              {{ event.actor.login }}
            </span>
            <ul>
              <li *ngFor="let commit of event.payload.commits">
                <a [href]="assignment!|githubLink:solution:true" target="_blank">
                  {{ commit.sha | slice:0:7 }}
                </a>
                {{ commit.message }}
                <span class="text-muted">
                  {{ commit.author.name }}
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </ng-template>
    </ng-container>
  </p>

  <ngbx-route-tabs [routes]="routes"></ngbx-route-tabs>
  <router-outlet></router-outlet>
</div>
