<div class="container">
  <h1>
    <a class="bi-chevron-left" ngbTooltip="Back to All Solutions" routerLink=".." queryParamsHandling="merge">
    </a>
    Solution by {{ solution | solutionName }}
  </h1>
  @if (solution) {
    <p class="text-muted">
      @if (solution.author.github; as github) {
        <a class="bi-github" href="https://github.com/{{github}}" target="_blank">
          {{ github }}
        </a>
        &bull;
      }
      @if (assignment && assignment.classroom?.org && assignment.classroom?.prefix && solution.author.github) {
        <a class="bi-server" [href]="assignment|githubLink:solution" target="_blank">
          {{assignment.classroom?.prefix}}-{{ solution.author.github }}
        </a>
        &bull;
        @if (solution.commit) {
          <a class="bi-node-plus" [href]="assignment|githubLink:solution:true" target="_blank">
            {{ solution.commit | slice:0:7 }}
          </a>
          &bull;
        }
      }
      @if (solution.author.email; as email) {
        <a class="bi-envelope" href="mailto:{{email}}">
          {{ email }}
        </a>
        &bull;
      }
      @if (assignment && assignment.deadline && solution.timestamp && assignment.deadline < solution.timestamp) {
        <span class="text-danger" [ngbTooltip]="'Deadline: ' + (assignment.deadline | date:'medium')">
          <i class="bi-clock"></i>
          Submitted:
          {{solution.timestamp | date:'medium'}}
        </span>
      } @else {
        <i class="bi-clock"></i>
        Submitted:
        {{solution.timestamp | date:'medium'}}
      }
    </p>
  }

  <ngbx-route-tabs [routes]="routes"></ngbx-route-tabs>
  <router-outlet></router-outlet>
</div>
