<app-modal #modal="modal" [back]="['/projects']">
  <ng-container modal-header>
    {{ editing['id'] ? 'Edit' : 'New' }} {{editing.local ? 'Local' : '' }} Project
  </ng-container>
  <ng-container modal-body>
    <app-project-form [project]="editing"></app-project-form>
    <div class="alert alert-info" *ngIf="editing.local">
      {{ editing['id'] ? 'This is' : 'You are creating' }}
      a <b>local</b> project.
      This means the project and its scenario files are stored in your browser.
      <ng-container *ngIf="!loggedIn">
        To create a persistent project bound to your user account, you need to
        <a routerLink="." (click)="login()">log in</a>.
      </ng-container>
    </div>
    <div class="alert alert-success" *ngIf="creatingFromEditor">
      This Project will be created with the configuration and scenario from the Editor.
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="save(); modal.close()">
      Save
    </button>
  </ng-container>
</app-modal>
