<h1>{{assignment ? assignment.title : 'Loading...'}}</h1>
<p class="text-muted">
  <ng-container *ngIf="assignment">
    by
    <app-author-name [name]="assignment.author" [email]="assignment.email"></app-author-name>
    <i *ngIf="$any(assignment).createdBy" class="text-info bi-patch-check-fill" ngbTooltip="Registered"></i>
    <ng-container *ngIf="assignment.issuance">
      &mdash;
      Start: {{assignment.issuance | date:'medium'}}
    </ng-container>
    <ng-container *ngIf="assignment.deadline">
      &mdash;
      Deadline: {{assignment.deadline | date:'medium'}}
    </ng-container>
    <ng-container *ngIf="assignment.classroom && assignment.classroom.mossResult">
      &mdash;
      <a [href]="assignment.classroom.mossResult">Moss Results</a>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!assignment">
    Loading...
  </ng-container>
</p>
<app-markdown [markdown]="assignment?.description"></app-markdown>
