<h1>{{ assignment ? assignment.title : 'Loading...' }}</h1>
<p class="text-muted">
  @if (assignment) {
    by
    <app-author-name [name]="assignment.author" [email]="assignment.email"></app-author-name>
    @if ($any(assignment).createdBy) {
      <i class="text-info bi-patch-check-fill" ngbTooltip="Registered"></i>
    }
    @if (assignment.issuance) {
      &mdash; Start: {{ assignment.issuance | date:'medium' }}
    }
    @if (assignment.deadline) {
      &mdash; Deadline: {{ assignment.deadline | date:'medium' }}
    }
    @if (assignment.moss?.result; as mossResult) {
      &mdash;
      <a class="bi-incognito" [href]="mossResult" target="_blank">
        Moss Results
      </a>
    }
  } @else {
    Loading...
  }
</p>
<app-markdown [markdown]="assignment?.description"></app-markdown>
