<app-modal #modal>
  <ng-container modal-header>
    Configure Project
  </ng-container>
  <ng-container modal-body>
    <app-project-config-form [config]="config"></app-project-config-form>
    <hr/>
    <h4>Download as Gradle Project</h4>
    <p>
      You can download your scenario prepared as a Gradle project.
      Just extract the downloaded Zip file to a folder and open it with your favorite IDE.
      Make sure to run the <code>check</code> task afterwards to generate Java classes and execute the
      tests.
    </p>
    <button type="button" class="btn btn-success" (click)="downloadProjectZip()">
      Download
    </button>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-primary" (click)="save(); modal.close()">
      Save & Close
    </button>
  </ng-container>
</app-modal>
