# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm"
    directory: "frontend/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "@angular/*"
    groups:
      production:
        dependency-type: production
      development:
        dependency-type: development
  - package-ecosystem: "npm"
    directory: "services/"
    schedule:
      interval: "monthly"
    groups:
      production:
        dependency-type: production
      development:
        dependency-type: development
  - package-ecosystem: "npm"
    directory: "tools/"
    schedule:
      interval: "monthly"
