.split {
	position: fixed;
	padding:  1em;
}

.left {
	left:  0;
	width: 50%;
}

.right {
	right: 0;
	width: 50%;
}

.top {
	top:    0;
	height: 50%;
}

.bottom {
	bottom: 0;
	height: 50%;
}

.CodeMirror {
	border:        1px solid gray;
	border-radius: 1em;
}

.site {
	margin-top: -2vh;
	padding-top: 2vh;
	padding-bottom: 4vh; /* Höhe des Footers */
	height: auto;
	width: auto;
	min-height: 100%;
}

html, body {
	height: 100%;
}



.footer {
	height: 4vh;
	margin-top: -2vh; /* Höhe des Footers */
}
