<div class="h-100 d-flex flex-column">
  <div class="d-flex align-items-center" role="toolbar" aria-label="Toolbar">
    <div class="btn-group" role="group" aria-label="Page controls">
      <button type="button" class="btn btn-secondary"
              (click)="setFirst()"
              [disabled]="currentDisplay === 'class'">
        First
      </button>
      <button type="button" class="btn btn-secondary"
              (click)="previous()"
              [disabled]="currentDisplay === 'class'">
        Previous
      </button>
      <button type="button" class="btn btn-secondary"
              (click)="next()"
              [disabled]="currentDisplay === 'class'">
        Next
      </button>
      <button type="button" class="btn btn-secondary"
              (click)="setLast()"
              [disabled]="currentDisplay === 'class'">
        Last
      </button>
    </div>

    <ul ngbNav #nav="ngbNav" class="nav-tabs nav flex-shrink-1 overflow-auto me-auto" role="tablist" [(activeId)]="index" style="flex-wrap: nowrap">
      <li *ngFor="let tab of currentTabs" [ngbNavItem]="tab.index">
        <a ngbNavLink>
          {{tab.name}}
        </a>
        <ng-template ngbNavContent>
          <iframe class="w-100 h-100" title="Mockups" [src]="tab.url | safeResourceUrl"></iframe>
        </ng-template>
      </li>
    </ul>

    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="currentDisplay"
         (ngModelChange)="evaluateTabs()">
      <label ngbButtonLabel class="btn-info">
        <input ngbButton type="radio" class="btn-check" [value]="'pages'"> Pages
      </label>
      <label ngbButtonLabel class="btn-info">
        <input ngbButton type="radio" class="btn-check" [value]="'objects'"> Objects
      </label>
      <label ngbButtonLabel class="btn-info">
        <input ngbButton type="radio" class="btn-check" [value]="'class'"> Class
      </label>
    </div>
  </div>
  <div [ngbNavOutlet]="nav" class="flex-grow-1"></div>
</div>
