/.idea/
/.gradle/

/build/
/out/
/temp/
/data/

hs_err_pid*

*.iml

src/main/resources/**/examples/**/*.png
src/main/resources/**/examples/**/*.svg
src/main/resources/**/examples/**/*.yaml
src/main/resources/**/examples/**/*.html

**/dist/
**/node_modules/
