services:
  frontend:
    image: ${DOCKER_REGISTRY:-docker.io}/fulib/fulib.org/frontend
    build:
      context: frontend/
      platforms: [linux/amd64, linux/arm64]
    ports:
      - '11340:80'
  nats:
    image: nats:2
    restart: unless-stopped
    ports:
      - "4222:4222"
  database:
    image: mongo:8
    ports:
      - "27017:27017"
    volumes:
      - database:/data/db
  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    command: [ 'start-dev', '--import-realm' ]
    restart: unless-stopped
    environment:
      KC_HOSTNAME: localhost
      KC_HTTP_RELATIVE_PATH: /auth
      KC_DB: dev-file # override postgres to use file-based H2
      KC_DB_USERNAME: sa # https://github.com/keycloak/keycloak/issues/39046
      KC_DB_PASSWORD: password # dito
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: root
    ports:
      - "8080:8080"
    volumes:
      - "keycloak-data:/opt/keycloak/data"
      - "./dev/keycloak:/opt/keycloak/data/import" # realm import

volumes:
  database:
  keycloak-data:
