<div class="container">
  <div class="row">
    <div class="col-md-6" *ngIf="assignment?.solution">
      <div class="form position-sticky" style="top: 4rem">
        <div class="form-group">
          <label for="solutionInput">Sample Solution</label>
          <app-scenario-codemirror
            id="solutionInput"
            [content]="assignment!.solution"
            [readOnly]="true"
          ></app-scenario-codemirror>
        </div>
      </div>
    </div>
    <div class="col-12" [class.col-md-6]="assignment?.solution">
      Tasks
      <app-task-list [tasks]="assignment?.tasks"></app-task-list>
    </div>
  </div>
</div>
