<h2>Tasks</h2>
<ol *ngIf="assignment">
  <li *ngFor="let task of assignment.tasks; let i = index"
      class="text-{{getColorClass(i)}}">
    {{task.description}}
    <span class="badge badge-{{getColorClass(i)}}">
      <ng-container *ngIf="results">{{getTaskPoints(i)}} / </ng-container>
      {{task.points}}
    </span>
    <button type="button" class="btn btn-sm btn-outline-secondary m-1 p-1"
            *ngIf="results && results[i].output"
            (click)="outputExpanded[i] = !outputExpanded[i]">
      {{outputExpanded[i] ? 'Hide Output' : 'Show Output'}}
    </button>
    <button type="button" class="btn btn-sm btn-outline-primary m-1 p-1"
            *ngIf="results && solution"
            [ngbPopover]="gradePopoverContent" popoverTitle="Grade" placement="right" autoClose="outside"
            container="body">
      Grade
    </button>
    <ng-template #gradePopoverContent>
      <app-grade-form *ngIf="solution && gradings"
        [solution]="solution" [taskID]="i" [gradings]="gradings"></app-grade-form>
    </ng-template>
    <div *ngIf="results && results[i].output" [ngbCollapse]="!outputExpanded[i]" class="my-3">
      <app-autotheme-codemirror [content]="results[i].output" [options]="{
        autoRefresh: true,
        lineNumbers: true,
        readOnly: true
      }"></app-autotheme-codemirror>
    </div>
  </li>
</ol>
<p *ngIf="!assignment">
  Loading Tasks...
</p>
