<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="configModalLabel">Configure Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="packageNameField">Package/Group Name</label>
            <input type="text" class="form-control" id="packageNameField" placeholder="org.example"
                   pattern="^\w+(\.\w+)*$" [(ngModel)]="packageName">
          </div>
          <div class="form-group">
            <label for="projectNameField">Project Name</label>
            <input type="text" class="form-control" id="projectNameField" placeholder="scenario"
                   pattern="^[\w._\-]*$" [(ngModel)]="projectName">
          </div>
          <div class="form-group">
            <label for="projectVersionField">Version</label>
            <!-- pattern from https://semver.org/#is-there-a-suggested-regular-expression-regex-to-check-a-semver-string -->
            <input type="text" class="form-control" id="projectVersionField" placeholder="0.1.0"
                   pattern="^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$"
                   [(ngModel)]="version">
          </div>
          <div class="form-group">
            <label for="scenarioFileNameField">Scenario File Name</label>
            <input type="text" class="form-control" id="scenarioFileNameField" placeholder="Scenario.md"
                   pattern="^[\w._\-]+\.md$" [(ngModel)]="scenarioFileName">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()" data-dismiss="modal">
          Save & Close
        </button>
      </div>
      <div class="modal-header">
        <h5 class="modal-title">Download as Gradle Project</h5>
      </div>
      <div class="modal-body">
        <p>
          You can download your scenario prepared as a Gradle project.
          Just extract the downloaded Zip file to a folder and open it with your favorite IDE.
          Make sure to run the <code>check</code> task afterwards to generate Java classes and execute the
          tests.
        </p>
        <form>
          <!--
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="includeJavaFXCheckBox">
            <label class="form-check-label" for="includeJavaFXCheckBox">Include JavaFX Dependency</label>
          </div>
          -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="downloadProjectZip()">
          Download
        </button>
      </div>
    </div>
  </div>
</div>
