<ol *ngIf="tasks else loading">
  <li *ngFor="let task of tasks" class="text-{{task | taskColor:points[task._id]}}">
    {{task.description}}
    <span class="badge badge-{{task | taskColor:points[task._id]}}">
      <ng-container *ngIf="evaluations">{{points[task._id]}} / </ng-container>
      {{task.points}}
    </span>
    <button type="button" class="btn btn-sm btn-outline-secondary m-1 p-1"
            *ngIf="evaluations?.[task._id]?.remark"
            (click)="outputExpanded[task._id] = !outputExpanded[task._id]">
      {{outputExpanded[task._id] ? 'Hide Output' : 'Show Output'}}
    </button>
    <button
      *ngIf="evaluations && solution"
      class="btn btn-sm mx-1 p-1"
      [class.btn-outline-primary]="!evaluations[task._id]"
      [class.btn-outline-secondary]="evaluations[task._id]"
      [ngbPopover]="gradePopoverContent" popoverTitle="Grade" placement="right" autoClose="outside" container="body"
    >
      {{ evaluations[task._id] ? '&check; Graded' : 'Grade' }}
    </button>
    <ng-template #gradePopoverContent>
      <app-grade-form *ngIf="solution && evaluations"
                      [solution]="solution" [task]="task._id" [evaluation]="evaluations[task._id]"></app-grade-form>
    </ng-template>
    <div *ngIf="evaluations?.[task._id]?.remark as output" [ngbCollapse]="!outputExpanded[task._id]" class="my-3">
      <app-autotheme-codemirror [content]="output" [options]="{
        autoRefresh: true,
        lineNumbers: true,
        readOnly: true
      }"></app-autotheme-codemirror>
    </div>
    <app-task-list *ngIf="task.children.length"
                   [tasks]="task.children" [solution]="solution" [evaluations]="evaluations"
    ></app-task-list>
  </li>
</ol>
<ng-template #loading>
  Loading Tasks...
</ng-template>
