<ol *ngIf="tasks else loading">
  <li *ngFor="let task of tasks" class="text-{{task | taskColor:points[task._id]}}">
    {{task.description}}
    <span class="badge badge-{{task | taskColor:points[task._id]}}">
      <ng-container *ngIf="evaluations">{{points[task._id]}} / </ng-container>
      {{task.points}}
    </span>
    <a
      *ngIf="evaluations && solution"
      [routerLink]="['tasks', task._id]"
      [class.text-primary]="!evaluations[task._id]"
      [class.text-secondary]="evaluations[task._id]"
    >
      {{ evaluations[task._id] ? '&check; Graded' : 'Grade' }}
    </a>
    <app-task-list *ngIf="task.children.length"
                   [tasks]="task.children" [solution]="solution" [evaluations]="evaluations"
    ></app-task-list>
  </li>
</ol>
<ng-template #loading>
  Loading Tasks...
</ng-template>
