<ol *ngIf="tasks else loading">
  <li *ngFor="let task of tasks" [class]="points ? 'text-' + (task | taskColor:points[task._id]) : undefined">
    {{task.description}}
    <span class="badge badge-{{task | taskColor:points?.[task._id]}}">
      <ng-container *ngIf="points">{{points[task._id]}} / </ng-container>
      {{task.points}}
    </span>
    <a
      *ngIf="evaluations"
      [routerLink]="[task._id]"
      [class.text-primary]="!evaluations[task._id]"
      [class.text-secondary]="evaluations[task._id]"
    >
      {{ evaluations[task._id] ? '&check; Graded' : 'Grade' }}
    </a>
    <app-task-list
      *ngIf="task.children.length"
      [tasks]="task.children"
      [evaluations]="evaluations"
      [points]="points"
    ></app-task-list>
  </li>
</ol>
<ng-template #loading>
  Loading Tasks...
</ng-template>
