<as-split class="h-100" direction="horizontal">
  <as-split-area *ngFor="let row of editors; let index=index; let last=last; let first=first" class="position-relative">
    <app-file-tabs [editors]="row" [active]="index === active" (focusin)="active = index"></app-file-tabs>
    <div class="position-absolute" style="top: 0.25rem; right: 0.5rem">
      <button *ngIf="!first" type="button" class="btn btn-sm btn-outline-secondary ml-2" ngbTooltip="Close" container="body"
              (click)="closeTab(index)">
        <i class="bi-x"></i>
      </button>
      <button *ngIf="last" type="button" class="btn btn-sm btn-outline-secondary ml-2" ngbTooltip="Split" container="body"
              (click)="addTab()">
        <i class="bi-layout-split"></i>
      </button>
    </div>
  </as-split-area>
</as-split>
