<div class="container">
  <h1>{{assignment ? assignment.title : 'Loading...'}}</h1>
  <p class="text-muted">
    <ng-container *ngIf="assignment">
      by {{assignment.author}}
      &mdash;
      <a href="mailto:{{assignment.email}}">{{assignment.email}}</a>
      &mdash;
      Deadline: {{assignment.deadline | date:'medium'}}
    </ng-container>
    <ng-container *ngIf="!assignment">
      Loading...
    </ng-container>
  </p>

  <p *ngIf="assignment" [innerHTML]="assignment.descriptionHtml | safeHtml">
  </p>
  <p *ngIf="!assignment">
    Loading Description...
  </p>

  <h2>Tasks</h2>
  <ol *ngIf="assignment">
    <li *ngFor="let task of assignment.tasks">
      {{task.description}}
      <span class="badge badge-secondary">{{task.points}}</span>
    </li>
  </ol>
  <p *ngIf="!assignment">
    Loading Tasks...
  </p>

  <h2><label for="solutionInput">Your Solution</label></h2>
  <p>
    <app-autotheme-codemirror id="solutionInput" [(content)]="solution" [options]="{
      mode: 'markdown',
      lineNumbers: true,
      lineWrapping: true,
      styleActiveLine: true
    }"></app-autotheme-codemirror>
  </p>
  <p id="solutionInfo">
    Your solution is checked automatically when you make changes.
  </p>

  <h2>Your Info</h2>

  <div class="form">
    <div class="form-group row">
      <label for="nameInput" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nameInput" placeholder="John Doe" [(ngModel)]="name">
      </div>
    </div>
    <div class="form-group row">
      <label for="studentIDInput" class="col-sm-2 col-form-label">Student ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="studentIDInput" placeholder="12345678" [(ngModel)]="studentID">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailInput" class="col-sm-2 col-form-label">E-Mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailInput" placeholder="jdoe@example.com" [(ngModel)]="email">
      </div>
    </div>
  </div>

  <div class="text-center">
    <p>
      When you are done with your solution, click "Submit".
      You can still make changes afterwards.
    </p>
    <button type="button" class="btn btn-primary btn-lg"
            [disabled]="submitting"
            (click)="submit()">
      {{submitting ? 'Submitting...' : 'Submit'}}
    </button>
  </div>
</div>

<ng-template #successModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="successModalLabel">Solution Submitted</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Congratulations! Your solution has been submitted!
    </p>
    <p>
      Submission Time: <b>{{timeStamp | date:'medium'}}</b>
    </p>
    <p>
      You can view your submission with the following link:
    </p>
    <p class="text-center">
      <a class="text-monospace" href="/assignments/{{assignment.id}}/solutions/{{id}}">
        {{baseURL}}/assignments/{{assignment.id}}/solutions/{{id}}
      </a>
    </p>
    <p>
      To view your solution and comments, you may be asked for the following token.
      Please save it or note it down somewhere.
    </p>
    <p class="text-center">
      <span class="h4 text-monospace">{{token}}</span>
    </p>
    <p>
      If you want to make changes, you can close this window and submit again.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
