<div class="container">
  @if (assignment && !assignment.classroom?.codeSearch) {
    <div class="alert alert-warning">
      <h4 class="alert-heading">
        Code Search is disabled
      </h4>
      To use Code Search, you need to enable it in the
      <a routerLink="../edit/classroom">
        Assignment Classroom Settings
      </a>
      .
      Code will be indexed when importing new solutions.
    </div>
  }
  <div class="mb-3">
    <div class="mb-3">
      <label class="form-label" for="searchArea">Search for Code Snippet</label>
      <textarea class="form-control font-monospace" id="searchArea"
                [ngModel]="search$.value" (ngModelChange)="search$.next($event)"
                [disabled]="!assignment?.classroom?.codeSearch || syncSelection$.value"
      ></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label" for="globInput">Filename Glob</label>
      <input type="text" class="form-control" id="globInput" [ngModel]="glob$.value"
             (ngModelChange)="glob$.next($event)">
    </div>
    <div class="mb-3">
      <label class="form-label" for="wildcardInput">Wildcard</label>
      <input type="text" class="form-control" id="wildcardInput" [ngModel]="wildcard$.value"
             (ngModelChange)="wildcard$.next($event)">
      <div class="form-text">
        Occurrences of this string will be treated as a wildcard in the search query.
      </div>
    </div>
    <div class="form-check">
      <input
        type="checkbox" class="form-check-input" id="syncCheck"
        [ngModel]="syncSelection$.value"
        (ngModelChange)="syncSelection$.next($event)"
      >
      <label class="form-check-label" for="syncCheck">Sync with Selection</label>
    </div>
    @if (syncSelection$.value) {
      <div class="mb-3">
        <label class="form-label" for="authorInput">Author</label>
        <input type="text" class="form-control" id="authorInput" [(ngModel)]="author">
      </div>
    }
  </div>
  <span class="text-muted">
    {{ results.length }} Results
  </span>
  <ul class="list-group">
    @for (result of results;track result.solution) {
      <li class="list-group-item">
        <h4>
          @if (solutions[result.solution];as solution) {
            <a [routerLink]="['../solutions', solution._id]">
              Solution
            </a>
            by
            {{ solution.author.name || solution.author.github }}
          }
          <span class="text-muted">
            {{ result.snippets.length }} Snippets
          </span>
        </h4>
        <ul class="list-group">
          @for (snippet of result.snippets;track snippet) {
            <li class="list-group-item">
              <app-snippet
                [assignment]="assignment"
                [solution]="solutions[result.solution]"
                [snippet]="snippet"
                [expanded]="results.length < 10 && result.snippets.length < 10"
              ></app-snippet>
            </li>
          }
        </ul>
      </li>
    }
  </ul>
</div>
