<iframe *ngIf="container" [src]="container.url | safeResourceUrl" allow="clipboard-read; clipboard-write"
        class="w-100 h-100 border-0"></iframe>
<ng-template #loadingModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="loading-modal-title">
      Loading Project...
    </h4>
    <a class="btn-close" aria-label="Close" (click)="modal.close()" routerLink="/projects">
    </a>
  </div>
  <div class="modal-body">
    Please hang tight while we set things up for you...
    <ul>
      <li *ngFor="let progressItem of progressOrder" [class.text-success]="progress[progressItem]">
        {{ progressLabels[progressItem] }}
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class="btn btn-secondary" (click)="modal.close()" routerLink="/projects">
      Cancel
    </a>
  </div>
</ng-template>
<router-outlet></router-outlet>
