<ngb-alert *ngIf="container && showAlert" type="success" class="m-3" (closed)="showAlert = false">
  <h4>
    Your container is now ready!
  </h4>
  <p>
    If prompted for a login password, use the following:
  </p>
  <p class="text-monospace text-body">
    {{ container.token }}
    <button class="btn btn-sm btn-outline-primary" *ngxClipboardIfSupported ngxClipboard [cbContent]="container.token">
      Copy
    </button>
  </p>
</ngb-alert>
<iframe *ngIf="container" [src]="container.url | safeResourceUrl" class="w-100 h-100 border-0"></iframe>
<ng-template #loadingModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="loading-modal-title">
      Loading Project...
    </h4>
    <a class="close" aria-label="Close" (click)="modal.close()" routerLink="/projects">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-body">
    Please hang tight while we set things up for you...
    <ul>
      <li *ngFor="let progressItem of progressOrder" [class.text-success]="progress[progressItem]">
        {{ progressLabels[progressItem] }}
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class="btn btn-secondary" (click)="modal.close()" routerLink="/projects">
      Cancel
    </a>
  </div>
</ng-template>
