.links-link {
  display: inline-block !important;
  padding: .1875rem .5rem;
  color: var(--bs-body-color);
  text-decoration: none;
}

.links-link:hover, .links-link:focus, .links-link.active {
  color: var(--bs-primary-text-emphasis);
  border-radius: var(--bs-border-radius);
  background-color: var(--bs-primary-bg-subtle);
}
