<header class="fixed-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">fulib.org</a>
  <button class="navbar-toggler" type="button" (click)="menuCollapsed = !menuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="menuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item" routerLinkActive="active" ngbDropdown>
        <a tabindex="0" class="nav-link" ngbDropdownToggle id="assignmentsDropdown" role="button">
          Assignments
        </a>
        <div ngbDropdownMenu aria-labelledby="assignmentsDropdown">
          <a ngbDropdownItem routerLink="/assignments/solutions">
            My Solutions
          </a>
          <a ngbDropdownItem routerLink="/assignments">
            My Assignments
          </a>
          <a ngbDropdownItem routerLink="/assignments/courses">
            My Courses
          </a>
          <a ngbDropdownItem routerLink="/assignments/create">
            Create Assignment
          </a>
          <a ngbDropdownItem routerLink="/assignments/courses/create">
            Create Course
          </a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a tabindex="0" class="nav-link" ngbDropdownToggle id="githubDropdown" role="button">
          GitHub
        </a>
        <div ngbDropdownMenu aria-labelledby="githubDropdown">
          <a *ngFor="let repo of repos"
             ngbDropdownItem href="https://github.com/fujaba/{{repo}}">
            {{repo}}
            <span class="text-muted" *ngIf="versions && versions[repo]"> (v{{versions[repo]}})</span>
          </a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a tabindex="0" class="nav-link" ngbDropdownToggle id="helpDropdown" role="button">
          Help
        </a>
        <div ngbDropdownMenu aria-labelledby="helpDropdown">
          <a ngbDropdownItem href="https://fujaba.gitbook.io/fulib-scenarios/web-app/getting-started">
            Getting Started
          </a>
          <a ngbDropdownItem href="https://fujaba.gitbook.io/fulib-scenarios/">
            fulibScenarios Documentation
          </a>
          <a ngbDropdownItem href="https://stackoverflow.com/questions/tagged/fulibScenarios">
            fulibScenarios on StackOverflow
          </a>
          <a ngbDropdownItem [routerLink]="[{outlets: {modal: 'feedback'}}]">
            Feedback
          </a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a tabindex="0" class="nav-link" ngbDropdownToggle id="legalDropdown" role="button">
          Legal
        </a>
        <div ngbDropdownMenu aria-labelledby="legalDropdown">
          <a ngbDropdownItem [routerLink]="[{outlets: {modal: 'about'}}]">
            About
          </a>
          <a ngbDropdownItem href="http://www.uni-kassel.de/uni/impressum.html">
            Imprint
          </a>
          <a ngbDropdownItem href="https://www.uni-kassel.de/uni/footer-2/datenschutz/">
            Privacy Policy
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{outlets: {modal: 'changelog'}}]">
          What's New
        </a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a tabindex="0" class="nav-link" ngbDropdownToggle id="accountDropdown" role="button">
          <span class="sr-only">Account</span>
          <!-- https://primer.style/octicons/person-24 -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="currentColor" fill-rule="evenodd"
                  d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z"></path>
          </svg>
        </a>
        <div ngbDropdownMenu aria-labelledby="accountDropdown">
          <h6 class="dropdown-header">Account</h6>
          <span class="dropdown-item-text text-muted">
            {{username ? 'Logged in as ' : 'Not logged in'}}<b *ngIf="username">{{username}}</b>.
          </span>
          <a *ngIf="username" ngbDropdownItem href="https://avocado.uniks.de/auth/realms/fulib.org/account">
            Edit Account
          </a>
          <button ngbDropdownItem (click)="username ? logout() : login()">
            {{username ? 'Logout' : 'Login'}}
          </button>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Settings</h6>
          <a ngbDropdownItem [routerLink]="[{outlets: {modal: 'privacy'}}]">
            Edit Privacy Preferences
          </a>
          <div ngbDropdownItem>
            <ngbd-theme-switch></ngbd-theme-switch>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

</header>
