<div class="container">
  <h1 class="d-flex align-items-center">
    My Courses
    <a class="btn btn-success ml-auto" routerLink="/assignments/courses/create">
      <i class="bi-list-ol"></i>
      New Course
    </a>
  </h1>

  <div class="list-group">
    <a *ngFor="let course of courses"
       class="list-group-item list-group-item-action"
       routerLink="/assignments/courses/{{course.id}}"
    >
      <h3>
        {{course.title}}
      </h3>
      <div class="text-muted text-truncate">
        {{course.description}}
      </div>
    </a>
  </div>

  <div class="card" *ngIf="courses.length === 0">
    <div class="card-body">
      <h5 class="card-title">
        Welcome to Courses!
      </h5>
      <p class="card-text">
        Courses allow you to:
      </p>
      <div class="media align-items-center">
        <i class="bi-clipboard-check feature-icon"></i>
        <div class="media-body">
          Create an interactive series of assignments for your students.
        </div>
      </div>
      <div class="media align-items-center">
        <i class="bi-list-ol feature-icon"></i>
        <div class="media-body">
          Define a logical order and progression for assignments.
        </div>
      </div>
      <div class="media align-items-center">
        <i class="bi-lightbulb feature-icon"></i>
        <div class="media-body">
          Teach a complex topic separated into smaller chunks.
        </div>
      </div>
    </div>
  </div>
</div>
