<p>
  After importing from GitHub or Files, you can import embeddings.
</p>
@if (costsAreFinal) {
  <hr/>
  <p>
    The import has been completed.
    The following costs have been applied to your OpenAI account.
  </p>
} @else {
  <p>
    Here is an estimate of the token costs.
    Actual costs may be <strong>lower</strong> if the embeddings are already cached,
    or <strong>slightly higher</strong> due to some tokens like filenames being added to improve results.
    Charges will be applied to your OpenAI account.
  </p>
  <p>
    Please review the results below and click <b>Import</b> to confirm.
  </p>
}
@if (costs) {
  <div class="row">
    <app-statistic-value class="col" label="Solutions" [value]="costs.solutions" [standalone]="true"></app-statistic-value>
    <app-statistic-value class="col" label="Files" [value]="costs.files" [standalone]="true"></app-statistic-value>
    <app-statistic-value class="col" label="Functions" [value]="costs.functions.length" [standalone]="true"></app-statistic-value>
    <app-statistic-value class="col" label="Tokens" [value]="costs.tokens" [standalone]="true"></app-statistic-value>
    <app-statistic-value class="col" [label]="costsAreFinal ? 'Total Cost' : 'Estimated Cost'" [value]="costs.estimatedCost | currency:'USD'" [standalone]="true"></app-statistic-value>
  </div>
  <div class="mb-3">
    <label for="functions">Imported Functions</label>
    <textarea class="form-control" id="functions" rows="6" readonly>{{ costs.functions.join('\n') }}</textarea>
  </div>
  @if (costs.ignoredFiles.length > 0) {
    <div class="mb-3">
      <label for="ignoredFiles">Ignored Files</label>
      <textarea class="form-control" id="ignoredFiles" rows="6" readonly>{{ costs.ignoredFiles.join('\n') }}</textarea>
    </div>
  }
  @if (costs.ignoredFunctions.length > 0) {
    <div class="mb-3">
      <label for="ignoredFunctions">Ignored Functions</label>
      <textarea class="form-control" id="ignoredFunctions" rows="6" readonly>{{ costs.ignoredFunctions.join('\n') }}</textarea>
    </div>
  }
}
@if (!costsAreFinal && costs && costs.functions.length > rateLimit) {
  <div class="alert alert-warning">
    The number of functions exceeds the OpenAI rate limit.
    The import may take up to {{ ceil(costs.functions.length / rateLimit) }} minutes.
  </div>
}
