<ng-template [ngIf]="saved && feedback.appropriate && feedback.helpful && feedback.understandable" [ngIfElse]="noBonus">
  <div class="alert alert-success">
    Vielen Dank für dein Feedback!
    Dir wurden Bonuspunkte gutgeschrieben.
  </div>
</ng-template>
<ng-template #noBonus>
  <div class="alert alert-info">
    Bitte fülle alle Felder aus und speichere das Formular, um Bonuspunkte zu erhalten.
  </div>
</ng-template>
<ngbx-validator-form [type]="Feedback" [model]="feedback"/>
<button class="btn btn-primary" (click)="save()">
  Speichern
</button>
