$outline-color: #777;
$badge-color: #fff;
$badge-bg: #404040;

.assignment-list {
  border-top: 1px solid $outline-color;
  border-bottom: 1px solid $outline-color;
}

.assignment-list {
  list-style: none;
  counter-reset: my-awesome-counter;
  padding-inline-start: 0;
}

.assignment-item {
  position: relative;
  display: flex;
  padding: 8px 0;
  margin-left: 16px;
}

.assignment-item:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;

  content: "";

  background-color: $outline-color;
}

.assignment-item-badge {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  margin-left: -15px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  color: $badge-color;
  background-color: $badge-bg;
  border: 2px solid $outline-color;
  border-radius: 50%;
}

.assignment-item-body {
  min-width: 0;
  max-width: 100%;
  margin-top: 4px;
  flex: auto;
}
