<div class="row">
  <div class="col-md-3 bg-light bg-darkmode-dark">
    <div class="container">
      <h1>{{course?.title || 'Loading Title...'}}</h1>

      <div [innerHTML]="(course?.descriptionHtml || 'Loading Description...') | safeHtml"></div>

      <ol class="assignment-list">
        <li *ngFor="let assignment of course?.assignments; let i=index" class="assignment-item">
          <div class="assignment-item-badge">
            {{i + 1}}
          </div>
          <div class="assignment-item-body">
            <a routerLink="/assignments/courses/{{courseID}}/assignments/{{assignment?.id}}">
              {{assignment?.title || 'Loading...'}}
            </a>
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="col-md-9">
    <app-solve *ngIf="assignmentID"></app-solve>
  </div>
</div>
