<div class="row">
  <div class="col-md-3 bg-light bg-darkmode-dark">
    <div class="container">
      <h1>{{course?.title || 'Loading Title...'}}</h1>

      <div [innerHTML]="(course?.descriptionHtml || 'Loading Description...') | safeHtml"></div>

      <ol>
        <li *ngFor="let assignment of course?.assignments">
          <a routerLink="/assignments/courses/{{courseID}}/assignments/{{assignment.id}}">
            {{assignment.title}}
          </a>
        </li>
      </ol>
    </div>
  </div>
  <div class="col-md-9">
    <app-solve *ngIf="assignmentID"></app-solve>
  </div>
</div>
