<div class="container">
  <app-assignment-info [assignment]="assignment"></app-assignment-info>

  <div class="btn-group mb-3" role="group" aria-label="Actions">
    <a class="btn btn-primary" [routerLink]="['/assignments', assignment?._id, 'edit']">
      <i class="bi-pencil"></i>
      Edit Assignment
    </a>
    <button
      *ngIf="assignment?.classroom?.org && assignment?.classroom?.prefix"
      class="btn btn-success"
      ngbTooltip="Import Solutions from GitHub Classroom (requires Account linked to GitHub)"
      [disabled]="importing"
      (click)="import()"
    >
      <i *ngIf="!importing" class="bi-download"></i>
      <span *ngIf="importing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ importing ? 'Importing Solutions...' : 'Import Solutions' }}
    </button>
  </div>

  <ul ngbNav #nav="ngbNav" [activeId]="(route.queryParams | async)?.['tab'] ?? 'solutions'" class="nav-tabs mb-3">
    <li ngbNavItem="tasks">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'tasks'}">
        Tasks
      </a>
      <ng-template ngbNavContent>
        <div class="container">
          <app-task-list [tasks]="assignment?.tasks"></app-task-list>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="sample">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'sample'}">
        Sample Solution
      </a>
      <ng-template ngbNavContent>
        <div class="container">
          <app-scenario-codemirror
            [content]="assignment?.solution ?? 'Loading...'"
            [readOnly]="true"
            [autoRefresh]="true"
          ></app-scenario-codemirror>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="share">
      <a ngbNavLink routerLink="share">
        Sharing
      </a>
    </li>
    <li ngbNavItem="solutions">
      <a ngbNavLink routerLink="solutions">
        Solutions
      </a>
    </li>
    <li ngbNavItem="statistics">
      <a ngbNavLink routerLink="statistics">
        Statistics
      </a>
    </li>
  </ul>
</div>
<div [ngbNavOutlet]="nav"></div>
<router-outlet></router-outlet>
