<div class="container">
  <app-assignment-info [assignment]="assignment"></app-assignment-info>

  <div class="btn-group mb-3" role="group" aria-label="Actions">
    <a class="btn btn-primary" [routerLink]="['/assignments', assignment?._id, 'edit']">
      <i class="bi-pencil"></i>
      Edit Assignment
    </a>
    <button
      *ngIf="assignment?.classroom?.org && assignment?.classroom?.prefix"
      class="btn btn-success"
      ngbTooltip="Import Solutions from GitHub Classroom (requires Account linked to GitHub)"
      (click)="import()"
    >
      <i class="bi-download"></i>
      Import Solutions
    </button>
  </div>

  <ul ngbNav #nav="ngbNav" [activeId]="(activatedRoute.queryParams | async)?.['tab'] ?? 'solutions'" class="nav-tabs mb-3">
    <li ngbNavItem="tasks">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'tasks'}">
        Tasks
      </a>
      <ng-template ngbNavContent>
        <div class="container">
          <app-task-list [tasks]="assignment?.tasks"></app-task-list>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="sample">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'sample'}">
        Sample Solution
      </a>
      <ng-template ngbNavContent>
        <div class="container">
          <app-scenario-codemirror
            [content]="assignment?.solution ?? 'Loading...'"
            [readOnly]="true"
            [autoRefresh]="true"
          ></app-scenario-codemirror>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="share">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'share'}">
        Sharing
      </a>
      <ng-template ngbNavContent>
        <div class="container">
          <h5 class="card-title">
            Student Link
          </h5>
          <p>
            You can now give your students the following link:
          </p>
          <div class="input-group">
            <input #linkInput type="text" class="form-control" readonly [value]="origin + '/assignments/' + assignment?._id">
            <div class="input-group-append" *ngxClipboardIfSupported>
              <button type="button" class="btn btn-outline-secondary" [ngxClipboard]="linkInput">
                Copy
              </button>
            </div>
          </div>
          <hr/>
          <h5 class="card-title">
            Access Token
          </h5>
          <p>
            To view submissions on other devices, you may be asked for the following token.
            Please save it or write it down somewhere.
            <span class="text-danger">
              Keep this token secret, do not share it with students!
            </span>
          </p>
          <div class="input-group">
            <input #tokenInput type="text" class="form-control text-monospace" readonly [value]="assignment?.token">
            <div class="input-group-append" *ngxClipboardIfSupported>
              <button type="button" class="btn btn-outline-secondary" [ngxClipboard]="tokenInput">
                Copy
              </button>
            </div>
          </div>
          <hr/>
          <h5 class="card-title">
            Teaching Assistant Invitation
          </h5>
          <p>
            You can invite Teaching Assistants by giving them the following link.
            <span class="text-danger">
              It includes the Access Token, so keep the link secret and do not share it with students!
            </span>
          </p>
          <div class="input-group">
            <input #taLinkInput type="text" class="form-control" readonly [value]="origin + '/assignments/' + assignment?._id + '/solutions?atok=' + assignment?.token">
            <div class="input-group-append" *ngxClipboardIfSupported>
              <button type="button" class="btn btn-outline-secondary" [ngxClipboard]="taLinkInput">
                Copy
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="solutions">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'solutions'}">
        Solutions
      </a>
      <ng-template ngbNavContent>
        <app-solution-table></app-solution-table>
      </ng-template>
    </li>
  </ul>
</div>
<div [ngbNavOutlet]="nav"></div>
<router-outlet></router-outlet>
