<footer class="page-footer font-small">

<nav class="footer navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">fulib.org</a>
  <button class="navbar-toggler" type="button" (click)="menuCollapsed = !menuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="menuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://fujaba.gitbook.io/fulib-scenarios/">
          Documentation
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" ngbDropdown placement="top-right">
        <a tabindex="0" class="nav-link" ngbDropdownToggle id="assignmentsDropdown" role="button">
          Assignments
        </a>
        <div ngbDropdownMenu aria-labelledby="assignmentsDropdown">
          <a ngbDropdownItem routerLink="/assignments/solutions">
            My Solutions
          </a>
          <a ngbDropdownItem routerLink="/assignments">
            My Assignments
          </a>
          <a ngbDropdownItem routerLink="/assignments/create">
            Create Assignment
          </a>
          <a ngbDropdownItem routerLink="/assignments/courses/create">
            Create Course
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://stackoverflow.com/questions/tagged/fulibScenarios">
          StackOverflow
        </a>
      </li>
      <li class="nav-item" ngbDropdown placement="top-right">
        <a tabindex="0" class="nav-link" ngbDropdownToggle id="githubDropdown" role="button">
          GitHub
        </a>
        <div ngbDropdownMenu aria-labelledby="githubDropdown">
          <a *ngFor="let repo of repos"
             ngbDropdownItem href="https://github.com/fujaba/{{repo}}">
            {{repo}}
            <span class="text-muted" *ngIf="versions && versions[repo]"> (v{{versions[repo]}})</span>
          </a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown placement="top-right">
        <a tabindex="0" class="nav-link" ngbDropdownToggle id="legalDropdown" role="button">
          Legal
        </a>
        <div ngbDropdownMenu aria-labelledby="legalDropdown">
          <a ngbDropdownItem href="http://www.uni-kassel.de/uni/impressum.html">
            Imprint
          </a>
          <a ngbDropdownItem href="https://www.uni-kassel.de/uni/footer-2/datenschutz/">
            Privacy Policy
          </a>
          <button ngbDropdownItem (click)="openPrivacyModal()">
            Edit Privacy Preferences
          </button>
        </div>
      </li>
      <li class="nav-item">
        <a tabindex="0" role="button" class="nav-link" (click)="changelog.open()">
          What's New
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{outlets: {modal: 'feedback'}}]">
          Feedback
        </a>
      </li>
    </ul>
    <ngbd-theme-switch></ngbd-theme-switch>
  </div>
</nav>

</footer>

<app-changelog #changelog></app-changelog>

<ng-template #privacyModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="privacyModalLabel">We value your privacy!</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      This website uses cookies and other local data storage technology to make your experience more
      pleasant.
      Remote data is stored anonymously and used only for scientific and analytic purposes.
    </p>

    <p>
      Please select your preferred privacy option below:
    </p>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" value="all" [(ngModel)]="privacy">
        I agree to the use of local and remote data storage.
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" value="local" [(ngModel)]="privacy">
        I agree to the use of local data storage, but not remote.
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" value="none" [(ngModel)]="privacy">
        I do not agree to the use of local or remote data storage.
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" value="nobanner" [(ngModel)]="privacy">
        I do not agree to the use of local or remote data storage,
        except for the use of local storage to hide this popup in the future.
      </label>
    </div>

    <p></p>

    <p>
      You can show this popup again and edit your preferences at any time by selecting
      <b>Legal</b> &rarr; <b>Edit Privacy Preferences</b> at the bottom of the page.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close(); savePrivacy()">
      Save & Close
    </button>
  </div>
</ng-template>
