<div class="container">
  <app-assignment-info [assignment]="assignment"></app-assignment-info>

  <ul ngbNav #nav="ngbNav" [activeId]="(route.queryParams | async)?.['tab'] ?? 'solution'" class="nav-tabs mb-3">
    <li ngbNavItem="solution">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'solution'}">
        Solution & Tasks
      </a>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-md-6" *ngIf="solution && solution.solution">
            <div class="form position-sticky" style="top: 4rem">
              <div class="form-group">
                <label for="solutionInput">Solution</label>
                <app-scenario-codemirror
                  id="solutionInput"
                  [content]="solution ? solution.solution : 'Loading...'"
                  [markers]="markers"
                  [readOnly]="true"
                ></app-scenario-codemirror>
              </div>
              <p class="text-center">
                Submitted <b>{{solution.timestamp | date:'medium'}}</b>.
              </p>
            </div>
          </div>
          <div class="col-12" [class.col-md-6]="solution && solution.solution">
            Tasks
            <app-task-list [tasks]="assignment?.tasks" [evaluations]="evaluations" [points]="points"></app-task-list>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="info">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'info'}">
        Student Info
      </a>
      <ng-template ngbNavContent>
        <div class="form">
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" readonly
                   [ngModel]="solution ? solution.author.name : 'Loading...'">
          </div>
          <div class="form-group">
            <label for="studentIDInput">Student ID</label>
            <input type="text" class="form-control" id="studentIDInput" readonly
                   [ngModel]="solution ? solution.author.studentId : 'Loading...'">
          </div>
          <div class="form-group">
            <label for="emailInput">E-Mail</label>
            <div class="input-group">
              <input type="text" class="form-control" id="emailInput" readonly
                     [ngModel]="solution ? solution.author.email : 'Loading...'">
              <div class="input-group-append" *ngIf="solution && solution.author.email">
                <a class="btn btn-primary"
                   href="mailto:{{solution.author.email}}"
                   ngbTooltip="Compose Mail"
                >
                  <i class="bi-envelope"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="githubInput">GitHub Username</label>
            <div class="input-group">
              <input type="text" class="form-control" id="githubInput" readonly
                     [ngModel]="solution ? solution.author.github : 'Loading...'">
              <div class="input-group-append" *ngIf="solution && solution.author.github">
                <a class="btn btn-primary"
                   href="https://github.com/{{solution.author.github}}"
                   target="_blank"
                   ngbTooltip="Open on GitHub"
                >
                  <i class="bi-github"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="solution && solution.commit">
            <label for="commitInput">Git Commit</label>
            <div class="input-group">
              <input type="text" class="form-control text-monospace" id="commitInput" readonly
                   [ngModel]="solution.commit">
              <div class="input-group-append">
                <a class="btn btn-primary"
                   href="https://github.com/{{assignment?.classroom?.org}}/{{assignment?.classroom?.prefix}}-{{solution.author.github}}/tree/{{solution.commit}}"
                   target="_blank"
                   ngbTooltip="Open on GitHub"
                >
                  <i class="bi-github"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="comments">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'comments'}">
        Comments
      </a>
      <ng-template ngbNavContent>
        <app-comment-list></app-comment-list>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
<router-outlet></router-outlet>
