<div class="container">
  <h1>
    <a class="bi-chevron-left" ngbTooltip="Back to All Solutions" routerLink="..">
    </a>
    Solution by {{solution?.author?.name || solution?.author?.github}}
  </h1>
  <p class="text-muted" *ngIf="solution">
    <ng-container *ngIf="solution.author.github">
      <a class="bi-github" href="https://github.com/{{solution.author.github}}">
        {{ solution.author.github }}
      </a>
      &bull;
    </ng-container>
    <ng-container *ngIf="solution.author.email">
      <a class="bi-envelope" href="mailto:{{solution.author.email}}">
        {{ solution.author.email }}
      </a>
      &bull;
    </ng-container>
    <span
      *ngIf="assignment && assignment.deadline && solution.timestamp && assignment.deadline < solution.timestamp else submitted"
      class="text-danger"
      [ngbTooltip]="'Deadline: ' + (assignment.deadline | date:'medium')"
    >
      <ng-container [ngTemplateOutlet]="submitted"></ng-container>
    </span>
    <ng-template #submitted>
      <i class="bi-clock"></i>
      Submitted:
      {{solution?.timestamp | date:'medium'}}
    </ng-template>
  </p>

  <ul ngbNav #nav="ngbNav" [activeId]="(route.queryParams | async)?.['tab'] ?? 'solution'" class="nav-tabs mb-3">
    <li ngbNavItem="solution">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'solution'}">
        Solution & Tasks
      </a>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-md-6" *ngIf="solution && solution.solution">
            <div class="form position-sticky" style="top: 4rem">
              <div class="form-group">
                <label for="solutionInput">Solution</label>
                <app-scenario-codemirror
                  id="solutionInput"
                  [content]="solution ? solution.solution : 'Loading...'"
                  [markers]="markers"
                  [readOnly]="true"
                ></app-scenario-codemirror>
              </div>
              <p class="text-center">
                Submitted <b>{{solution.timestamp | date:'medium'}}</b>.
              </p>
            </div>
          </div>
          <div class="col-12" [class.col-md-6]="solution && solution.solution">
            Tasks
            <app-task-list [tasks]="assignment?.tasks" [evaluations]="evaluations" [points]="points"></app-task-list>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="info">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'info'}">
        Student Info
      </a>
      <ng-template ngbNavContent>
        <app-solution-details></app-solution-details>
      </ng-template>
    </li>
    <li ngbNavItem="share">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'share'}">
        Sharing
      </a>
      <ng-template ngbNavContent>
        <app-solution-share></app-solution-share>
      </ng-template>
    </li>
    <li ngbNavItem="comments">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'comments'}">
        Comments
      </a>
      <ng-template ngbNavContent>
        <app-comment-list></app-comment-list>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
<router-outlet></router-outlet>
