<div class="container">
  <app-assignment-info [assignment]="assignment"></app-assignment-info>

  <ul ngbNav #nav="ngbNav" [activeId]="(route.queryParams | async)?.['tab'] ?? 'solution'" class="nav-tabs mb-3">
    <li ngbNavItem="solution">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'solution'}">
        Solution
      </a>
      <ng-template ngbNavContent>
        <app-scenario-codemirror
          id="solutionInput"
          [content]="solution ? solution.solution : 'Loading...'"
          [markers]="markers"
          [readOnly]="true"
        ></app-scenario-codemirror>
      </ng-template>
    </li>
    <li ngbNavItem="tasks">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'tasks'}">
        Tasks
      </a>
      <ng-template ngbNavContent>
        <app-task-list [tasks]="assignment?.tasks" [evaluations]="evaluations" [points]="points"></app-task-list>
      </ng-template>
    </li>
    <li ngbNavItem="info">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'info'}">
        Student Info
      </a>
      <ng-template ngbNavContent>
        <div class="form">
          <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" readonly
                   [ngModel]="solution ? solution.author.name : 'Loading...'">
          </div>
          <div class="form-group">
            <label for="studentIDInput">Student ID</label>
            <input type="text" class="form-control" id="studentIDInput" readonly
                   [ngModel]="solution ? solution.author.studentId : 'Loading...'">
          </div>
          <div class="form-group">
            <label for="emailInput">E-Mail</label>
            <input type="text" class="form-control" id="emailInput" readonly
                   [ngModel]="solution ? solution.author.email : 'Loading...'">
          </div>
          <div class="form-group">
            <label for="githubInput">GitHub Username</label>
            <input type="text" class="form-control" id="githubInput" readonly
                   [ngModel]="solution ? solution.author.github : 'Loading...'">
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="comments">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'comments'}">
        Comments
      </a>
      <ng-template ngbNavContent>
        <app-comment-list></app-comment-list>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
<router-outlet></router-outlet>
