<div class="h-100 mh-100 d-flex flex-column">
  <div class="p-3">
    <h4>{{project.name}}</h4>
    <div class="small text-muted">
      {{project.description}}
    </div>
  </div>
  <div class="flex-grow-1 overflow-auto d-flex flex-column">
    <div class="bg-light bg-darkmode-dark">
      PROJECT FILES
    </div>
    <app-file-tree [file]="fileRoot"></app-file-tree>
    <div class="flex-grow-1"></div>
    <ng-container *ngIf="currentFile | async as file">
      <div class="bg-light bg-darkmode-dark">
        REVISIONS
      </div>
      <app-file-revisions [file]="file"></app-file-revisions>
    </ng-container>
  </div>
</div>
