<div class="p-3">
  <h4>Launch</h4>
  <ul class="list-group">
    <li *ngFor="let config of configs" class="list-group-item d-flex">
      {{config.name}}
      <div class="btn-group btn-group-sm ml-auto">
        <button type="button" class="btn btn-secondary" ngbTooltip="Edit" (click)="edit(config)">
          <i class="bi-pencil"></i>
        </button>
      </div>
    </li>
  </ul>
  <button type="button" class="btn btn-primary" (click)="create()">
    Create
  </button>
</div>

<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="launch-config-modal-title">Edit Launch Config</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-command-form [config]="editing"></app-command-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="save(); modal.close()">Save</button>
  </div>
</ng-template>
