<div class="p-3">
  <h4>
    Launch
    <button type="button" class="btn btn-success btn-sm" (click)="create()">
      <i class="bi-plus-circle"></i>
      New
    </button>
  </h4>
  <ul class="list-group">
    <li *ngFor="let config of configs" class="list-group-item d-flex">
      {{config.name}}
      <div class="btn-group btn-group-sm ml-auto align-self-center">
        <button type="button" class="btn btn-success" (click)="launch(config)">
          <i class="bi-play"></i>
          Launch
        </button>
        <div class="btn-group btn-group-sm" ngbDropdown role="group" aria-label="Actions" container="body">
          <button class="btn btn-success dropdown-toggle-split" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem (click)="edit(config)">
              Edit
            </button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem class="text-danger" (click)="delete(config)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="launch-config-modal-title">
      {{ editing!.id ? 'Edit' : 'New' }} Launch Config
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-command-form [config]="editing"></app-command-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="save(); modal.close()">Save</button>
  </div>
</ng-template>
