<app-modal #modal="modal" [back]="['..']" [backOptions]="{relativeTo: route}">
  <ng-container modal-header>
    Configure and Download
  </ng-container>
  <ng-container modal-body>
    <div class="col">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="yamlCheck" [(ngModel)]="exportOptions.yaml">
        <label class="form-check-label" for="yamlCheck">YAML (Codemirror Content)</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="boardCheck" [(ngModel)]="exportOptions.board">
        <label class="form-check-label" for="boardCheck">Board</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="pagesCheck" [(ngModel)]="exportOptions.pages">
        <label class="form-check-label" for="pagesCheck">Pages</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="objectsCheck" [(ngModel)]="exportOptions.objects">
        <label class="form-check-label" for="objectsCheck">Objects</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="classCheck" [(ngModel)]="exportOptions.class">
        <label class="form-check-label" for="classCheck">Class</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="fxmlsCheck" [(ngModel)]="exportOptions.fxmls">
        <label class="form-check-label" for="fxmlsCheck">Fxmls</label>
      </div>
      <div class="row">
        <button type="button" class="btn btn-outline-secondary m-1" (click)="deselectAll()">Deselect All</button>
        <button type="button" class="btn btn-outline-success m-1" (click)="selectAll()">Select All</button>
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="download(); modal.close()">
      Download
    </button>
  </ng-container>
</app-modal>
