<div class="position-absolute" id="tutorial-backdrop"
     #popover=ngbPopover
     [ngbPopover]="body"
     [popoverTitle]="title"
     triggers="manual"
     [autoClose]="false"
     (hidden)="leave()"
     [style.top.px]="targetPosition.top"
     [style.left.px]="targetPosition.left"
     [style.width.px]="targetPosition.width"
     [style.height.px]="targetPosition.height"
></div>
<ng-template #title>
  {{ steps[index].title }}
  <button class="close" (click)="leave()">
    &times;
  </button>
</ng-template>
<ng-template #body>
  <p>
    {{ steps[index].description }}
  </p>
  <div class="btn-toolbar">
    <a *ngIf="index >= 1"
       class="btn btn-sm btn-primary mr-1"
       [routerLink]="['..', index - 1]"
    >
      Previous
    </a>
    <a *ngIf="index + 1 < steps.length"
       class="btn btn-sm btn-primary mr-1"
       [routerLink]="['..', index + 1]"
    >
      Next
    </a>
  </div>
</ng-template>
