<div class="form">
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" placeholder="Assignment X"
           [(ngModel)]="assignment.title" (change)="saveDraft()">
  </div>
  <div class="form-group">
    <label for="authorInput">Your Name</label>
    <input type="text" class="form-control" id="authorInput" placeholder="John Doe"
           [(ngModel)]="assignment.author" (change)="saveDraft()" [disabled]="loggedIn">
  </div>
  <div class="form-group">
    <label for="emailInput">Your E-Mail</label>
    <input type="text" class="form-control" id="emailInput" placeholder="jdoe@example.com"
           [(ngModel)]="assignment.email" (change)="saveDraft()" [disabled]="loggedIn">
  </div>
  <div class="form-group">
    <label for="deadlineDateInput">Deadline</label>
    <div class="input-group">
      <input type="date" class="form-control" id="deadlineDateInput"
             [(ngModel)]="deadlineDate" (change)="saveDraft()">
      <label for="deadlineTimeInput" class="sr-only">Time</label>
      <input type="time" class="form-control" id="deadlineTimeInput" [disabled]="!deadlineDate"
             [(ngModel)]="deadlineTime" (change)="saveDraft()">
    </div>
    <small class="text-muted">
      Optional.
    </small>
  </div>
  <div class="form-group">
    <label for="descriptionInput">Description</label>
    <textarea id="descriptionInput" class="form-control" rows="6" [(ngModel)]="assignment.description"
              (change)="saveDraft()"></textarea>
    <small class="text-muted">
      <a href="https://commonmark.org/help/">Markdown syntax</a> is supported.
    </small>
  </div>
</div>
