<div class="container">
  <h1>My Assignments</h1>

  <p>
    <a role="button" class="btn btn-success" style="cursor: pointer" routerLink="/assignments/create">
      Create New Assignment
    </a>
  </p>

  <div class="list-group">
    <a *ngFor="let assignment of assignments"
       class="list-group-item list-group-item-action"
       routerLink="/assignments/{{assignment.id}}/solutions"
    >
      <h3>
        {{assignment.title}}
      </h3>
      <p class="text-muted">
        by <app-author-name [name]="assignment.author" [email]="assignment.email"></app-author-name>
        <ng-container *ngIf="assignment.deadline">
          &mdash;
          Deadline: {{assignment.deadline | date:'medium'}}
        </ng-container>
      </p>
    </a>
  </div>
</div>
