<div class="container">
  <div class="m-3 p-5 bg-light bg-darkmode-dark rounded-3">
    <img src="/assets/icons/icon-512x512.png" alt="SE Logo" height="100" class="float-end icon"/>
    <h1 class="display-5 fw-bold">
      Welcome to fulib.org
    </h1>
    <p class="fs-4">
      fulib is a platform for modern software engineering.
    </p>
    <hr>
    <p>
      The fulib toolkit consists of many different libraries, tools and web apps,
      easily accessible right here in your browser.
    </p>
  </div>
  <h4 class="text-center">
    Here's what you can do on fulib.org:
  </h4>
  @for (feature of features; track feature) {
    <div class="card mx-auto my-3">
      <div class="row no-gutters align-items-center">
        <div class="col-2 text-center">
          <i class="m-3 display-3 bi-{{feature.icon}}"></i>
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">
              {{ feature.title }}
            </h5>
            <p class="card-text">
              {{ feature.description }}
            </p>
            <a class="btn btn-primary" [routerLink]="feature.link">
              Launch
            </a>
          </div>
        </div>
      </div>
    </div>
  }
</div>
