<div class="alert alert-info">
  Use
  <a href="https://theory.stanford.edu/~aiken/moss/" target="_blank">Moss</a>
  to detect code duplicates across submissions.
</div>
<div class="mb-3">
  <label class="form-label" for="mossIdInput">Moss User ID</label>
  <input type="number" class="form-control" id="mossIdInput" placeholder="123456789"
         [(ngModel)]="classroom.mossId" (change)="context.saveDraft()">
  <div class="form-text">
    Your Moss User ID. See "Registering for Moss" in the Moss documentation to obtain it.
  </div>
</div>
<div class="mb-3">
  <label class="form-label" for="mossIdInput">Moss Language</label>
  <select class="form-control" id="mossLanguageInput" [(ngModel)]="classroom.mossLanguage" (change)="context.saveDraft()">
    <option *ngFor="let lang of mossLanguages | keyvalue" [value]="lang.key">{{ lang.value }}</option>
  </select>
  <div class="form-text">
    Language to use for Moss duplicate analysis.
  </div>
</div>
