<div class="row">
  <div class="col-md-6">
    <div class="form">
      <div class="form-group">
        <label for="solutionInput">
          Sample Solution
        </label>
        <app-scenario-codemirror
          id="solutionInput"
          [(content)]="assignment.solution"
          [autoRefresh]="true"
          [autoSubmit]="true"
          [markers]="markers"
          (save)="check()"
        ></app-scenario-codemirror>
        <small class="text-muted">
          You can provide a sample solution to ensure your assignment is solvable.
          Students cannot see this.
          <br/>
          {{checking ? 'Checking...'
          : (evaluations ? 'The sample solution was checked automatically, check the task list for results.'
            : 'The sample solution is checked automatically when you change it.')
          }}
        </small>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label>
      Tasks
    </label>
    <app-task-list [tasks]="assignment.tasks" [evaluations]="evaluations" [points]="points"></app-task-list>
  </div>
</div>
<router-outlet></router-outlet>
