<div class="container">
  <h1>Create Assignment</h1>

  <app-import-export (import)="onImport($event)" (export)="onExport()"></app-import-export>

  <h2>General Info</h2>

  <div class="form">
    <div class="form-group row">
      <label for="titleInput" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="titleInput" placeholder="Assignment X"
               [(ngModel)]="assignment.title" (change)="saveDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="authorInput" class="col-sm-2 col-form-label">Your Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="authorInput" placeholder="John Doe"
               [(ngModel)]="assignment.author" (change)="saveDraft()" [disabled]="loggedIn">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailInput" class="col-sm-2 col-form-label">Your E-Mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailInput" placeholder="jdoe@example.com"
               [(ngModel)]="assignment.email" (change)="saveDraft()" [disabled]="loggedIn">
      </div>
    </div>
    <div class="form-group row">
      <label for="deadlineDateInput" class="col-sm-2 col-form-label">Deadline</label>
      <div class="col-sm-3">
        <input type="date" class="form-control" id="deadlineDateInput"
               [(ngModel)]="deadlineDate" (change)="saveDraft()">
        <small class="text-muted">
          Optional.
        </small>
      </div>
      <label for="deadlineTimeInput" class="sr-only">Time</label>
      <div class="col-sm-2">
        <input type="time" class="form-control" id="deadlineTimeInput" [disabled]="!deadlineDate"
               [(ngModel)]="deadlineTime" (change)="saveDraft()">
      </div>
    </div>
  </div>

  <h2><label for="descriptionInput">Description</label></h2>

  <p>
    <textarea id="descriptionInput" class="form-control" rows="6" [(ngModel)]="assignment.description"
              (change)="saveDraft()"></textarea>
    <small class="text-muted">
      <a href="https://commonmark.org/help/">Markdown syntax</a> is supported.
    </small>
  </p>

  <h2 class="d-flex align-items-center">
    Tasks
    <button type="button" class="btn btn-success ml-auto" (click)="addTask()">
      Add Task
    </button>
  </h2>
  <ol dragula="TASKS" [(dragulaModel)]="assignment.tasks" (dragulaModelChange)="saveDraft()">
    <li *ngFor="let task of assignment.tasks; let id = index" class="text-{{task.deleted ? 'muted' : getColorClass(id)}}">
      <div class="d-flex align-items-center mb-2">
        <div class="mr-2">
          <del *ngIf="task.deleted; else taskDesc">
            <ng-container *ngTemplateOutlet="taskDesc"></ng-container>
          </del>
          <ng-template #taskDesc>
            {{task.description || '(no description)'}}
          </ng-template>
          <span class="badge badge-{{task.deleted ? 'secondary' : getColorClass(id) || 'secondary'}}">
            {{task.points}}
          </span>
        </div>
        <app-collapse-button class="ml-auto" [collapsed]="!!task.collapsed" (collapsedChange)="task.collapsed = $event; saveDraft()">
        </app-collapse-button>
        <div class="btn btn-secondary ml-2 handle" aria-label="Reorder" ngbTooltip="Drag to Reorder">
          <i class="bi-grip-horizontal handle"></i>
        </div>
        <button *ngIf="!task.deleted"
                type="button" class="btn btn-danger ml-2" aria-label="Delete" ngbTooltip="Delete"
                (click)="removeTask(id)">
          <i class="bi-trash"></i>
        </button>
        <button *ngIf="task.deleted"
                type="button" class="btn btn-success ml-2" aria-label="Restore" ngbTooltip="Restore"
                (click)="restoreTask(id)">
          <i class="bi-arrow-repeat"></i>
        </button>
      </div>
      <div class="form mb-3" [ngbCollapse]="!!task.collapsed">
        <div class="form-group row">
          <label for="task/{{id}}/descriptionInput" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="task/{{id}}/descriptionInput"
                   [(ngModel)]="task.description" (change)="saveDraft()">
          </div>
        </div>
        <div class="form-group row">
          <label for="task/{{id}}/pointsInput" class="col-sm-2 col-form-label">Points</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="task/{{id}}/pointsInput" min="0"
                   [(ngModel)]="task.points" (change)="saveDraft()">
          </div>
        </div>
        <div class="form-group row">
          <label for="task/{{id}}/verificationInput" class="col-sm-2 col-form-label">Verification</label>
          <div class="col-sm-10">
            <app-scenario-codemirror
              id="task/{{id}}/verificationInput"
              [content]="task.verification"
              [autoRefresh]="true"
              [autoSubmit]="true"
              (save)="saveDraft()"
            ></app-scenario-codemirror>
          </div>
        </div>
        <div class="form-group row" *ngIf="!task.deleted && results && results[id].output">
          <label for="task/{{id}}/output" class="col-sm-2 col-form-label">Output</label>
          <div class="col-sm-10">
            <app-autotheme-codemirror id="task/{{id}}/output" [(content)]="results[id].output" [options]="{
              autoRefresh: true,
              lineNumbers: true,
              styleActiveLine: true
            }"></app-autotheme-codemirror>
          </div>
        </div>
      </div>
    </li>
  </ol>

  <h2>
    <label for="templateSolutionInput">Template Solution</label>
    <app-collapse-button class="ml-2" [(collapsed)]="collapse.templateSolution"></app-collapse-button>
  </h2>
  <p [ngbCollapse]="collapse.templateSolution">
    <app-scenario-codemirror
      id="templateSolutionInput"
      [(content)]="assignment.templateSolution"
      [autoRefresh]="true"
      [autoSubmit]="true"
      (save)="saveDraft()"
    ></app-scenario-codemirror>
    <small class="text-muted">
      Optional. This will be shown to students in the solution editor when they first open your assignment.
      You can instruct them to fill in blanks or make changes.
    </small>
  </p>

  <h2>
    <label for="solutionInput">Sample Solution</label>
    <app-collapse-button class="ml-2" [(collapsed)]="collapse.solution"></app-collapse-button>
  </h2>
  <p [ngbCollapse]="collapse.solution">
    <app-scenario-codemirror
      id="solutionInput"
      [(content)]="assignment.solution"
      [autoRefresh]="true"
      [autoSubmit]="true"
      [markers]="markers"
      (save)="check()"
    ></app-scenario-codemirror>
    <small class="text-muted">
      You can provide a sample solution to ensure your assignment is solvable.
      Students cannot see this.
      <br/>
      {{checking ? 'Checking...'
      : (results ? 'The sample solution was checked automatically, check the task list for results.'
        : 'The sample solution is checked automatically when you change it.')
      }}
    </small>
  </p>

  <p class="text-center">
    Click "Submit" to finalize your assignment and generate a link.
  </p>
  <div *ngIf="!loggedIn" class="alert alert-warning" role="alert">
    <h4 class="alert-heading">
      Warning!
    </h4>
    <p>
      You are currently not logged in, therefore submitting this assignment as a guest.
    </p>
    <p>
      <a routerLink="." (click)="login()">
        Logging in
      </a>
      has the following advantages:
    </p>
    <ul>
      <li>
        You will be shown as Registered <span class="badge badge-pill badge-primary">&#10003;</span>
        to students viewing your assignment.
      </li>
      <li>
        You can view student submissions on other devices without entering the generated token.
      </li>
      <li>
        You will have access to future features like notifications and improved access control.
      </li>
    </ul>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-primary btn-lg" (click)="submit()" [disabled]="submitting">
      {{submitting ? 'Submitting...' : 'Submit'}}
    </button>
  </div>
</div>
