<div class="mb-3">
  <div class="mb-3">
    <label class="form-label" for="templateSolutionInput">
      Template Solution
    </label>
    <app-scenario-codemirror
      id="templateSolutionInput"
      [(content)]="assignment.templateSolution"
      [autoSubmit]="true"
      (save)="saveDraft()"
    ></app-scenario-codemirror>
    <div class="form-text">
      Optional. This will be shown to students in the solution editor when they first open your assignment.
      You can instruct them to fill in blanks or make changes.
    </div>
  </div>
</div>
