<div class="row m-4">
  <div class="col-md-12 col-lg-6">
    <h2>Scenario</h2>
    <div class="d-flex flex-wrap align-items-baseline" style="min-height: 2.5rem; margin-left: -.25rem;">
      <div class="pl-1">
        <label>Load Example:
          <select class="form-control form-control-sm d-inline" style="width: auto"
                  [ngModel]="selectedExample" (ngModelChange)="selectExample($event)">
            <option [ngValue]="null">-</option>
            <optgroup *ngFor="let category of exampleCategories; index as categoryIndex"
                      label="{{categoryIndex + 1}}. {{category.name}}">
              <option *ngFor="let example of category.examples; index as exampleIndex"
                      label="{{categoryIndex + 1}}.{{exampleIndex + 1}}. {{example.name}}"
                      [ngValue]="example"></option>
            </optgroup>
          </select>
        </label>
      </div>
      <div class="pl-1" [hidden]="!selectedExample">
        <span class="text-warning" ngbTooltip="Changes to the example will not be saved!">&#9888;</span>
      </div>
      <div class="mr-auto"><!-- Spacer --></div>
      <div class="pl-1">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="configModalComponent.open()">
          Configure Project
        </button>
      </div>
      <div class="pl-1">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary btn-sm"
                  ngbTooltip="Shortcuts: Ctrl-&#9166; / &#8984;&#9166;, Ctrl-S / &#8984;S"
                  (click)="submit()" [disabled]="submitting">
            Compile and Run
          </button>
          <div class="btn-group" ngbDropdown role="group" aria-label="Compile and Run Options">
            <button class="btn btn-outline-primary btn-sm dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem (click)="autoSubmit = !autoSubmit" [class.dropdown-item-checked]="autoSubmit">
                Automatically Compile and Run
                <br/>
                when the scenario changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-autotheme-codemirror #scenarioInput [(content)]="scenarioText" [options]="{
        mode: 'markdown',
        lineNumbers: true,
        lineWrapping: true,
        styleActiveLine: true,
        extraKeys: {
          'Ctrl-Enter': submitHandler,
          'Cmd-Enter': submitHandler,
          'Ctrl-S': submitHandler,
          'Cmd-S': submitHandler
        }
      }"></app-autotheme-codemirror>
  </div>

  <div class="col-md-12 col-lg-6">
    <h2>Java Test Code</h2>
    <div style="min-height: 2.5rem">
      <div class="progress">
        <div class="progress-bar"
             role="progressbar"
             style="width: 24.25%"
             [class.bg-success]="response && toolSuccess(0)"
             [class.bg-danger]="response && !toolSuccess(0)"
        >
          Scenario Compiler
        </div>
        <div class="progress-bar bg-light bg-darkmode-dark" role="progressbar" style="width: 1%"></div>
        <div class="progress-bar"
             role="progressbar"
             style="width: 24.25%"
             [class.bg-success]="response && toolSuccess(1)"
             [class.bg-danger]="response && !toolSuccess(1)"
        >
          Java Model Compiler
        </div>
        <div class="progress-bar bg-light bg-darkmode-dark" role="progressbar" style="width: 1%"></div>
        <div class="progress-bar"
             role="progressbar"
             style="width: 24.25%"
             [class.bg-success]="response && toolSuccess(2)"
             [class.bg-danger]="response && !toolSuccess(2)"
        >
          Java Test Compiler
        </div>
        <div class="progress-bar bg-light bg-darkmode-dark" role="progressbar" style="width: 1%"></div>
        <div class="progress-bar"
             role="progressbar"
             style="width: 24.25%"
             [class.bg-success]="response && toolSuccess(3)"
             [class.bg-danger]="response && !toolSuccess(3)"
        >
          Test Run
        </div>
      </div>
    </div>
    <app-autotheme-codemirror [content]="javaCode" [options]="{
        lineNumbers: true,
        matchBrackets: true,
        readOnly: true,
        mode: 'text/x-java'
      }"></app-autotheme-codemirror>
  </div>
</div>

<div class="row m-4">
  <div class="col-md-12 col-lg-6">
    <h2>Class Diagram</h2>
    <div *ngIf="response && response.classDiagram" [innerHTML]="response.classDiagram | safeHtml" class="diagram">
    </div>
    <div *ngIf="response && !response.classDiagram">
      No model classes to display.
    </div>
    <div *ngIf="!response">
      Loading...
    </div>
  </div>

  <div class="col-md-12 col-lg-6">
    <h2>Object Diagrams</h2>
    <div *ngIf="!response">
      Loading...
    </div>

    <ng-container *ngIf="response && response.objectDiagrams">
      <ul ngbNav #objectDiagramTabs="ngbNav" [(activeId)]="activeObjectDiagramTab" class="nav-tabs">
        <li *ngFor="let diagram of response.objectDiagrams; index as diagramIndex" [ngbNavItem]="diagramIndex + 1">
          <a ngbNavLink>{{diagram.name}}</a>
          <ng-template ngbNavContent>
            <img *ngIf="diagram.name.endsWith('.png')"
                 class="diagram" src="data:image/png;base64,{{diagram.content}}"
                 alt="{{diagram.name}}">
            <div *ngIf="diagram.name.endsWith('.svg')"
                 [innerHTML]="diagram.content | safeHtml"
                 class="diagram"
            ></div>
            <pre *ngIf="diagram.name.endsWith('.yaml') || diagram.name.endsWith('.txt')">{{diagram.content}}</pre>
            <iframe *ngIf="diagram.name.endsWith('.html')"
                    width="100%" height="500px"
                    [srcdoc]="diagram.content | safeHtml"
                    src="data:text/html,<strong>Your browser cannot display this mockup!</strong>"
            ></iframe>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="objectDiagramTabs" class="mt-2"></div>
    </ng-container>
  </div>
</div>

<app-config-modal #configModalComponent></app-config-modal>
