<div class="container">
  <h1>
    {{assignment._id ? 'Edit' : 'Create'}}
    Assignment
  </h1>

  <app-import-export (import)="onImport($event)" (export)="onExport()"></app-import-export>

  <ul ngbNav #nav="ngbNav" [activeId]="(route.queryParams | async)?.['tab'] ?? 'info'" class="nav-tabs mb-3">
    <li ngbNavItem="info">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'info'}">
        Info
      </a>
      <ng-template ngbNavContent>
        <div class="form">
          <div class="form-group">
            <label for="titleInput">Title</label>
            <input type="text" class="form-control" id="titleInput" placeholder="Assignment X"
                   [(ngModel)]="assignment.title" (change)="saveDraft()">
          </div>
          <div class="form-group">
            <label for="authorInput">Your Name</label>
            <input type="text" class="form-control" id="authorInput" placeholder="John Doe"
                   [(ngModel)]="assignment.author" (change)="saveDraft()" [disabled]="loggedIn">
          </div>
          <div class="form-group">
            <label for="emailInput">Your E-Mail</label>
            <input type="text" class="form-control" id="emailInput" placeholder="jdoe@example.com"
                   [(ngModel)]="assignment.email" (change)="saveDraft()" [disabled]="loggedIn">
          </div>
          <div class="form-group">
            <label for="deadlineDateInput">Deadline</label>
            <div class="input-group">
              <input type="date" class="form-control" id="deadlineDateInput"
                     [(ngModel)]="deadlineDate" (change)="saveDraft()">
              <label for="deadlineTimeInput" class="sr-only">Time</label>
              <input type="time" class="form-control" id="deadlineTimeInput" [disabled]="!deadlineDate"
                     [(ngModel)]="deadlineTime" (change)="saveDraft()">
            </div>
            <small class="text-muted">
              Optional.
            </small>
          </div>
          <div class="form-group">
            <label for="descriptionInput">Description</label>
            <textarea id="descriptionInput" class="form-control" rows="6" [(ngModel)]="assignment.description"
                      (change)="saveDraft()"></textarea>
            <small class="text-muted">
              <a href="https://commonmark.org/help/">Markdown syntax</a> is supported.
            </small>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="classroom">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'classroom'}">
        <i class="bi-github"></i>
        Classroom
        <span class="badge badge-primary">New</span>
      </a>
      <ng-template ngbNavContent>
        <div class="form">
          <div class="form-group">
            <label for="classroomAssignmentInput">GitHub Classroom Assignment Link</label>
            <input type="text" class="form-control" id="classroomAssignmentInput"
                   placeholder="https://classroom.github.com/classrooms/0000000-xxxxxxx/assignments/yyyyyyy"
                   [(ngModel)]="assignment.classroom!.link" (change)="saveDraft()">
          </div>
          <div class="form-group">
            <label>
              Organization and Prefix
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  https://github.com/
                </span>
              </div>
              <input type="text" class="form-control" id="classroomOrgInput" placeholder="my-awesome-org"
                     aria-label="Org"
                     [(ngModel)]="assignment.classroom!.org" (change)="saveDraft()">
              <div class="input-group-prepend input-group-append">
                <span class="input-group-text">
                  /
                </span>
              </div>
              <input type="text" class="form-control" id="classroomPrefixInput" placeholder="prefix" aria-label="Prefix"
                     [(ngModel)]="assignment.classroom!.prefix" (change)="saveDraft()">
              <div class="input-group-append">
                <span class="input-group-text">
                  -Student
                </span>
              </div>
            </div>
            <small class="text-muted">
              Allows importing solutions from Classroom Submissions.
            </small>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="tasks">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'tasks'}">
        Tasks
      </a>
      <ng-template ngbNavContent>
        <app-edit-task-list
          *ngIf="markdown === undefined"
          [tasks]="assignment.tasks"
        ></app-edit-task-list>
        <app-autotheme-codemirror
          *ngIf="markdown !== undefined"
          [(content)]="markdown"
          [options]="{
            mode: 'markdown',
            autoRefresh: true,
            lineNumbers: true
          }"
        ></app-autotheme-codemirror>
        <button type="button" class="btn btn-primary" (click)="switchMarkdown()">
          Edit as {{markdown !== undefined ? 'List' : 'Markdown'}}
        </button>
      </ng-template>
    </li>
    <li ngbNavItem="template">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'template'}">
        Template
      </a>
      <ng-template ngbNavContent>
        <app-scenario-codemirror
          id="templateSolutionInput"
          [(content)]="assignment.templateSolution"
          [autoRefresh]="true"
          [autoSubmit]="true"
          (save)="saveDraft()"
        ></app-scenario-codemirror>
        <small class="text-muted">
          Optional. This will be shown to students in the solution editor when they first open your assignment.
          You can instruct them to fill in blanks or make changes.
        </small>
      </ng-template>
    </li>
    <li ngbNavItem="sample">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'sample'}">
        Sample
      </a>
      <ng-template ngbNavContent>
        <app-scenario-codemirror
          id="solutionInput"
          [(content)]="assignment.solution"
          [autoRefresh]="true"
          [autoSubmit]="true"
          [markers]="markers"
          (save)="check()"
        ></app-scenario-codemirror>
        <small class="text-muted">
          You can provide a sample solution to ensure your assignment is solvable.
          Students cannot see this.
          <br/>
          {{checking ? 'Checking...'
          : (evaluations ? 'The sample solution was checked automatically, check the task list for results.'
            : 'The sample solution is checked automatically when you change it.')
          }}
        </small>
      </ng-template>
    </li>
    <li ngbNavItem="finish">
      <a ngbNavLink routerLink="." [queryParams]="{tab: 'finish'}">
        Preview & Finish
      </a>
      <ng-template ngbNavContent>
        <app-assignment-info [assignment]="assignment"></app-assignment-info>
        <app-task-list [tasks]="assignment.tasks"></app-task-list>

        <p *ngIf="!assignment._id" class="text-center">
          Click "Submit" to finalize your assignment and generate a link.
        </p>
        <div *ngIf="!loggedIn" class="alert alert-warning" role="alert">
          <h4 class="alert-heading">
            Warning!
          </h4>
          <p>
            You are currently not logged in, therefore submitting this assignment as a guest.
          </p>
          <p>
            <a routerLink="." (click)="login()">
              Logging in
            </a>
            has the following advantages:
          </p>
          <ul>
            <li>
              You will be shown as Registered <span class="badge badge-pill badge-primary">&#10003;</span>
              to students viewing your assignment.
            </li>
            <li>
              You can view student submissions on other devices without entering the generated token.
            </li>
            <li>
              You will have access to future features like notifications and improved access control.
            </li>
          </ul>
        </div>

        <div class="text-center">
          <button type="button" class="btn btn-primary btn-lg" (click)="submit()" [disabled]="submitting">
            {{assignment._id ? (submitting ? 'Saving...' : 'Save') : (submitting ? 'Submitting...' : 'Submit')}}
          </button>
        </div>
      </ng-template>
    </li>

  </ul>


  <div [ngbNavOutlet]="nav"></div>
</div>
<router-outlet></router-outlet>
