<div class="container">
  <h1>
    {{context.assignment._id ? 'Edit' : 'Create'}}
    Assignment
  </h1>

  <app-import-export (import)="onImport($event)" (export)="onExport()"></app-import-export>

  <ul ngbNav [activeId]="route.firstChild?.routeConfig?.path" class="nav-tabs mb-3">
    <li *ngFor="let step of steps" [ngbNavItem]="step[0]">
      <a ngbNavLink [routerLink]="step[0]">
        <i *ngIf="step[1]" class="bi-{{ step[1] }}"></i>
        {{ step[2] }}
      </a>
    </li>
  </ul>

  <router-outlet *ngIf="context.assignment"></router-outlet>
</div>
