@import "codemirror/addon/lint/lint";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.CodeMirror-lint-tooltip {
  @extend .tooltip;
  background-color: var(--bs-tooltip-bg);
  z-index: var(--bs-tooltip-zindex);
}

.CodeMirror-lint-message {
  @extend .tooltip-inner;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-tooltip-font-size);
  text-align: left;
  padding-left: 20px;
  padding-right: 0;
  background-position: 0 8px;
}

.CodeMirror-lint-mark-syntax {
  @extend .CodeMirror-lint-mark-error;
}

.CodeMirror-lint-marker-error, .CodeMirror-lint-message-error,
.CodeMirror-lint-marker-syntax, .CodeMirror-lint-message-syntax {
  // bi-x-circle
  background-image: url(escape-svg('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$red}" class="bi bi-x-circle" viewBox="0 0 16 16"> <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/> </svg>'));
}

.CodeMirror-lint-marker-warning, .CodeMirror-lint-message-warning {
  // bi-exclamation-triangle
  background-image: url(escape-svg('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$yellow}" class="bi bi-exclamation-triangle" viewBox="0 0 16 16"> <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/> <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/> </svg>'));
}

.CodeMirror-lint-marker-note, .CodeMirror-lint-message-note {
  // bi-info-circle
  background-image: url(escape-svg('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$gray-500}" class="bi bi-info-circle" viewBox="0 0 16 16"> <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/> </svg>'));
}

.CodeMirror-lint-mark-note {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAG0lEQVQI12NggIL6+vr/DOic+vr6/6gyDAwMAPqbCfGifxnMAAAAAElFTkSuQmCC");
}

[class*=' CodeMirror-lint-marker-cursor-'],
[class*=' CodeMirror-lint-message-cursor-'] {
  // bi-person-circle
  background-image: url(escape-svg('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#{$gray-500}" class="bi bi-person-circle" viewBox="0 0 16 16"> <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/> <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/> </svg>'));
}

.CodeMirror-lint-mark-note {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAG0lEQVQI12NggIL6+vr/DOic+vr6/6gyDAwMAPqbCfGifxnMAAAAAElFTkSuQmCC");
}

[class*=' CodeMirror-lint-mark-cursor-'] {
  border-left-width: 1px;
  border-left-style: solid;
  margin-left: -1px;
}

@each $color, $value in $colors {
  .CodeMirror-lint-mark-cursor-#{$color} {
    border-left-color: $value;
  }
}
