<app-modal #modal [back]="['..']" [backOptions]="{relativeTo: route}">
  <ng-container modal-header>
    Search Everywhere
  </ng-container>
  <ng-container modal-body>
    <input type="text" class="form-control"
           ngbAutofocus
           [ngbTypeahead]="search" [resultFormatter]="format" [inputFormatter]="format"
           (selectItem)="open($event.item); modal.close()">
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
  </ng-container>
</app-modal>
