<a (click)="open(modal)" style="cursor: pointer">
  <ng-content select="[preview]"></ng-content>
</a>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="diagram-modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-content select="[full]"></ng-content>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
