<div class="container">
  <app-assignment-info [assignment]="assignment"></app-assignment-info>

  <app-task-list [assignment]="assignment" [results]="solution?.results" [solution]="solution" [gradings]="gradings">
  </app-task-list>

  <h2><label for="solutionInput">Solution</label></h2>
  <p>
    <app-autotheme-codemirror id="solutionInput" [content]="solution?.solution || 'Loading...'" [options]="{
      mode: 'markdown',
      lineNumbers: true,
      lineWrapping: true,
      styleActiveLine: true,
      readOnly: true
    }"></app-autotheme-codemirror>
  </p>

  <h2>Info</h2>

  <div class="form">
    <div class="form-group row">
      <label for="nameInput" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nameInput" readonly
               [ngModel]="solution?.name || 'Loading...'">
      </div>
    </div>
    <div class="form-group row">
      <label for="studentIDInput" class="col-sm-2 col-form-label">Student ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="studentIDInput" readonly
               [ngModel]="solution?.studentID || 'Loading...'">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailInput" class="col-sm-2 col-form-label">E-Mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailInput" readonly
               [ngModel]="solution?.email || 'Loading...'">
      </div>
    </div>
  </div>

  <p class="text-center" *ngIf="solution">
    Submitted <b>{{solution.timeStamp | date:'medium'}}</b>.
  </p>

  <h2>Comments</h2>
  <ol class="timeline-list">
    <li *ngFor="let comment of comments" class="timeline-item">
      <div class="timeline-item-badge bg-secondary">
        {{comment.author.charAt(0)}}
      </div>
      <div class="timeline-item-body">
        <div class="card">
          <div class="card-header">
            {{comment.author}}
            &#8226;
            <a href="mailto:{{comment.email}}">{{comment.email}}</a>
            &#8226;
            <span class="text-muted">{{comment.timeStamp | date:'medium'}}</span>
          </div>
          <div class="card-body">
            <div class="card-text" [innerHTML]="comment.html | safeHtml"></div>
          </div>
        </div>
      </div>
    </li>
  </ol>

  <h2>New Comment</h2>
  <div class="form">
    <div class="form-group row">
      <label for="commentNameInput" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="commentNameInput" placeholder="John Doe"
               [(ngModel)]="commentName" (change)="saveCommentDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="commentEmailInput" class="col-sm-2 col-form-label">E-Mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="commentEmailInput" placeholder="jdoe@example.com"
               [(ngModel)]="commentEmail" (change)="saveCommentDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="commentBodyInput" class="col-sm-2 col-form-label">Body</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="commentBodyInput"
                  [(ngModel)]="commentBody" (change)="saveCommentDraft()">
        </textarea>
        <small class="form-text text-muted">
          <a href="https://commonmark.org/help/">Markdown syntax</a> is supported.
        </small>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" id="commentSubmitButton"
          (click)="submitComment()" [disabled]="submittingComment">
    {{submittingComment ? 'Submitting Comment...' : 'Submit Comment'}}
  </button>
</div>

<app-token-modal #tokenModal [solution]="true" (submit)="setTokens($event.solutionToken, $event.assignmentToken)">
</app-token-modal>
