<div class="container">
  <h1>{{assignment ? assignment.title : 'Loading...'}}</h1>
  <p class="text-muted">
    <ng-container *ngIf="assignment">
      by {{assignment.author}}
      &mdash;
      <a href="mailto:{{assignment.email}}">{{assignment.email}}</a>
      &mdash;
      Deadline: {{assignment.deadline | date:'medium'}}
    </ng-container>
    <ng-container *ngIf="!assignment">
      Loading...
    </ng-container>
  </p>

  <p *ngIf="assignment" [innerHTML]="assignment.descriptionHtml | safeHtml">
  </p>
  <p *ngIf="!assignment">
    Loading Description...
  </p>

  <h2>Tasks</h2>
  <ol *ngIf="assignment && solution">
    <li *ngFor="let task of assignment.tasks; let i = index"
        [class.text-success]="solution.results[i].points == task.points"
        [class.text-danger]="solution.results[i].points < task.points"
    >
      {{task.description}}
      <span class="badge"
            [class.badge-success]="solution.results[i].points == task.points"
            [class.badge-danger]="solution.results[i].points < task.points"
      >
        {{solution.results[i].points}} / {{task.points}}
      </span>
    </li>
  </ol>
  <p *ngIf="!assignment || !solution">
    Loading Tasks...
  </p>

  <h2>Grading History</h2>
  <ul *ngIf="gradings">
    <li *ngFor="let grading of gradings">
      <span class="text-muted">{{grading.timeStamp | date:'medium'}}: </span>
      <b>{{grading.author}}</b> graded task <b>{{grading.taskID + 1}}</b>:
      <span class="badge badge-secondary">{{grading.points}}</span>
      {{grading.note}}
    </li>
  </ul>
  <p *ngIf="!gradings">
    Loading Gradings...
  </p>

  <h2><label for="solutionInput">Solution</label></h2>
  <p>
    <app-autotheme-codemirror id="solutionInput" [content]="solution?.solution || 'Loading...'" [options]="{
      mode: 'markdown',
      lineNumbers: true,
      lineWrapping: true,
      styleActiveLine: true,
      readOnly: true
    }"></app-autotheme-codemirror>
  </p>

  <h2>Info</h2>

  <div class="form">
    <div class="form-group row">
      <label for="nameInput" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nameInput" readonly
               [ngModel]="solution?.name || 'Loading...'">
      </div>
    </div>
    <div class="form-group row">
      <label for="studentIDInput" class="col-sm-2 col-form-label">Student ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="studentIDInput" readonly
               [ngModel]="solution?.studentID || 'Loading...'">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailInput" class="col-sm-2 col-form-label">E-Mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailInput" readonly
               [ngModel]="solution?.email || 'Loading...'">
      </div>
    </div>
  </div>

  <p class="text-center" *ngIf="solution">
    Submitted <b>{{solution.timeStamp | date:'medium'}}</b>.
  </p>

  <h2>Comments</h2>
  <div>
    <div class="card mb-3" *ngFor="let comment of comments">
      <div class="card-header">
        {{comment.author}}
        &#8226;
        <a href="mailto:{{comment.email}}">{{comment.email}}</a>
        &#8226;
        <span class="text-muted">{{comment.timeStamp | date:'medium'}}</span>
      </div>
      <div class="card-body">
        <div class="card-text" [innerHTML]="comment.html | safeHtml"></div>
      </div>
    </div>
  </div>

  <h2>New Comment</h2>
  <div class="form">
    <div class="form-group row">
      <label for="commentNameInput" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="commentNameInput" placeholder="John Doe"
               [(ngModel)]="commentName" (change)="saveCommentDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="commentEmailInput" class="col-sm-2 col-form-label">E-Mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="commentEmailInput" placeholder="jdoe@example.com"
               [(ngModel)]="commentEmail" (change)="saveCommentDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="commentBodyInput" class="col-sm-2 col-form-label">Body</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="commentBodyInput"
                  [(ngModel)]="commentBody" (change)="saveCommentDraft()">
        </textarea>
        <small class="form-text text-muted">
          <a href="https://commonmark.org/help/">Markdown syntax</a> is supported.
        </small>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" id="commentSubmitButton"
          (click)="submitComment()" [disabled]="submittingComment">
    {{submittingComment ? 'Submitting Comment...' : 'Submit Comment'}}
  </button>
</div>

<app-token-modal #tokenModal [solution]="true" (submit)="setTokens($event.solutionToken, $event.assignmentToken)">
</app-token-modal>
