<ng-template #scenario>
  <app-scenario-codemirror
    class="cm-h-100"
    [(content)]="scenarioText"
    [autoSubmit]="autoSubmit"
    [markers]="markers"
    (save)="submit()"
  ></app-scenario-codemirror>
</ng-template>

<ng-template #output>
  <div style="height: 2rem">
    <div class="progress">
      <div class="progress-bar status-item" role="progressbar"
           [class.bg-success]="response && toolSuccess(0)"
           [class.bg-danger]="response && !toolSuccess(0)"
      >
        Scenario
      </div>
      <div class="progress-bar bg-light bg-darkmode-dark status-separator" role="progressbar"></div>
      <div class="progress-bar status-item" role="progressbar"
           [class.bg-success]="response && toolSuccess(1)"
           [class.bg-danger]="response && !toolSuccess(1)"
      >
        Model Code
      </div>
      <div class="progress-bar bg-light bg-darkmode-dark status-separator" role="progressbar"></div>
      <div class="progress-bar status-item" role="progressbar"
           [class.bg-success]="response && toolSuccess(2)"
           [class.bg-danger]="response && !toolSuccess(2)"
      >
        Test Code
      </div>
      <div class="progress-bar bg-light bg-darkmode-dark status-separator" role="progressbar"></div>
      <div class="progress-bar status-item" role="progressbar"
           [class.bg-success]="response && toolSuccess(3)"
           [class.bg-danger]="response && !toolSuccess(3)"
      >
        Test Run
      </div>
    </div>
  </div>
  <div style="height: calc(100% - 4rem)">
    <app-autotheme-codemirror class="cm-h-100" [content]="outputText" [options]="{
      autoRefresh: true,
      lineNumbers: true,
      readOnly: true
    }"></app-autotheme-codemirror>
  </div>
  @if (response && (response | exception:scenarioText);as exception) {
    <div style="height: 2rem">
      It looks like an exception occurred. <a target="_blank" [href]="exception">Report an Issue</a>
    </div>
  }
</ng-template>

<ng-template #java>
  <app-autotheme-codemirror class="cm-h-100" [content]="javaCode" [options]="{
    autoRefresh: true,
    lineNumbers: true,
    matchBrackets: true,
    readOnly: true,
    mode: 'text/x-java'
  }"></app-autotheme-codemirror>
</ng-template>

<ng-template #markdown>
  @if (markdownHtml) {
    <div class="h-100 overflow-auto">
      <app-markdown [html]="markdownHtml"></app-markdown>
    </div>
  } @else {
    Loading...
  }
</ng-template>

<ng-template #classDiagram>
  @if (response) {
    @if (response.classDiagram) {
      <div class="h-100 overflow-auto">
        <a routerLink="preview" [queryParams]="{url: classDiagramUrl}" queryParamsHandling="merge">
          <img class="diagram w-100 h-100" [src]="classDiagramUrl" alt="Class Diagram">
        </a>
      </div>
    } @else {
      No model classes to display.
    }
  } @else {
    Loading...
  }
</ng-template>

<ng-template #objectDiagrams>
  @if (response) {
    @if (response.objectDiagrams?.length) {
      <div class="d-flex flex-column h-100">
        <ul ngbNav #objectDiagramTabs="ngbNav" [(activeId)]="activeObjectDiagramTab" class="nav-tabs">
          @for (diagram of response.objectDiagrams;track diagram;let diagramIndex = $index) {
            <li [ngbNavItem]="diagramIndex + 1">
              <a ngbNavLink>{{ diagram.name }}</a>
              <ng-template ngbNavContent>
                <a
                  routerLink="preview"
                  [queryParams]="{url: apiUrl + '/runcodegen/' + response.id + '/' + diagram.path}"
                  queryParamsHandling="merge"
                >
                  <app-diagram-view
                    [url]="apiUrl + '/runcodegen/' + response.id + '/' + diagram.path"></app-diagram-view>
                </a>
              </ng-template>
            </li>
          }
        </ul>
        <div [ngbNavOutlet]="objectDiagramTabs" class="mt-2 overflow-auto"></div>
      </div>
    } @else {
      No object diagrams to display.
    }
  } @else {
    Loading...
  }
</ng-template>

@if ([
  {id: 'scenario', title: 'Scenario', template: scenario},
  {id: 'output', title: 'Output', template: output},
  {id: 'java', title: 'Java Test Code', template: java},
  {id: 'markdown', title: 'Markdown', template: markdown},
  {id: 'classDiagram', title: 'Class Diagram', template: classDiagram},
  {id: 'objectDiagrams', title: 'Object Diagrams', template: objectDiagrams}
];as items) {
  <div class="h-100 d-flex flex-column">
    <div class="btn-toolbar align-items-center p-3" role="toolbar" aria-label="Toolbar">
      <select
        class="form-select w-auto me-2"
        aria-label="Selected Example"
        [ngModel]="selectedExample" (ngModelChange)="selectExample($event)"
      >
        <option [ngValue]="null">Select Example...</option>
        @for (category of exampleCategories;track category;let categoryIndex = $index) {
          <optgroup label="{{categoryIndex + 1}}. {{category.name}}">
            @for (example of category.examples;track example;let exampleIndex = $index) {
              <option [ngValue]="example">
                {{ categoryIndex + 1 }}.{{ exampleIndex + 1 }}. {{ example.name }}
              </option>
            }
          </optgroup>
        }
      </select>
      <div ngbDropdown class="d-inline-block me-2" autoClose="outside">
        <button class="btn btn-outline-secondary" id="panelsDropdown" ngbDropdownToggle>View</button>
        <div ngbDropdownMenu aria-labelledby="panelsDropdown">
          <h6 class="dropdown-header">Editor Panels</h6>
          @for (panel of items;track panel) {
            <button
              ngbDropdownItem
              (click)="setPanelClosed(panel.id, !panels[panel.id].closed)"
              class="dropdown-item-check"
              [class.checked]="!panels[panel.id].closed"
            >
              {{ panel.title }}
            </button>
          }
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="resetPanels()" class="text-danger">
            Reset Editor Layout
          </button>
        </div>
      </div>
      <a role="button" class="btn btn-outline-secondary me-2" routerLink="config">
        Configure or Export
      </a>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary"
                ngbTooltip="Keyboard Shortcuts: Ctrl-&#9166;, &#8984;&#9166;, Ctrl-S, &#8984;S"
                (click)="submit()" [disabled]="submitting">
          Compile and Run
        </button>
        <div class="btn-group" ngbDropdown role="group" aria-label="Compile and Run Options">
          <button class="btn btn-outline-primary dropdown-toggle-split" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem (click)="autoSubmit = !autoSubmit" class="dropdown-item-check" [class.checked]="autoSubmit">
              Automatically Compile and Run
              <br/>
              when the scenario changes
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-grow-1">
      <gridster [options]="{
        draggable: {enabled: true},
        resizable: {enabled: true},
        itemChangeCallback: savePanels,
        minRows: 12,
        maxRows: 12,
        minCols: 12,
        maxCols: 12,
        margin: 0,
        outerMargin: false,
        swap: true,
        displayGrid: 'onDrag&Resize'
      }">
        @for (item of items;track item.id) {
          @if (!panels[item.id].closed) {
            <gridster-item [item]="panels[item.id]" class="p-3">
              <div class="d-flex align-items-center">
                <h2 class="me-auto">
                  {{item.title}}
                </h2>
                <button class="btn-close" aria-label="Close" (click)="setPanelClosed(item.id, true)">
                </button>
              </div>
              <hr class="m-2"/>
              <div class="gridster-item-content">
                <ng-container [ngTemplateOutlet]="item.template"></ng-container>
              </div>
            </gridster-item>
          }
        }
      </gridster>
    </div>
  </div>
}

<router-outlet></router-outlet>
