<div class="mb-3">
  <div class="mb-3">
    <label class="form-label">
      GitHub
      <label for="classroomOrgInput">Organization</label>
      and
      <label for="classroomPrefixInput">Prefix</label>
    </label>
    <div class="input-group">
      <span class="input-group-text">https://github.com/</span>
      <input type="text" class="form-control" id="classroomOrgInput" placeholder="my-awesome-org"
             [(ngModel)]="classroom.org" (change)="context.saveDraft()">
      <span class="input-group-text">/</span>
      <input type="text" class="form-control" id="classroomPrefixInput" placeholder="prefix"
             [(ngModel)]="classroom.prefix" (change)="context.saveDraft()">
      <span class="input-group-text">-Student</span>
    </div>
    <div class="form-text">
      Allows importing solutions from Classroom Submissions.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="extraSearchQuery">Extra Search Options</label>
    <div class="input-group">
      <span class="input-group-text">org:{{classroom.org}} "{{classroom.prefix}}-" in:name</span>
      <input type="text" class="form-control" id="extraSearchQuery" placeholder="fork:true"
             [(ngModel)]="classroom.extraSearch" (change)="context.saveDraft()">
      <button class="btn btn-outline-secondary bi-github" (click)="previewSearch()">
        Preview
      </button>
    </div>
    <div class="form-text">
      Extra GitHub search options to filter the repositories.
      See <a href="https://docs.github.com/en/search-github/github-code-search/understanding-github-code-search-syntax" target="_blank">
        GitHub Search Syntax</a>.
      Default: <code>fork:true</code> to include forks.
      Example: <code>fork:only archived:false</code>
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="tokenInput">GitHub Token</label>
    <app-masked-input
      id="tokenInput"
      type="password"
      [(value)]="classroom.token"
      placeholder="ghp_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    ></app-masked-input>
    <div class="form-text">
      Required for importing solutions from GitHub Classroom.
      You can generate a token in the
      <a
        href="https://github.com/settings/tokens/new?description={{encodeURIComponent(context.assignment.title)}}&scopes=repo"
        target="_blank">
        GitHub Settings
      </a>.
      Make sure your account has access to the
      <b>{{ classroom.org }}</b>
      organisation and select the
      <code>repo</code>
      scope.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="webhookInput">Webhook</label>
    <app-masked-input
      id="webhookInput"
      type="url"
      [(value)]="classroom.webhook"
      placeholder="https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXX"
    ></app-masked-input>
    <div class="form-text">
      Notify a webhook when solutions are automatically imported at the deadline.
      In addition, it will be notified 12 hours before the deadline with a preliminary count of solutions,
      or an error in case of a problem.
    </div>
  </div>
</div>
