<ng-template #configModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="config-modal-title">
      Configure Project
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-project-config-form [config]="config"></app-project-config-form>
    <hr/>
    <h4>Export Project</h4>
    <div class="form">
      <div class="form-group">
        <label for="formatSelect">
          Format
        </label>
        <select class="custom-select" id="formatSelect" [(ngModel)]="format">
          <option *ngFor="let format of formats" [ngValue]="format.id">{{ format.name }}</option>
        </select>
      </div>
    </div>
    <p *ngIf="format" [innerHTML]="formats.find(formatMatcher)?.description | safeHtml">
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-success" [disabled]="!format" (click)="export(); modal.close()">
      Export
    </button>
    <button type="button" class="btn btn-primary" (click)="save(); modal.close()">
      Save
    </button>
  </div>
</ng-template>
