<app-modal #modal="modal" [back]="['/editor']">
  <ng-container modal-header>
    Configure Project
  </ng-container>
  <ng-container modal-body>
    <app-project-config-form [config]="config"></app-project-config-form>
    <hr/>
    <h4>Export Project</h4>
    <div class="form">
      <div class="form-group">
        <label for="formatSelect">
          Format
        </label>
        <select class="custom-select" id="formatSelect" [(ngModel)]="format">
          <option *ngFor="let format of formats" [ngValue]="format.id">{{ format.name }}</option>
        </select>
      </div>
    </div>
    <p *ngIf="format" [innerHTML]="formats.find(formatMatcher)?.description | safeHtml">
    </p>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-success" [disabled]="!format" (click)="export(); modal.close()">
      Export
    </button>
    <button type="button" class="btn btn-primary" (click)="save(); modal.close()">
      Save
    </button>
  </ng-container>
</app-modal>
