<ng-template #transferModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="transfer-modal-title">Transfer Project Ownership</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to <span class="text-danger">transfer</span> this project to a new owner?
      This action can only be undone by the new owner.
    </p>
    <div class="form">
      <div class="form-group">
        <label for="transfer-owner-input">New Owner</label>
        <input id="transfer-owner-input"  type="text" class="form-control"
               [(ngModel)]="transferOwner"
               [ngbTypeahead]="search"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               [editable]='false' />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="transfer()" [disabled]="!transferOwner">
      Transfer
    </button>
  </div>
</ng-template>
