<app-modal #modal="modal" [locked]="transfering" [back]="[back]" [backOptions]="{relativeTo: activatedRoute, queryParamsHandling: 'preserve'}">
  <ng-container modal-header>
    Transfer Project Ownership
  </ng-container>
  <ng-container modal-body>
    <p>
      Are you sure you want to <span class="text-danger">transfer</span> this project to a new owner?
      This action can only be undone by the new owner.
    </p>
    <div class="form">
      <div class="form-group">
        <label for="transfer-owner-input">New Owner</label>
        <input id="transfer-owner-input"  type="text" class="form-control"
               [(ngModel)]="transferOwner"
               [ngbTypeahead]="search"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               [editable]='false' />
      </div>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="transfer()" [disabled]="!transferOwner">
      Transfer
    </button>
  </ng-container>
</app-modal>
