<div class="d-flex h-100">
  <div class="bg-light bg-darkmode-dark">
    <div *ngFor="let entry of sidebarItems | keyvalue"
         class="sidebar-item"
         [ngbTooltip]="entry.value.name" placement="right"
         [class.active]="active == entry.key"
         (click)="active = active == entry.key ? undefined : entry.key"
    >
      <img class="icon" src="assets/icons/{{entry.value.icon}}.svg" width="24" [alt]="entry.value.name">
    </div>
  </div>
  <as-split class="flex-grow-1 h-100" direction="horizontal">
    <as-split-area [size]="20" [visible]="!!active" [order]="0">
      <ng-container [ngComponentOutlet]="sidebarItems[active || '']?.component"></ng-container>
    </as-split-area>
    <as-split-area [size]="80" [order]="1">
      <as-split direction="vertical">
        <as-split-area [size]="70">
          <ng-container [ngComponentOutlet]="fileTabsComponent"></ng-container>
        </as-split-area>
        <as-split-area [size]="30">
          <ng-container [ngComponentOutlet]="terminalComponent"></ng-container>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
