<div class="d-flex h-100">
  <div class="d-flex flex-column bg-light bg-darkmode-dark">
    <div *ngFor="let entry of sidebarItems"
         class="sidebar-item"
         [ngbTooltip]="entry.name" placement="right"
         routerLink="."
         routerLinkActive="active"
         [queryParams]="{panel: active === entry ? undefined : entry.id}"
    >
      <i class="bi-{{entry.icon}}" role="navigation" [attr.aria-label]="entry.name"></i>
    </div>
    <div class="sidebar-item mt-auto" ngbTooltip="Exit" placement="right" (click)="exit()">
      <i class="bi-box-arrow-left"></i>
    </div>
  </div>
  <as-split class="flex-grow-1 h-100" direction="horizontal">
    <as-split-area [size]="20" [visible]="!!active" [order]="0">
      <ng-container [ngComponentOutlet]="active?.component"></ng-container>
    </as-split-area>
    <as-split-area [size]="80" [order]="1">
      <as-split direction="vertical">
        <as-split-area [size]="70">
          <ng-container [ngComponentOutlet]="fileTabsComponent"></ng-container>
        </as-split-area>
        <as-split-area [size]="30">
          <ng-container [ngComponentOutlet]="terminalComponent"></ng-container>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
<ng-template #loadingModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="loading-modal-title">
      Loading Project...
    </h4>
    <a class="close" aria-label="Close" (click)="modal.close()" routerLink="/projects">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-body">
    Please hang tight while we set things up for you...
    <ul>
      <li [class.text-success]="project">
        Loading Project Metadata
      </li>
      <li [class.text-success]="container">
        Launching Container
      </li>
      <li [class.text-success]="terminalComponent">
        Connecting to Container
      </li>
      <li [class.text-success]="fileTabsComponent">
        Loading Project Root
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class="btn btn-secondary" (click)="modal.close()" routerLink="/projects">
      Cancel
    </a>
  </div>
</ng-template>
<ng-template #setupModal let-modal>
  <app-project-setup [modal]="modal"></app-project-setup>
</ng-template>
