<ol [dndDropzone]="['task']" (dndDrop)="drop($event)">
  <li dndPlaceholderRef>
    <hr class="border-success"/>
  </li>
  @for (task of tasks;track task) {
    <li
      dndType="task"
      [dndDraggable]="task"
      dndEffectAllowed="move"
      (dndMoved)="dragged(task)"
      (dndEnd)="saveDraft()"
    >
      <div class="d-flex align-items-center mb-2">
        <div class="me-2" dndDragImageRef>
          @if (task.deleted) {
            <del>{{ task.description || '(no description)' }}</del>
          } @else {
            {{ task.description || '(no description)' }}
          }
          <span class="badge bg-secondary">
            {{ task.points }}
          </span>
        </div>
        <a class="btn btn-primary ms-auto" aria-label="Edit" ngbTooltip="Edit"
           [routerLink]="[task._id]" [queryParams]="{parent}">
          <i class="bi-pencil"></i>
        </a>
        <app-collapse-button class="ms-2" [collapsed]="!!task.collapsed"
                             (collapsedChange)="task.collapsed = $event; saveDraft()">
        </app-collapse-button>
        <div class="btn btn-secondary ms-2 handle" aria-label="Reorder" ngbTooltip="Drag to Reorder" dndHandle>
          <i class="bi-grip-horizontal"></i>
        </div>
        @if (!task.deleted) {
          <button
            type="button" class="btn btn-danger ms-2" aria-label="Delete" ngbTooltip="Delete"
            (click)="removeTask(task)">
            <i class="bi-trash"></i>
          </button>
        } @else {
          <button
            type="button" class="btn btn-success ms-2" aria-label="Restore" ngbTooltip="Restore"
            (click)="restoreTask(task)">
            <i class="bi-arrow-repeat"></i>
          </button>
        }
      </div>
      @if (!task.collapsed) {
        <app-edit-task-list [parent]="task._id" [tasks]="task.children"></app-edit-task-list>
      }
    </li>
  }
  <li>
    <a class="link-success"
       [routerLink]="nextId" [queryParams]="{parent}" queryParamsHandling="merge"
       (click)="generateId()"
    >
      Add Task
    </a>
  </li>
</ol>
