<div class="container">
  <h4>Basic Settings</h4>
  <app-project-form [project]="project"></app-project-form>
  <button type="button" class="btn btn-primary" (click)="save()">
    Save
  </button>
  <hr/>
  <h4>Danger Zone</h4>
  <div class="list-group">
    <div class="list-group-item border-danger d-flex align-items-center" *ngIf="!project.local">
      <div class="flex-grow-1">
        <h6>
          Transfer Ownership
        </h6>
        This can only be undone by the new owner.
      </div>
      <a role="button" class="btn btn-danger" routerLink="transfer" queryParamsHandling="preserve">
        Transfer
      </a>
    </div>
    <div class="list-group-item border-danger d-flex align-items-center">
      <div class="flex-grow-1">
        <h6>
          Delete Project
        </h6>
        This cannot be undone.
      </div>
      <button type="button" class="btn btn-danger" (click)="openModal(deleteModal, 'delete-modal-title')">
        Delete
      </button>
    </div>
  </div>
</div>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="delete-modal-title">Delete Project</h4>
    <button *ngIf="!deleting" type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to <span class="text-danger">delete</span> '{{ project.name }}'?
    This action cannot be undone.
  </div>
  <div class="modal-footer">
    <button *ngIf="!deleting" type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="delete()" [disabled]="deleting">
      <span *ngIf="deleting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{deleting ? 'Deleting...' : 'Delete'}}
    </button>
  </div>
</ng-template>
