<div class="file-item"
     [class.active]="file === (currentFile | async)"
     (click)="open(true)"
     (dblclick)="open(false)"
     (contextmenu)="openContextMenu($event, dropdown)"
     [dndDraggable]="file.path"
     [dndDropzone]=""
     [dndDisableDropIf]="!file.directory"
     (dndDrop)="onDrop($event)"
>
  <div class="file-item-indent" [style.margin-left.em]="level - 0.5">
    <app-file-icon class="mr-2" [file]="file" [open]="expanded"></app-file-icon>
    <input *ngIf="newName !== undefined"
           #nameInput
           type="text" class="name-input flex-grow-1" aria-label="New Name"
           (click)="$event.stopImmediatePropagation()"
           (change)="finishRenaming()"
           (keyup.escape)="cancelRenaming()"
           [(ngModel)]="newName"
    >
    <div *ngIf="newName === undefined" class="flex-grow-1" [class.dirty]="file.dirty">
      {{file.name}}
      <span class="text-muted" *ngIf="file.info">
        {{file.info}}
      </span>
    </div>
    <ng-container *ngIf="file.directory">
      <img class="icon hover-only px-1" src="/assets/icons/file-earmark-plus.svg" alt="New File" (click)="createFile(); $event.stopImmediatePropagation()">
      <img class="icon hover-only px-1" src="/assets/icons/folder-plus.svg" alt="New Folder" (click)="createDir(); $event.stopImmediatePropagation()">
    </ng-container>
    <ng-container *ngIf="file !== root">
      <img class="icon hover-only px-1" src="/assets/icons/pencil.svg" alt="Rename" (click)="startRenaming(); $event.stopImmediatePropagation()">
      <img class="icon hover-only px-1" src="/assets/icons/trash.svg" alt="Delete" (click)="delete(); $event.stopImmediatePropagation()">
    </ng-container>
    <div ngbDropdown #dropdown="ngbDropdown" container="body" (click)="$event.stopImmediatePropagation()">
      <img class="icon hover-only px-1" ngbDropdownToggle src="/assets/icons/three-dots.svg" alt="Options">
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="open(false)">Open</button>
        <button ngbDropdownItem *ngIf="!file.directory" (click)="openPreview()">Preview</button>
        <button ngbDropdownItem *ngIf="file !== root" (click)="startRenaming()">Rename</button>
        <ng-container *ngIf="file.directory">
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="createFile()">New File</button>
          <button ngbDropdownItem (click)="createDir()">New Folder</button>
        </ng-container>
        <ng-container *ngIf="file !== root">
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem class="text-danger" (click)="delete()">Delete</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div *ngIf="expanded" class="file-tree-children">
  <app-file-tree *ngFor="let child of file.children || []" [file]="child" [level]="level + 1"></app-file-tree>
</div>
