<div class="file-item" (click)="open()" (contextmenu)="openContextMenu($event, dropdown)">
  <div class="file-item-indent" [style.margin-left.em]="level - 0.5">
    <app-file-icon class="mr-2" [file]="root" [open]="expanded"></app-file-icon>
    <input *ngIf="oldName"
           type="text" class="name-input flex-grow-1" aria-label="New Name"
           (click)="$event.stopImmediatePropagation()"
           (change)="finishRenaming()"
           (keyup.escape)="cancelRenaming()"
           [(ngModel)]="root.name"
    >
    <div *ngIf="!oldName" class="flex-grow-1">
      {{root.name}}
      <span class="text-muted" *ngIf="root.data?.info">
        {{root.data?.info}}
      </span>
    </div>
    <img class="icon hover-only px-1" src="/assets/octicons/pencil-16.svg" alt="Rename" (click)="startRenaming(); $event.stopImmediatePropagation()">
    <img class="icon hover-only px-1" src="/assets/octicons/trashcan-16.svg" alt="Delete" (click)="delete(); $event.stopImmediatePropagation()">
    <div ngbDropdown #dropdown="ngbDropdown" (click)="$event.stopImmediatePropagation()">
      <span class="hover-only font-weight-bolder px-1" (click)="dropdown.toggle()">
        &#8942;
      </span>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="open()">Open</button>
        <button ngbDropdownItem (click)="startRenaming()">Rename</button>
        <ng-container *ngIf="root.directory">
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="createFile()">New File</button>
          <button ngbDropdownItem (click)="createDir()">New Folder</button>
        </ng-container>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem class="text-danger" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="expanded">
  <app-file-tree *ngFor="let child of root.data?.children || []" [root]="child" [level]="level + 1"></app-file-tree>
</ng-container>
