<div class="container">
  <h1 class="d-flex align-items-center">
    My Projects
    <div class="btn-group ml-auto">
      <a class="btn btn-success" routerLink="." [queryParams]="{edit: 'new', local: loggedIn ? null : true}">
        <i class="bi-folder-plus"></i>
        New
      </a>
      <div *ngIf="loggedIn" class="btn-group" ngbDropdown role="group" aria-label="Actions">
        <button class="btn btn-success dropdown-toggle-split" ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a ngbDropdownItem routerLink="." [queryParams]="{edit: 'new', local: true}">
            New Local Project
          </a>
        </div>
      </div>
    </div>
  </h1>

  <div *ngIf="projects.length === 0" class="card">
    <div class="card-body">
      <h5 class="card-title">
        Welcome to Projects!
      </h5>
      <p class="card-text">
        Projects allow you to:
      </p>
      <div class="media align-items-center">
        <i class="bi-window-sidebar feature-icon"></i>
        <div class="media-body">
          Use a feature-rich online IDE for fulibScenarios, fulib and Java code
        </div>
      </div>
      <div class="media align-items-center">
        <i class="bi-segmented-nav feature-icon"></i>
        <div class="media-body">
          View and edit multiple files at once
        </div>
      </div>
      <div class="media align-items-center">
        <i class="bi-terminal feature-icon"></i>
        <div class="media-body">
          Work within a powerful and secure container context
        </div>
      </div>
      <div class="media align-items-center">
        <i class="bi-file-earmark-zip feature-icon"></i>
        <div class="media-body">
          Create complex applications ready for download and use in desktop environments
        </div>
      </div>
    </div>
  </div>

  <ul class="list-group">
    <li *ngFor="let project of projects" class="list-group-item">
      <div class="media align-items-center">
        <i class="{{ project.local ? 'bi-hdd' : 'bi-server' }} feature-icon" [ngbTooltip]="project.local ? 'Local' : 'Persistent'"></i>
        <div class="media-body">
          <h3>
            {{project.name}}
          </h3>
          <div class="text-muted">
            {{project.description}}
          </div>
          <small class="text-muted">
            Created {{project.created | date:'medium'}}
            <ng-container *ngIf="deleting.has(project.id)">
              &bull;
              <span class="text-danger">Deleting...</span>
            </ng-container>
          </small>
        </div>
        <div class="btn-group ml-auto">
          <a class="btn btn-primary" routerLink="/projects/{{project.id}}" [class.disabled]="deleting.has(project.id)">
            Open
          </a>
          <div class="btn-group" ngbDropdown role="group" aria-label="Actions">
            <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle [disabled]="deleting.has(project.id)">
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a ngbDropdownItem routerLink="." [queryParams]="{edit: project.id}">
                Edit
              </a>
              <button *ngIf="loggedIn && project.local" ngbDropdownItem (click)="convert(project)">
                Convert to Persistent
              </button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem class="text-danger" (click)="delete(project)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="edit-modal-title">
      {{ editing!['id'] ? 'Edit' : 'New' }} {{editing!.local ? 'Local' : '' }} Project
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-project-form [project]="editing"></app-project-form>
    <div class="alert alert-info" *ngIf="editing?.local">
      {{ editing!['id'] ? 'This is' : 'You are creating' }} a <b>local</b> project.
      This means the project and its scenario files are stored in your browser.
      <ng-container *ngIf="!loggedIn">
        To create a persistent project bound to your user account, you need to
        <a routerLink="." (click)="login()">log in</a>.
      </ng-container>
    </div>
    <div class="alert alert-success" *ngIf="creatingFromEditor">
      This Project will be created with the configuration and scenario from the Editor.
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="save(); modal.close()">
      Save
    </button>
  </div>
</ng-template>
