<div class="container">
  <h1>My Projects</h1>

  <div class="list-group">
    <a *ngFor="let project of projects"
       class="list-group-item list-group-item-action"
       routerLink="/projects/{{project.id}}"
    >
      <h3>
        {{project.name}}
      </h3>
      <div class="text-muted">
        {{project.description}}
      </div>
      <small class="text-muted">
        Created {{project.created | date:'medium'}}
      </small>
    </a>
  </div>

  <hr/>

  <h2>New Project</h2>
  <app-project-form [project]="newProject"></app-project-form>
  <button type="button" class="btn btn-success" [disabled]="!newProject.name" (click)="create()">
    Create
  </button>
</div>

<ng-template #loginModal>
  <div class="modal-header">
    <h4 class="modal-title" id="login-modal-title">
      Login Required
    </h4>
  </div>
  <div class="modal-body">
    <p>
      Please log in to view or create Projects.
    </p>
    <p>
      Projects allow you to:
    </p>
    <div class="media">
      <i class="bi-window-sidebar h1 mr-3"></i>
      <div class="media-body">
        Use a feature-rich online IDE for fulibScenarios, fulib and Java code
      </div>
    </div>
    <div class="media">
      <i class="bi-segmented-nav h1 mr-3"></i>
      <div class="media-body">
        View and edit multiple files at once
      </div>
    </div>
    <div class="media">
      <i class="bi-terminal h1 mr-3"></i>
      <div class="media-body">
        Work within a powerful and secure container context
      </div>
    </div>
    <div class="media">
      <i class="bi-file-earmark-zip h1 mr-3"></i>
      <div class="media-body">
        Create complex projects ready for download and use in desktop environments
      </div>
    </div>
    <p>
      By logging in, we can identify which Projects belong to you, so you never lose your code or work.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="login()">
      Login
    </button>
  </div>
</ng-template>
