<div class="container">
  <h1>
    My Projects
    <button class="btn btn-success" (click)="create()">
      <i class="bi-folder-plus"></i>
      New
    </button>
  </h1>

  <ul class="list-group">
    <li *ngFor="let project of projects" class="list-group-item d-flex">
      <div>
        <h3>
          {{project.name}}
        </h3>
        <div class="text-muted">
          {{project.description}}
        </div>
        <small class="text-muted">
          Created {{project.created | date:'medium'}}
        </small>
      </div>
      <div class="btn-group ml-auto align-self-center">
        <a class="btn btn-primary" routerLink="/projects/{{project.id}}">
          Open
        </a>
        <div class="btn-group" ngbDropdown role="group" aria-label="Actions">
          <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a ngbDropdownItem routerLink="." [queryParams]="{edit: project.id}">
              Edit
            </a>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem class="text-danger" (click)="delete(project)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #loginModal>
  <div class="modal-header">
    <h4 class="modal-title" id="login-modal-title">
      Login Required
    </h4>
  </div>
  <div class="modal-body">
    <p>
      Please log in to view or create Projects.
    </p>
    <p>
      Projects allow you to:
    </p>
    <div class="media">
      <i class="bi-window-sidebar h1 mr-3"></i>
      <div class="media-body">
        Use a feature-rich online IDE for fulibScenarios, fulib and Java code
      </div>
    </div>
    <div class="media">
      <i class="bi-segmented-nav h1 mr-3"></i>
      <div class="media-body">
        View and edit multiple files at once
      </div>
    </div>
    <div class="media">
      <i class="bi-terminal h1 mr-3"></i>
      <div class="media-body">
        Work within a powerful and secure container context
      </div>
    </div>
    <div class="media">
      <i class="bi-file-earmark-zip h1 mr-3"></i>
      <div class="media-body">
        Create complex projects ready for download and use in desktop environments
      </div>
    </div>
    <p>
      By logging in, we can identify which Projects belong to you, so you never lose your code or work.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="login()">
      Login
    </button>
  </div>
</ng-template>

<ng-template #editModal>
  <div class="modal-header">
    <h4 class="modal-title" id="edit-modal-title">
      {{ editing!['id'] ? 'Edit' : 'New' }} Project
    </h4>
    <a class="close" aria-label="Close" routerLink="." [queryParams]="{edit: undefined}">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-body">
    <app-project-form [project]="editing"></app-project-form>
  </div>
  <div class="modal-footer">
    <a class="btn btn-secondary" routerLink="." [queryParams]="{edit: undefined}">
      Cancel
    </a>
    <a class="btn btn-primary" (click)="save()" routerLink="." [queryParams]="{edit: undefined}">
      Save
    </a>
  </div>
</ng-template>
