<div class="container">
  <app-assignment-info [assignment]="assignment"></app-assignment-info>

  <app-task-list [assignment]="assignment" [results]="solution?.results" [solution]="solution" [gradings]="gradings">
  </app-task-list>

  <h2><label for="solutionInput">Solution</label></h2>
  <p>
    <app-scenario-codemirror
      id="solutionInput"
      [content]="solution ? solution.solution : 'Loading...'"
      [markers]="markers"
      [readOnly]="true"
    ></app-scenario-codemirror>
  </p>

  <h2>Info</h2>

  <div class="form">
    <div class="form-group row">
      <label for="nameInput" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nameInput" readonly
               [ngModel]="solution?.name || 'Loading...'">
      </div>
    </div>
    <div class="form-group row">
      <label for="studentIDInput" class="col-sm-2 col-form-label">Student ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="studentIDInput" readonly
               [ngModel]="solution?.studentID || 'Loading...'">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailInput" class="col-sm-2 col-form-label">E-Mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailInput" readonly
               [ngModel]="solution?.email || 'Loading...'">
      </div>
    </div>
  </div>

  <p class="text-center" *ngIf="solution">
	  Submitted <b>{{solution.timestamp | date:'medium'}}</b>.
  </p>

  <h2>Comments</h2>
  <ol class="timeline-list">
    <li *ngFor="let comment of comments" class="timeline-item">
      <div class="timeline-item-badge bg-secondary">
        {{comment.author.charAt(0)}}
      </div>
      <div class="timeline-item-body">
        <div class="card">
          <div class="card-header">
            <app-author-name [name]="comment.author" [email]="comment.email"></app-author-name>
            <span *ngIf="comment.distinguished" class="badge badge-pill badge-primary"
                  ngbTooltip="Assignment Authority">
              &#10003;
            </span>
            &#8226;
            <span class="text-muted">{{comment.timestamp | date:'medium'}}</span>
            <ng-container *ngIf="userId && comment.createdBy === userId && comment.html !== undefined">
              &#8226;
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="delete(comment)">
                Delete
              </button>
            </ng-container>
          </div>
          <div class="card-body">
            <div class="card-text" *ngIf="comment.html !== undefined">
              <app-markdown [html]="comment.html"></app-markdown>
            </div>
            <div class="card-text text-muted" *ngIf="comment.html === undefined">
              <i>Deleted by user.</i>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-item">
      <div class="timeline-item-badge bg-secondary">
        +
      </div>
      <div class="timeline-item-body">
        <div class="card">
          <div class="card-header">
            <div class="form-inline">
              <span class="sr-only">New Comment</span>

              <label for="commentNameInput" class="sr-only">Name</label>
              <input type="text" class="form-control mr-2" id="commentNameInput" placeholder="John Doe"
                     [(ngModel)]="commentName" (change)="saveCommentDraft()" [disabled]="!!userId">

              <span class="mr-2">&#8226;</span>

              <label for="commentEmailInput" class="sr-only">Email</label>
              <input type="text" class="form-control mr-2" id="commentEmailInput" placeholder="jdoe@example.com"
                     [(ngModel)]="commentEmail" (change)="saveCommentDraft()" [disabled]="!!userId">

              <span class="mr-2">&#8226;</span>

              <button type="button" class="btn btn-primary mr-2" id="commentSubmitButton"
                      ngbTooltip="Keyboard Shortcuts: Ctrl-&#9166;"
                      (click)="submitComment()" [disabled]="submittingComment">
                {{submittingComment ? 'Submitting...' : 'Submit'}}
              </button>
            </div>
          </div>
          <div class="card-body">
            <textarea class="form-control" id="commentBodyInput"
                      [(ngModel)]="commentBody" (change)="saveCommentDraft()" (keyup.control.enter)="submitComment()">
            </textarea>
            <small class="form-text text-muted">
              <a href="https://commonmark.org/help/">Markdown syntax</a> is supported.
            </small>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>

<app-token-modal #tokenModal [solution]="true" (submitTokens)="setTokens($event.assignmentToken, $event.solutionToken)">
</app-token-modal>
