<ngbx-modal #modal [back]="['..', 'tutorial']">
  <ng-container modal-title>
    Setup Project
  </ng-container>
  <ng-container modal-body>
    <p>
      It looks like your project is currently empty.
      This setup will help you get started.
    </p>
    <p>
      Fill out the form below to generate a Gradle project.
    </p>
    <hr/>
    <app-project-config-form [config]="config"></app-project-config-form>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="save(); modal.close()">
      Generate
    </button>
  </ng-container>
</ngbx-modal>
