<div class="container">
  <h1 class="d-flex align-items-center">
    My Projects
    <div class="btn-group ml-auto">
      <a class="btn btn-success" routerLink="new/edit" [queryParams]="{local: currentUser ? null : true}">
        <i class="bi-folder-plus"></i>
        New
      </a>
      <div *ngIf="currentUser" class="btn-group" ngbDropdown role="group" aria-label="Actions">
        <button class="btn btn-success dropdown-toggle-split" ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a ngbDropdownItem routerLink="new/edit" [queryParams]="{local: true}">
            New Local Project
          </a>
        </div>
      </div>
    </div>
  </h1>

  <div *ngIf="projects.length === 0" class="card">
    <div class="card-body">
      <h5 class="card-title">
        Welcome to Projects!
      </h5>
      <p class="card-text">
        Projects allow you to:
      </p>
      <div class="media align-items-center">
        <i class="bi-window-sidebar feature-icon"></i>
        <div class="media-body">
          Use a feature-rich online IDE for fulibScenarios, fulib and Java code
        </div>
      </div>
      <div class="media align-items-center">
        <i class="bi-segmented-nav feature-icon"></i>
        <div class="media-body">
          View and edit multiple files at once
        </div>
      </div>
      <div class="media align-items-center">
        <i class="bi-terminal feature-icon"></i>
        <div class="media-body">
          Work within a powerful and secure container context
        </div>
      </div>
      <div class="media align-items-center">
        <i class="bi-file-earmark-zip feature-icon"></i>
        <div class="media-body">
          Create complex applications ready for download and use in desktop environments
        </div>
      </div>
    </div>
  </div>

  <ul class="list-group">
    <li *ngFor="let project of projects" class="list-group-item">
      <div class="media align-items-center">
        <i class="{{ project.local ? 'bi-hdd' : 'bi-server' }} feature-icon" [ngbTooltip]="project.local ? 'Local' : 'Persistent'"></i>
        <div class="media-body">
          <h3>
            {{project.name}}
          </h3>
          <div class="text-muted">
            {{project.description}}
          </div>
          <small class="text-muted">
            Created {{project.created | date:'medium'}}
          </small>
        </div>
        <div class="btn-group ml-auto">
          <a class="btn btn-primary" [routerLink]="['/projects', project.id, {outlets: {panel: 'project'}}]">
            Open
          </a>
          <div class="btn-group" ngbDropdown role="group" aria-label="Actions">
            <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a ngbDropdownItem [routerLink]="[project.id, 'edit']">
                Edit
              </a>
              <a ngbDropdownItem [routerLink]="[project.id, 'settings']">
                Settings
              </a>
              <a *ngIf="!project.local" ngbDropdownItem [routerLink]="[project.id, 'edit-member']">
                Add Collaborator
              </a>
              <button *ngIf="currentUser && project.local" ngbDropdownItem (click)="convert(project)">
                Convert to Persistent
              </button>
              <div class="dropdown-divider"></div>
              <a *ngIf="!project.local && currentUser && currentUser.id === project.userId"
                 class="text-danger" ngbDropdownItem [routerLink]="[project.id, 'transfer']">
                Transfer
              </a>
              <a *ngIf="project.local || currentUser && currentUser.id === project.userId"
                ngbDropdownItem class="text-danger" [routerLink]="[project.id, 'delete']">
                Delete
              </a>
              <button *ngIf="!project.local && currentUser && currentUser.id !== project.userId"
                 ngbDropdownItem class="text-danger" (click)="leave(project)"
              >
                Leave
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <p *ngIf="!currentUser" class="text-center text-muted mt-3">
    Missing something?
    Some of your Projects may not be available until you
    <a routerLink="." (click)="login()">log in</a>
    to your account.
  </p>
</div>

<router-outlet></router-outlet>
