<app-modal #modal [back]="['..']" [backOptions]="{relativeTo: route}">s
  <ng-container modal-header>
    Delete Solution
  </ng-container>
  <ng-container modal-body>
    <p>
      Are you sure you want to delete this solution?
      This action cannot be undone.
    </p>
    <ng-container *ngIf="comments || evaluations">
      <p>
        In addition to the solution, you will also permanently delete:
      </p>
      <div class="d-flex justify-content-center mb-3">
        <app-statistic-value *ngIf="comments" [standalone]="true" label="Comments" [value]="comments"></app-statistic-value>
        <app-statistic-value *ngIf="evaluations" [standalone]="true" label="Evaluations" [value]="evaluations"></app-statistic-value>
      </div>
    </ng-container>
    <div>
      <label class="form-label" for="titleInput">
        Please type <b>{{ expectedTitle }}</b> to confirm:
      </label>
      <input type="text" class="form-control" id="titleInput" [(ngModel)]="title">
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button class="btn btn-danger" [disabled]="title !== expectedTitle" (click)="delete()" routerLink="../../..">
      Delete
    </button>
  </ng-container>
</app-modal>
