<ngbx-modal #modal size="lg" [back]="['../..']"
            [backOptions]="{relativeTo: route, queryParamsHandling: 'preserve'}">
  <ng-container modal-title>
    Submit Feedback
  </ng-container>
  <ng-container modal-body>
    <h1>
      {{ issue?.title }}
    </h1>
    <app-markdown [markdown]="issue?.body" #markdownCmp></app-markdown>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button
      class="btn btn-primary"
      *ngxClipboardIfSupported ngxClipboard [cbContent]="issue ? issue.title + issue.body : undefined"
      (click)="saveAndClose(modal)"
    >
      Copy Markdown
    </button>
    <button
      class="btn btn-primary"
      *ngxClipboardIfSupported ngxClipboard [cbContent]="markdownCmp.html"
      (click)="saveAndClose(modal)"
    >
      Copy HTML
    </button>
    <a class="btn btn-primary bi-envelope" [href]="mailLink" (click)="saveAndClose(modal)">
      Draft Mail
    </a>
    <app-disabled-tooltip [require]="[
      [!!assignment?.classroom?.org, 'Classroom Org is configured in Assignment'],
      [!!assignment?.classroom?.prefix, 'Classroom Prefix is configured in Assignment'],
      [!!solution?.author?.github, 'GitHub Username is set in Solution'],
    ]" #draftIf>
      <a class="btn btn-primary bi-github" [href]="draftLink" target="_blank" [class.disabled]="draftIf.disabled"
         (click)="saveAndClose(modal)">
        Draft Issue
      </a>
    </app-disabled-tooltip>
    <app-disabled-tooltip [require]="[
      [!!assignment?.classroom?.org, 'Classroom Org is configured in Assignment'],
      [!!assignment?.classroom?.prefix, 'Classroom Prefix is configured in Assignment'],
      [!!solution?.author?.github, 'GitHub Username is set in Solution'],
      [!!githubToken, 'You are logged in'],
      [!!githubToken, 'Your Account is linked to GitHub'],
    ]" #submitIf>
      <button class="btn btn-success" [disabled]="submitting || submitIf.disabled"
              (click)="submitIssue(); saveAndClose(modal)"
      >
        Submit Issue
      </button>
    </app-disabled-tooltip>
  </ng-container>
</ngbx-modal>
