<div class="container">
  <h1>
    {{ context.assignment?.['_id'] ? 'Edit' : 'Create' }}
    Assignment
  </h1>
  <div class="d-flex align-items-center mb-3">
    <app-import-export class="me-auto" (import)="onImport($event)" (export)="onExport()"></app-import-export>
    <a class="btn btn-secondary ms-2" routerLink="/assignments">
      Cancel
    </a>
    @if (context.assignment?.['_id']) {
      <a class="btn btn-info ms-2" routerLink="diff">
        View Diff
      </a>
    }
    @if (draft) {
      <button class="btn btn-warning ms-2" (click)="deleteDraft()">
        Delete Draft
      </button>
    }
    <button class="btn btn-primary ms-2" (click)="submit()" [disabled]="submitting">
      {{ submitting ? 'Saving...' : 'Save' }}
    </button>
  </div>
  <ngbx-route-tabs [routes]="steps"></ngbx-route-tabs>
  <router-outlet></router-outlet>
</div>
