<div class="row">
  <div class="col-md-3 bg-light bg-darkmode-dark">
    <div class="container" style="position: sticky; top: 0">
      <h1>{{course?.title || 'Loading Title...'}}</h1>
      <app-markdown [markdown]="course?.description"></app-markdown>
      <div class="timeline-list">
        @for (assignment of assignments; track assignment._id; let i = $index) {
          <a
            class="timeline-item text-body text-decoration-none"
            [routerLink]="[assignment._id]"
            routerLinkActive="timeline-item-active"
          >
            <div class="timeline-item-badge bg-secondary">
              {{i + 1}}
            </div>
            <div class="timeline-item-body">
              {{assignment.title}}
              @if (solutions[i]) {
                <span class="text-muted">
                &#8226;
                Done!
              </span>
              }
            </div>
          </a>
        }
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
