<div class="p-3 d-flex align-items-center position-sticky bg-light bg-darkmode-dark" style="top: 3.5rem; z-index: 1">
  <label for="searchInput" class="me-sm-2">
    Search
  </label>
  <i class="bi-question-circle me-sm-2" ngbTooltip="View Search Help" [ngbPopover]="searchHelp" popoverTitle="Search Help" placement="bottom-left">
  </i>
  <input type="search" class="form-control me-sm-2 flex-grow-1" id="searchInput"
         placeholder="Name, Student ID, E-Mail, GitHub Username, Assignee"
         [ngModel]="search$.value" (ngModelChange)="search$.next($event)"
         [ngbTypeahead]="typeahead" [resultFormatter]="formatTypeahead">
  <div style="width: 10rem">
    {{ solutions.length }} Solutions
    <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-label="Loading...">
    </div>
  </div>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-secondary" id="optionsDropdown" ngbDropdownToggle>
      <i class="bi-gear"></i>
      <span class="visually-hidden">Options</span>
    </button>
    <div ngbDropdownMenu aria-labelledby="optionsDropdown">
      <ng-container *ngFor="let option of optionItems!">
        <h6 class="dropdown-header">
          {{ option.title }}
          <i class="bi-info-circle" [ngbTooltip]="option.description"></i>
        </h6>
        <button
          *ngFor="let item of option.options"
          ngbDropdownItem
          role="check"
          (click)="setOption(option.key, item[0])"
          class="dropdown-item-check"
          [class.checked]="options[option.key] === item[0]"
        >
          {{ item[1] }}
        </button>
        <div class="dropdown-divider"></div>
      </ng-container>
      <a ngbDropdownItem routerLink="/assignments/settings">
        All Settings...
      </a>
    </div>
  </div>
  <ng-template #searchHelp>
    <ul>
      <li>Search terms are separated by spaces and case sensitive</li>
      <li>Each search term has to match for a result to be shown</li>
      <li>To search for terms including spaces, use <code>+</code> in their place<br/>
          E.g. <code>John+Doe</code>
      </li>
      <li>To search for specific attributes, enter <code>attribute:value</code><br/>
          E.g. <code>studentID:1234</code>, <code>email:@example.org</code>, or <code>assignee:John+Doe</code><br/>
          Supported attribute names (case sensitive):
        <ul>
          <li *ngFor="let propertyName of searchableProperties">
            <code>{{propertyName}}</code>
          </li>
        </ul>
      </li>
    </ul>
  </ng-template>
</div>
<table class="table table-bordered table-hover table-sm table-centered" *ngIf="solutions">
  <thead>
  <tr>
    <th *ngFor="let prop of authorProperties">
      {{ prop[0] }}
      <button class="btn btn-sm p-1 bi-clipboard" ngbTooltip="Copy Column as Text" (click)="copyAuthor(prop[0], prop[1])"></button>
    </th>
    <th>Submitted</th>
    <th>
      Points
      <button class="btn btn-sm p-1 bi-question-circle" ngbTooltip="View Color Legend" [ngbPopover]="pointsPopover" placement="bottom-left"></button>
      <button class="btn btn-sm p-1 bi-clipboard" ngbTooltip="Copy Column as Text" (click)="copyPoints()"></button>
    </th>
    <ng-template #pointsPopover>
      <div>
        <span class="badge bg-primary">{{ totalPoints }} / {{ totalPoints }}</span> - Graded
      </div>
      <div>
        <span class="badge bg-warning">? / {{ totalPoints }}</span> - Partially Evaluated manually
      </div>
      <div>
        <span class="badge bg-info">? / {{ totalPoints }}</span> - Partially Evaluated by Code Search
      </div>
      <div>
        <span class="badge bg-secondary">? / {{ totalPoints }}</span> - Not Evaluated
      </div>
    </ng-template>
    <th>Assignee</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let solution of solutions; trackBy: solutionId">
    <td *ngFor="let prop of authorProperties">{{solution.author[prop[1]]}}</td>
    <td>
        <span
          *ngIf="assignment && assignment.deadline && solution.timestamp && assignment.deadline < solution.timestamp else timestamp"
          class="text-danger" ngbTooltip="Submitted after Deadline">
          {{solution.timestamp | date:'medium'}}
        </span>
      <ng-template #timestamp>
        {{solution.timestamp | date:'medium'}}
      </ng-template>
    </td>
    <td>
      <span
        class="badge bg-{{
          solution.points !== undefined ? 'primary'
          : evaluated[solution._id!] === true ? 'warning'
          : evaluated[solution._id!] === false ? 'info'
          : 'secondary'
        }}"
      >
        {{ solution.points ?? '?' }} / {{ totalPoints }}
      </span>
    </td>
    <td>
      <app-assignee-input
        [assignment]="assignment?._id!"
        [solution]="solution._id!"
        [assignees]="assigneeNames"
        [assignee]="assignees[solution._id!]?.assignee || ''"
        (saved)="assignees[solution._id!] = $event"
      ></app-assignee-input>
    </td>
    <td>
      <a
        class="btn btn-primary me-1 bi-eye-fill"
        routerLink="/assignments/{{assignment?._id}}/solutions/{{solution._id}}"
        queryParamsHandling="merge"
        ngbTooltip="View Solution"
        (click)="telemetry(solution, 'openSolution')"
      ></a>
      <div
        *ngIf="assignment && assignment?.classroom?.org && assignment?.classroom?.prefix && solution.author.github"
        class="btn-group me-1"
      >
        <a
          class="btn btn-secondary bi-github"
          [href]="assignment|githubLink:solution:true"
          target="_blank"
          ngbTooltip="View {{solution.commit ? 'Commit' : 'Repository'}} on GitHub"
          (click)="telemetry(solution, 'showGithub')"
        ></a>
        <a
          class="btn btn-secondary bi-code-square"
          ngbTooltip="Clone in IDE"
          [href]="assignment|cloneLink:solution:options | safeUrl"
          (click)="telemetry(solution, 'clone')"
        ></a>
        <button
          #launchButton
          class="btn btn-secondary"
          ngbTooltip="Launch in Projects"
          (click)="telemetry(solution, 'launchProjects'); launch(solution, launchButton)"
        >
          <span [class]="launchButton.disabled ? 'spinner-border spinner-border-sm' : 'bi-rocket'"></span>
        </button>
      </div>
      <a
        class="btn btn-primary me-1 bi-check-circle"
        ngbTooltip="Submit Feedback"
        [routerLink]="['submit', solution._id]"
        queryParamsHandling="preserve"
        (click)="telemetry(solution, 'openFeedback')"
      ></a>
    </td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
