<ol [dndDropzone]="['task']" (dndDrop)="drop($event)">
  <li dndPlaceholderRef>
    <hr class="border-success"/>
  </li>
  <li *ngFor="let task of tasks"
      class="text-{{task|taskColor:context.evaluations?.[task._id]?.points}}"
      dndType="task"
      [dndDraggable]="task"
      dndEffectAllowed="move"
      (dndMoved)="dragged(task)"
      (dndEnd)="saveDraft()"
  >
    <div class="d-flex align-items-center mb-2">
      <div class="mr-2" dndDragImageRef>
        <del *ngIf="task.deleted; else taskDesc">
          <ng-container *ngTemplateOutlet="taskDesc"></ng-container>
        </del>
        <ng-template #taskDesc>
          {{task.description || '(no description)'}}
        </ng-template>
        <span class="badge badge-{{task|taskColor:context.evaluations?.[task._id]?.points}}">
            {{task.points}}
          </span>
      </div>
      <a class="btn btn-primary ml-auto" aria-label="Edit" ngbTooltip="Edit"
         [routerLink]="[task._id]" [queryParams]="{parent}">
        <i class="bi-pencil"></i>
      </a>
      <app-collapse-button class="ml-2" [collapsed]="!!task.collapsed"
                           (collapsedChange)="task.collapsed = $event; saveDraft()">
      </app-collapse-button>
      <div class="btn btn-secondary ml-2 handle" aria-label="Reorder" ngbTooltip="Drag to Reorder" dndHandle>
        <i class="bi-grip-horizontal"></i>
      </div>
      <button *ngIf="!task.deleted"
              type="button" class="btn btn-danger ml-2" aria-label="Delete" ngbTooltip="Delete"
              (click)="removeTask(task)">
        <i class="bi-trash"></i>
      </button>
      <button *ngIf="task.deleted"
              type="button" class="btn btn-success ml-2" aria-label="Restore" ngbTooltip="Restore"
              (click)="restoreTask(task)">
        <i class="bi-arrow-repeat"></i>
      </button>
    </div>
    <app-edit-task-list *ngIf="!task.collapsed" [parent]="task._id" [tasks]="task.children"></app-edit-task-list>
  </li>
  <li>
    <a routerLink="." class="text-success" (click)="addTask()">
      Add Task
    </a>
  </li>
</ol>
