<ngbx-modal #modal [back]="['../solutions']">
  <ng-container modal-title>
    Import Solutions
  </ng-container>
  <ng-container modal-body>
    <ul ngbNav #nav="ngbNav" [(activeId)]="mode" class="nav-tabs mb-3">
      <li ngbNavItem="github">
        <a ngbNavLink>
          GitHub
        </a>
        <ng-template ngbNavContent>
          Imports solutions from GitHub using the organisation and prefix configured in the
          <a routerLink="../edit/classroom">assignment settings</a>.
          No further configuration is required.
        </ng-template>
      </li>
      <li ngbNavItem="files">
        <a ngbNavLink>
          Files
        </a>
        <ng-template ngbNavContent>
          <p>
            Select multiple zip or jar files from your disk to upload.
            The file name may have any of the following formats:
          </p>
          <ul>
            <li>
              Digits, e.g. <code>12345678.zip</code>, interpreted as Student IDs.
            </li>
            <li>
              Prefixed with the same GitHub Classroom prefix as the assignment,
              e.g. <code>assignment-1-Student.zip</code>,
              which extracts the GitHub Username like <code>Student</code>.
            </li>
            <li>
              Anything else, with the file name without extension becoming the student name.
            </li>
          </ul>
          <input type="file" class="form-control" id="files" multiple accept="application/zip" #input
                 (change)="setFiles(input.files!)">
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </ng-container>
  <ng-container modal-footer>
    <button class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
    <button class="btn btn-success" (click)="import(modal)" [disabled]="importing">
      <span *ngIf="importing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ importing ? 'Importing...' : 'Import' }}
    </button>
  </ng-container>
</ngbx-modal>
