<app-modal #modal>
  <ng-container modal-header>
    Submit Feedback
  </ng-container>
  <ng-container modal-body>
    <p>
      Please select the relevant option below.
      You will be redirected to a page with further instructions.
    </p>
    <p>
      I want to submit feedback regarding...
    </p>
    <div class="d-grid gap-2">
      <a role="button" class="btn btn-outline-secondary"
         href="https://github.com/fujaba/fulibScenarios/issues/new/choose">
        The scenario or Java code (fulibScenarios)
      </a>
      <a role="button" class="btn btn-outline-secondary"
         href="https://github.com/fujaba/fulibMockups/issues/new/choose">
        The HTML mockups (fulibMockups)
      </a>
      <a role="button" class="btn btn-outline-secondary"
         href="https://github.com/fujaba/fulib/issues/new/choose">
        The generated model classes (fulib)
      </a>
      <a role="button" class="btn btn-outline-secondary"
         href="https://github.com/fujaba/fulibTools/issues/new/choose">
        The object and class diagrams (fulibTools)
      </a>
      <a role="button" class="btn btn-outline-secondary"
         href="https://github.com/fujaba/fulibTables/issues/new/choose">
        Tables and pattern matching (fulibTables)
      </a>
      <a role="button" class="btn btn-outline-secondary"
         href="https://github.com/fujaba/fulibGradle/issues/new/choose">
        The Gradle plugin (fulibGradle)
      </a>
      <a role="button" class="btn btn-outline-secondary"
         href="https://github.com/fujaba/fulib.org/issues/new/choose">
        This website itself (fulib.org)
      </a>
    </div>
  </ng-container>
  <ng-container modal-footer>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancel
    </button>
  </ng-container>
</app-modal>
