.file-item {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.25);
  }
}

.file-item-indent {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  border-left: 1px solid transparent;
}

:host[data-expanded=true]:hover .file-item-indent {
  border-left-color: rgba(127, 127, 127, 0.5);
}

.name-input {
  background-color: transparent;
  color: inherit;
  width: 100%;
  font-size: 1em;
  border: 1px solid #007bff;
}

@media (hover: hover) {
  .file-item .dropdown-dots {
    opacity: 0;
  }

  .file-item:hover .dropdown-dots {
    opacity: unset;
  }
}
