.file-item {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.25);
  }
}

.name-input {
  background-color: transparent;
  color: inherit;
  width: 100%;
  font-size: 1em;
  border: 1px solid #007bff;
}

@media (hover: hover) {
  .file-item .dropdown-dots {
    opacity: 0;
  }

  .file-item:hover .dropdown-dots {
    opacity: unset;
  }
}
