<div class="file-item" (click)="open()" (contextmenu)="openContextMenu($event, dropdown)">
  <div class="pl-2 border-left d-flex align-items-center" [style.margin-left.em]="level - 0.5">
    <svg *ngIf="root.children && expanded"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" fill="currentColor" d="M12.78 6.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.22 7.28a.75.75 0 011.06-1.06L8 9.94l3.72-3.72a.75.75 0 011.06 0z"></path></svg>
    <svg *ngIf="root.children && !expanded"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" fill="currentColor" d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z"></path></svg>
    <app-file-icon class="mr-2" [file]="root"></app-file-icon>
    <input *ngIf="newName"
           type="text" class="name-input flex-grow-1" aria-label="New Name"
           (click)="$event.stopImmediatePropagation()"
           (change)="finishRenaming()"
           (keyup.escape)="cancelRenaming()"
           [(ngModel)]="newName"
    >
    <div *ngIf="!newName" class="flex-grow-1">
      {{root.name}}
      <span class="text-muted" *ngIf="root.info">
        {{root.info}}
      </span>
    </div>
    <div ngbDropdown #dropdown="ngbDropdown" (click)="$event.stopImmediatePropagation()">
      <span class="dropdown-dots font-weight-bolder px-2" (click)="dropdown.toggle()">
        &#8942;
      </span>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="open()">Open</button>
        <button ngbDropdownItem (click)="startRenaming()">Rename</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem class="text-danger" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="expanded">
  <app-file-tree *ngFor="let child of root.children || []" [root]="child" [level]="level + 1" [handler]="handler"></app-file-tree>
</ng-container>
