<div class="container">
  <h1>My Projects</h1>

  <div class="list-group">
    <a *ngFor="let project of projects"
       class="list-group-item list-group-item-action"
       routerLink="/projects/{{project.id}}"
    >
      <h3>
        {{project.name}}
      </h3>
      <div class="text-muted">
        {{project.description}}
      </div>
      <small class="text-muted">
        Created {{project.created | date:'medium'}}
      </small>
    </a>
  </div>

  <hr/>

  <h2>New Project</h2>
  <app-project-form [project]="newProject"></app-project-form>
  <button type="button" class="btn btn-success" [disabled]="!newProject.name" (click)="create()">
    Create
  </button>
</div>
