<div class="container">
  <h4>Basic Settings</h4>
  <app-project-form *ngIf="project" [project]="project"></app-project-form>
  <button type="button" class="btn btn-primary" (click)="save()">
    Save
  </button>
  <hr/>
  <ng-container *ngIf="project && !project.local">
    <h4>Members</h4>
    <div class="list-group">
      <div *ngFor="let member of members" class="list-group-item">
        {{ member.user ? member.user.firstName + ' ' + member.user.lastName + ' (' + member.user.username + ')' : 'Loading...' }}
      </div>
    </div>
    <hr/>
  </ng-container>
  <h4>Danger Zone</h4>
  <div class="list-group">
    <div class="list-group-item border-danger d-flex align-items-center" *ngIf="projectManager">
      <div class="flex-grow-1">
        <h6>
          Re-run Setup
        </h6>
        This may override any scaffolded project files (<code>build.gradle</code> etc.).
      </div>
      <a role="button" class="btn btn-danger" routerLink="setup" [relativeTo]="activatedRoute.parent?.parent">
        Setup
      </a>
    </div>
    <div class="list-group-item border-danger d-flex align-items-center" *ngIf="!project?.local">
      <div class="flex-grow-1">
        <h6>
          Transfer Ownership
        </h6>
        This can only be undone by the new owner.
      </div>
      <a role="button" class="btn btn-danger" routerLink="transfer">
        Transfer
      </a>
    </div>
    <div class="list-group-item border-danger d-flex align-items-center">
      <div class="flex-grow-1">
        <h6>
          Delete Project
        </h6>
        This cannot be undone.
      </div>
      <a role="button" class="btn btn-danger" routerLink="delete">
        Delete
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
