// see https://github.com/twbs/bootstrap/issues/38525
$body-bg-dark: #111315; // mix of $black and $gray-900
$body-color-dark: #f8f9fa; // $gray-100
@import "bootstrap";
@import "bootstrap-icons";

@import "codemirror/lib/codemirror";
@import "codemirror/theme/idea";
@import "codemirror/theme/darcula";

@import "./styles/codemirror/base";
@import "./styles/codemirror/hint";
@import "./styles/codemirror/lint";

@import "./styles/gradients";
@import "./styles/highlight";
@import "./styles/markdown";
@import "./styles/timeline";

/* --------------- Page Layout --------------- */

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  padding-top: 3.5rem;
  height: 100%;
}

/* --------------- Dark Mode Overrides --------------- */

gridster-item {
  background-color: var(--bs-body-bg) !important;
}

.as-split-gutter {
  background-color: var(--bs-body-bg) !important;
}

@include color-mode(dark) {
  img.diagram, .diagram > svg {
    filter: invert(100%);
  }
}

/* --------------- Misc. --------------- */

a[href^="http"]::after {
  content: '↗';
}

.dropdown-item-check::before {
  display: inline-block;
  width: 1rem;
  font-weight: 600;
}

.dropdown-item-check.checked::before {
  content: '✓';
}

.dropdown-toggle.nav-link {
  cursor: pointer;
}

.feature-icon {
  font-size: xxx-large;
}

.text-blur {
  color: transparent !important;
  text-shadow: 0 0 8px var(--bs-body-color) !important;
}

.backdrop-blur {
  backdrop-filter: blur(10px);
}

@each $name, $value in $colors {
  .bg-progress-#{$name} {
    $color: rgba($value, 0.1);
    background-image: linear-gradient(to right, $color 0, $color var(--percentage), transparent var(--percentage));
  }
}

.sticky-start {
  position: sticky;
  left: 0;
  z-index: $zindex-sticky;
}
