@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/idea";
@import "~codemirror/theme/darcula";

/* --------------- CodeMirror --------------- */

.CodeMirror {
  border-width: 1px;
  border-style: solid;
  border-color: #ced4da;
  border-radius: .25rem;

  &:focus-within {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25)
  }
}

/* --------------- Sticky footer styles --------------- */
/* adapted from https://getbootstrap.com/docs/4.0/examples/sticky-footer/ */

$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}

/* --------------- Dark Mode Overrides --------------- */

[data-theme="dark"] {
  .CodeMirror {
    border-color: #404040;
  }

  img.diagram, svg.diagram {
    filter: invert(100%);
  }
}
