<h5>
  Submission Link
</h5>
<p>
  You can view your submission with this link.
</p>
<div class="input-group">
  <input #linkInput type="text" class="form-control" readonly
         [value]="origin + '/assignments/' + assignmentId + '/solutions/' + solutionId">
  <div class="input-group-append" *ngxClipboardIfSupported>
    <button type="button" class="btn btn-outline-secondary" [ngxClipboard]="linkInput">
      Copy
    </button>
  </div>
</div>
<hr/>
<h5>
  Access Token
</h5>
<p>
  To view your submission on other devices, you may be asked for the following token.
  Please save it or write it down somewhere.
  <span class="text-danger">
            Keep this token secret, do not share it with others!
          </span>
</p>
<div class="input-group">
  <input #tokenInput type="text" class="form-control text-monospace" readonly [value]="token">
  <div class="input-group-append" *ngxClipboardIfSupported>
    <button type="button" class="btn btn-outline-secondary" [ngxClipboard]="tokenInput">
      Copy
    </button>
  </div>
</div>
<hr/>
<h5>
  Submission Link with Token
</h5>
<p>
  You can view your submission with this link.
  <span class="text-danger">
            It includes the Access Token, so keep the link secret and do not share it with others!
          </span>
</p>
<div class="input-group">
  <input #linkWithTokenInput type="text" class="form-control" readonly
         [value]="origin + '/assignments/' + assignmentId + '/solutions/' + solutionId + '/?stok=' + token">
  <div class="input-group-append" *ngxClipboardIfSupported>
    <button type="button" class="btn btn-outline-secondary" [ngxClipboard]="linkWithTokenInput">
      Copy
    </button>
  </div>
</div>
<hr/>
<h5>
  fulibFeedback Settings
  <span class="badge text-white bg-gradient-primary">New</span>
</h5>
<p>
  Use the button below to configure fulibFeedback and view evaluations for this submission in
  <select class="form-control form-control-sm d-inline-block w-auto" [(ngModel)]="ide" (ngModelChange)="saveIde($event)">
    <option *ngFor="let option of ideOption.options" [value]="option[0]">{{ option[1] }}</option>
  </select>
  .
</p>
<a class="btn btn-primary bi-magic" [href]="ide + '://fulib.fulibfeedback/configure?api_server=' + encodedApiServer + '&assignment=' + assignmentId + '&solution=' + solutionId + '&token=' + token | safeUrl">
  Configure
</a>
