<h5>
  Submission Link
</h5>
<p>
  You can view your submission with this link.
</p>
<div class="input-group">
  <input #linkInput type="text" class="form-control" readonly
         [value]="origin + '/assignments/' + assignmentId + '/solutions/' + solutionId">
  <button *ngxClipboardIfSupported class="btn btn-outline-secondary bi-clipboard" ngbTooltip="Copy" [ngxClipboard]="linkInput">
  </button>
</div>
<hr/>
<div class="alert alert-warning">
  The following fields contain the solution token, a secret key that can be used to access your solution, evaluations
  and comments.
  Make sure to keep this token secret!
  Most importantly, <strong>do not share it with other students</strong>.
</div>
<h5>
  Access Token
</h5>
<p>
  To view your submission on other devices, you may be asked for the following token.
</p>
<app-token-input [value]="token || ''"></app-token-input>
<hr/>
<h5>
  Submission Link with Token
</h5>
<p>
  You can view your submission with this link.
</p>
<app-token-input [value]="origin + '/assignments/' + assignmentId + '/solutions/' + solutionId + '/?stok=' + token"></app-token-input>
<hr/>
<h5>
  fulibFeedback Settings
</h5>
<p>
  Use the button below to configure fulibFeedback and view evaluations for this submission in your IDE
  <a class="bi-gear" routerLink="/assignments/settings" ngbTooltip="Configure"></a>.
</p>
<a class="btn btn-primary bi-magic"
   [href]="ide + '://fulib.fulibfeedback/configure?api_server=' + encodedApiServer + '&assignment=' + assignmentId + '&solution=' + solutionId + '&token=' + token | safeUrl">
  Configure
</a>
