<div ngbDropdown>
  <button ngbDropdownToggle class="btn p-0 text-white text-shadow"
          [class.bi-person-plus]="!assignee"
          [ngbTooltip]="assignee || 'Add Assignee'"
  >
    {{ (assignee || '') | initials }}
  </button>
  <div ngbDropdownMenu>
    <button *ngFor="let suggestion of assignees" ngbDropdownItem (click)="save(suggestion)">
      <span class="badge" [style.background-color]="suggestion | assigneeColor">{{ suggestion | initials }}</span>
      {{ suggestion }}
    </button>
    <button ngbDropdownItem class="bi-person-x" (click)="save(undefined)">
      Unassign
    </button>
    <div class="dropdown-item-text">
      <label class="form-label" for="custom-assignee">
        Custom Assignee
      </label>
      <input type="text" class="form-control" id="custom-assignee" [(ngModel)]="assignee" (change)="save(assignee)">
    </div>
  </div>
</div>
