<div class="h-100 mh-100 d-flex flex-column">
  <div class="p-3">
    <h4>{{project.name}}</h4>
    <div class="small text-muted">
      {{project.description}}
    </div>
  </div>
  <div class="flex-grow-1 overflow-auto d-flex flex-column">
    <ng-container *ngFor="let panel of panels">
      <div class="panel-header bg-light bg-darkmode-dark"
           (click)="panelState[panel.id].expanded = !panelState[panel.id].expanded">
        <i class="bi-chevron-{{panelState[panel.id].expanded ? 'down' : 'right'}}" role="checkbox"
           [attr.aria-label]="panelState[panel.id].expanded ? 'Expanded' : 'Collapsed'"></i>
        {{panel.name | uppercase}}
      </div>
      <div *ngIf="panelState[panel.id].expanded" class="flex-grow-1">
        <ng-container [ngComponentOutlet]="panel.component"></ng-container>
      </div>
    </ng-container>
  </div>
</div>
