<div class="btn-group btn-group-toggle mb-3"
     ngbRadioGroup name="radioBasic" [ngModel]="markdown !== undefined" (ngModelChange)="switchMarkdown($event)">
  <label ngbButtonLabel class="btn-secondary">
    <input ngbButton type="radio" [value]="true">
    Markdown
  </label>
  <label ngbButtonLabel class="btn-secondary">
    <input ngbButton type="radio" [value]="false">
    List
  </label>
</div>
<app-edit-task-list
  *ngIf="markdown === undefined"
  [tasks]="assignment.tasks"
></app-edit-task-list>
<app-autotheme-codemirror
  *ngIf="markdown !== undefined"
  [(content)]="markdown"
  [options]="{
            mode: 'task-list',
            autoRefresh: true,
            lineNumbers: true
          }"
></app-autotheme-codemirror>
<router-outlet></router-outlet>
