<div class="container">
  <h1>Create Assignment</h1>

  <app-import-export (import)="onImport($event)" (export)="onExport()"></app-import-export>

  <h2>General Info</h2>

  <div class="form">
    <div class="form-group row">
      <label for="titleInput" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="titleInput" placeholder="Assignment X"
               [(ngModel)]="title" (change)="saveDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="authorInput" class="col-sm-2 col-form-label">Your Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="authorInput" placeholder="John Doe"
               [(ngModel)]="author" (change)="saveDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailInput" class="col-sm-2 col-form-label">Your E-Mail</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailInput" placeholder="jdoe@example.com"
               [(ngModel)]="email" (change)="saveDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="deadlineDateInput" class="col-sm-2 col-form-label">Deadline</label>
      <div class="col-sm-3">
        <input type="date" class="form-control" id="deadlineDateInput"
               [(ngModel)]="deadlineDate" (change)="saveDraft()">
        <small class="text-muted">
          Optional.
        </small>
      </div>
      <label for="deadlineTimeInput" class="sr-only">Time</label>
      <div class="col-sm-2">
        <input type="time" class="form-control" id="deadlineTimeInput" [disabled]="!deadlineDate"
               [(ngModel)]="deadlineTime" (change)="saveDraft()">
      </div>
    </div>
  </div>

  <h2><label for="descriptionInput">Description</label></h2>

  <p>
    <textarea id="descriptionInput" class="form-control" rows="6" [(ngModel)]="description"
              (change)="saveDraft()"></textarea>
    <small class="text-muted">
      <a href="https://commonmark.org/help/">Markdown syntax</a> is supported.
    </small>
  </p>

  <h2>Tasks</h2>
  <ol dragula="TASKS" [(dragulaModel)]="tasks" (dragulaModelChange)="saveDraft()">
    <li *ngFor="let task of tasks; let id = index" class="text-{{task.deleted ? 'muted' : getColorClass(id)}}">
      <div class="d-flex align-items-center mb-2">
        <div class="mr-2">
          <del *ngIf="task.deleted; else taskDesc">
            <ng-container *ngTemplateOutlet="taskDesc"></ng-container>
          </del>
          <ng-template #taskDesc>
            {{task.description || '(no description)'}}
          </ng-template>
          <span class="badge badge-{{task.deleted ? 'secondary' : getColorClass(id) || 'secondary'}}">
            {{task.points}}
          </span>
        </div>
        <app-collapse-button class="ml-auto" [(collapsed)]="task.collapsed" (collapsedChange)="saveDraft()">
        </app-collapse-button>
        <div class="btn btn-secondary ml-2 handle" aria-label="Reorder" ngbTooltip="Drag to Reorder">
          <span class="handle" aria-hidden="true">&equiv;</span>
        </div>
        <button *ngIf="!task.deleted"
                type="button" class="btn btn-danger ml-2" aria-label="Remove" ngbTooltip="Remove"
                (click)="removeTask(id)">
          <span aria-hidden="true">&times;</span>
        </button>
        <button *ngIf="task.deleted"
                type="button" class="btn btn-success ml-2" aria-label="Restore" ngbTooltip="Restore"
                (click)="restoreTask(id)">
          <span aria-hidden="true">&#8634;</span>
        </button>
      </div>
      <div class="form mb-3" [ngbCollapse]="task.collapsed">
        <div class="form-group row">
          <label for="task/{{id}}/descriptionInput" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="task/{{id}}/descriptionInput"
                   [(ngModel)]="task.description" (change)="saveDraft()">
          </div>
        </div>
        <div class="form-group row">
          <label for="task/{{id}}/pointsInput" class="col-sm-2 col-form-label">Points</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="task/{{id}}/pointsInput" min="0"
                   [(ngModel)]="task.points" (change)="saveDraft()">
          </div>
        </div>
        <div class="form-group row">
          <label for="task/{{id}}/verificationInput" class="col-sm-2 col-form-label">Verification</label>
          <div class="col-sm-10">
            <app-autotheme-codemirror id="task/{{id}}/verificationInput"
                                      [(content)]="task.verification"
                                      (change)="saveDraft()"
                                      [options]="{
              mode: 'markdown',
              autoRefresh: true,
              lineNumbers: true,
              lineWrapping: true,
              styleActiveLine: true
            }"></app-autotheme-codemirror>
          </div>
        </div>
        <div class="form-group row" *ngIf="!task.deleted && results && results[id].output">
          <label for="task/{{id}}/output" class="col-sm-2 col-form-label">Output</label>
          <div class="col-sm-10">
            <app-autotheme-codemirror id="task/{{id}}/output" [(content)]="results[id].output" [options]="{
              autoRefresh: true,
              lineNumbers: true,
              styleActiveLine: true
            }"></app-autotheme-codemirror>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <p>
    <button type="button" class="btn btn-success" (click)="addTask()">Add Task</button>
  </p>

  <h2>
    <label for="templateSolutionInput">Template Solution</label>
    <app-collapse-button class="ml-2" [(collapsed)]="collapse.templateSolution"></app-collapse-button>
  </h2>
  <p [ngbCollapse]="collapse.templateSolution">
    <app-autotheme-codemirror id="templateSolutionInput" #templateSolutionInput [(content)]="templateSolution" [options]="{
      mode: 'markdown',
      autoRefresh: true,
      lineNumbers: true,
      lineWrapping: true,
      styleActiveLine: true
    }"></app-autotheme-codemirror>
    <small class="text-muted">
      Optional. This will be shown to students in the solution editor when they first open your assignment.
      You can instruct them to fill in blanks or make changes.
    </small>
  </p>

  <h2>
    <label for="solutionInput">Sample Solution</label>
    <app-collapse-button class="ml-2" [(collapsed)]="collapse.solution"></app-collapse-button>
  </h2>
  <p [ngbCollapse]="collapse.solution">
    <app-autotheme-codemirror id="solutionInput" #solutionInput [(content)]="solution" [options]="{
      mode: 'markdown',
      autoRefresh: true,
      lineNumbers: true,
      lineWrapping: true,
      styleActiveLine: true
    }"></app-autotheme-codemirror>
    <small class="text-muted">
      You can provide a sample solution to ensure your assignment is solvable.
      Students cannot see this.
      <br/>
      {{checking ? 'Checking...'
      : (results ? 'The sample solution was checked automatically, check the task list for results.'
        : 'The sample solution is checked automatically when you change it.')
      }}
    </small>
  </p>

  <div class="text-center">
    <p>
      Click "Submit" to finalize your assignment and generate a link.
    </p>
    <button type="button" class="btn btn-primary btn-lg" id="submitButton" (click)="submit()"
            [disabled]="submitting">
      {{submitting ? 'Submitting...' : 'Submit'}}
    </button>
  </div>
</div>

<!-- Modal -->
<ng-template #successModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="successModalLabel">Assignment Created</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Congratulations! Your assignment titled <b>{{title}}</b> has been created!
    </p>
    <p>
      You can now give your students the following link:
    </p>
    <p>
      <a class="text-monospace" [routerLink]="getSolveLink(false)" (click)="modal.close()">
        {{getSolveLink(true)}}
      </a>
      <button type="button" class="btn btn-sm btn-outline-primary"
              ngxClipboard *ngxClipboardIfSupported [cbContent]="getSolveLink(true)">
        Copy
      </button>
    </p>
    <p>
      Use this link to view submitted solutions:
    </p>
    <p>
      <a class="text-monospace" [routerLink]="getSolutionsLink(false)" (click)="modal.close()">
        {{getSolutionsLink(true)}}
      </a>
      <button type="button" class="btn btn-sm btn-outline-primary"
              ngxClipboard *ngxClipboardIfSupported [cbContent]="getSolutionsLink(true)">
        Copy
      </button>
    </p>
    <p>
      To view submissions, you may be asked for the following token.
      Please save it or write it down somewhere.
    </p>
    <p class="text-center">
      <span class="h4 text-monospace">{{token}}</span>
      <button type="button" class="btn btn-sm btn-outline-secondary"
              ngxClipboard *ngxClipboardIfSupported [cbContent]="token">
        Copy
      </button>
    </p>
    <p>
      Note that this assignment can no longer be edited.
      If you want to make changes, submit a new assignment and give your students the new link.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
