<div class="mb-3">
  <div class="mb-3 d-flex">
    <div class="flex-fill">
      <label class="form-label" for="iconInput">Icon</label>
      <input type="text" class="form-control" id="iconInput" [ngbTypeahead]="search" [resultTemplate]="rt" [(ngModel)]="project.icon">
      <ng-template #rt let-result="result" let-term="term">
        <i class="bi-{{result}}"></i>
        <ngb-highlight [result]="result" [term]="term"></ngb-highlight>
      </ng-template>
    </div>
    <button class="btn btn-outline-secondary bi-{{project.icon || 'server'}} feature-icon ms-3" [ngbPopover]="iconSelect" placement="bottom-right"></button>
    <ng-template #iconSelect>
      <div class="d-flex flex-wrap overflow-scroll" style="max-height: 30rem">
        @for (i of icons;track i) {
          <button class="btn btn-outline-secondary bi-{{i}}" (click)="project.icon = i"></button>
        }
      </div>
    </ng-template>
  </div>
  <div class="mb-3">
    <label class="form-label" for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" [(ngModel)]="project.name">
  </div>
  <div class="mb-3">
    <label class="form-label" for="descriptionInput">Description</label>
    <textarea class="form-control" id="descriptionInput" [(ngModel)]="project.description"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label" for="dockerImageInput">
      Docker Image
      <span class="badge bg-gradient-primary">New</span>
    </label>
    <select class="form-select" id="dockerImageInput" [(ngModel)]="project.dockerImage">
      <option [value]="undefined">Use Default</option>
      @for (image of dockerImages;track image) {
        <option [value]="image.tag">
          {{image.name}}
          —
          {{image.desc}}
        </option>
      }
    </select>
    <div class="form-text">
      Select a matching Docker image for your use case.
      The default provides optimal performance for fulib projects.
      Other options include pre-installed extensions for other languages.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="repositoryInput">
      Git Repository
      <span class="badge bg-gradient-primary">New</span>
    </label>
    <input class="form-control" type="url" id="repositoryInput" [(ngModel)]="project.repository">
    <div class="form-text">
      Optional. Initialise the project from a Git repository.
      To use a private repository, you need to log in or link your fulib.org account with GitHub.
    </div>
  </div>
</div>
