<ng-template #header let-editor>
  <div class="d-inline-block" [dndDraggable]="editor" [dndType]="'editor'" (dndDrag)="close(editor)">
    <i class="bi-{{ editor.file.type.icon }}" [attr.aria-label]="editor.file.type.name"></i>
    <span [class.text-primary]="editor.file.dirty" [class.font-italic]="editor.temporary">
      {{ editor.file.name }}
    </span>
    <span *ngIf="editor.preview">
      (Preview)
    </span>
  </div>
</ng-template>
<ng-template #content let-current>
  <app-file-editor *ngIf="current" [editor]="current" (dismiss)="this.close(current)"></app-file-editor>
</ng-template>
<ng-template #fallback>
  <div class="h-100 d-flex justify-content-center align-items-center">
    <ul class="list-unstyled">
      <li>
        Search Everywhere
        <span class="text-primary">
          Double
          <i class="bi-shift" ngbTooltip="Shift"></i>
        </span>
      </li>
      <li>
        Run Anything
        <span class="text-primary">
          Double Ctrl
        </span>
      </li>
      <li>
        Drop files here to open them
      </li>
    </ul>
  </div>
</ng-template>
<app-tabs
  #tabs
  [tabs]="editors" (tabsChange)="editors = $event; saveEditors()"
  [content]="content" [header]="header" [fallback]="fallback"
  (create)="newScratchFile()"
  [dndDropzone]="['file', 'editor']"
  [dndAllowExternal]="true"
  (dndDrop)="openDrop($event.data)"
></app-tabs>
