<div class="container">
  <h5>
    Student Link
  </h5>
  <div class="input-group">
    <input #linkInput type="text" class="form-control" readonly [value]="origin + '/assignments/' + assignment?._id">
    <button *ngxClipboardIfSupported type="button" class="btn btn-outline-secondary bi-clipboard" ngbTooltip="Copy" [ngxClipboard]="linkInput">
    </button>
  </div>
  <div class="form-text">
    Share this link with your students. They will be able to submit solutions to this assignment.
  </div>
  <hr/>
  @if (assignment) {
    <app-edit-member-list namespace="assignments" [parent]="assignment._id"
                          [owner]="assignment.createdBy"></app-edit-member-list>
  }
  <hr/>
  <div class="alert alert-warning">
    The following fields contain the assignment token, a secret key that can be used to access and grade all submissions.
    Make sure to keep this token secret!
    Most importantly, <strong>do not share it with students</strong>.
    Teaching Assistants need the token to help with grading.
    If you suspect this token may have leaked, you can
    <a routerLink="." (click)="regenerateToken()">generate a new token</a>.
  </div>
  @if (assignment && assignment['token']) {
    <h5>
      Access Token
    </h5>
    <app-token-input [value]="assignment['token'] || ''"></app-token-input>
    <div class="form-text">
      To view submissions on other devices, you may be asked for this token.
    </div>
    <hr/>
    <h5>
      Teaching Assistant Invitation
    </h5>
    <app-token-input [value]="origin + '/assignments/' + assignment._id + '/solutions?atok=' + assignment['token']"></app-token-input>
    <div class="form-text">
      You can invite Teaching Assistants by giving them this link.
    </div>
  }
</div>
