<div class="container">
  <h5>
    Student Link
  </h5>
  <p>
    You can now give your students the following link:
  </p>
  <div class="input-group">
    <input #linkInput type="text" class="form-control" readonly [value]="origin + '/assignments/' + id">
    <div class="input-group-append" *ngxClipboardIfSupported>
      <button type="button" class="btn btn-outline-secondary" [ngxClipboard]="linkInput">
        Copy
      </button>
    </div>
  </div>
  <hr/>
  <div class="alert alert-warning">
    The following fields contain the assignment token, a secret key that can be used to access and grade all submissions.
    Make sure to keep this token secret!
    Most importantly, <strong>do not share it with students</strong>.
    Teaching Assistants need the token to help with grading.
    If you suspect this token may have leaked, you can
    <a routerLink="." (click)="regenerateToken()">generate a new token</a>.
  </div>
  <h5>
    Access Token
  </h5>
  <p>
    To view submissions on other devices, you may be asked for the following token.
  </p>
  <div class="input-group">
    <input #tokenInput type="text" class="form-control text-monospace" readonly [value]="token">
    <div class="input-group-append" *ngxClipboardIfSupported>
      <button type="button" class="btn btn-outline-secondary" [ngxClipboard]="tokenInput">
        Copy
      </button>
    </div>
  </div>
  <hr/>
  <h5>
    Teaching Assistant Invitation
  </h5>
  <p>
    You can invite Teaching Assistants by giving them the following link.
  </p>
  <div class="input-group">
    <input #taLinkInput type="text" class="form-control" readonly
           [value]="origin + '/assignments/' + id + '/solutions?atok=' + token">
    <div class="input-group-append" *ngxClipboardIfSupported>
      <button type="button" class="btn btn-outline-secondary" [ngxClipboard]="taLinkInput">
        Copy
      </button>
    </div>
  </div>
  <hr/>
  <h5>
    fulibFeedback Settings
  </h5>
  <p>
    Use the button below to configure fulibFeedback for this assignment.
  </p>
  <a class="btn btn-primary" [href]="ide + '://fulib.fulibfeedback/configure?api_server=' + encodedApiServer + '&assignment=' + id + '&token=' + token | safeUrl">
    Configure
  </a>
</div>
