<div class="mb-3">
  <div class="mb-3">
    <label class="form-label" for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" [(ngModel)]="config.name">
  </div>
  <div class="mb-3">
    <label class="form-label" for="executableInput">Executable</label>
    <input type="text" class="form-control" id="executableInput" [(ngModel)]="config.terminal.executable">
  </div>
  <div class="mb-3">
    <label class="form-label" for="argumentsInput">Arguments</label>
    <textarea class="form-control" id="argumentsInput" [ngModel]="arguments" (change)="arguments = $any($event.target).value"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label" for="workingDirectoryInput">Working Directory</label>
    <input type="text" class="form-control" id="workingDirectoryInput" [(ngModel)]="config.terminal.workingDirectory">
  </div>
  <div class="mb-3">
    <label class="form-label" for="environmentInput">Environment Variables</label>
    <textarea class="form-control" id="environmentInput" [ngModel]="environment" (change)="environment = $any($event.target).value"></textarea>
  </div>
  <div class="mb-3">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="allowParallelCheck" [(ngModel)]="config.allowParallel">
      <label class="form-check-label" for="allowParallelCheck">Allow parallel runs</label>
    </div>
  </div>
</div>
