<div class="container">
  <h1>My Solutions</h1>

  <ul class="list-group">
    <li *ngFor="let assignment of assignments"
        class="list-group-item"
    >
      <h3>
        {{assignment.title}}
      </h3>
      <p class="text-muted">
        by <app-author-name [name]="assignment.author" [email]="assignment.email"></app-author-name>
        &mdash;
        Deadline: {{assignment.deadline | date:'medium'}}
      </p>
      <p>

      </p>
      <div class="list-group">
        <a *ngFor="let solution of getSolutions(assignment); let last=last"
           class="list-group-item list-group-item-action"
           routerLink="/assignments/{{assignment.id}}/solutions/{{solution.id}}">
          by <app-author-name [name]="solution.name" [email]="solution.email"></app-author-name>
          &mdash;
          {{solution.studentID}}
          &mdash;
          Submitted: {{solution.timeStamp | date:'medium'}}

          <a *ngIf="last"
             role="button" class="btn btn-success" style="cursor: pointer"
             routerLink="/assignments/{{assignment.id}}">
            Edit
          </a>
        </a>
      </div>
    </li>
  </ul>
</div>
