<div class="form">
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" [(ngModel)]="config.name">
  </div>
  <div class="form-group">
    <label for="executableInput">Executable</label>
    <input type="text" class="form-control" id="executableInput" [(ngModel)]="config.executable">
  </div>
  <div class="form-group">
    <label for="argumentsInput">Arguments</label>
    <textarea class="form-control" id="argumentsInput" [(ngModel)]="arguments"></textarea>
  </div>
  <div class="form-group">
    <label for="workingDirectoryInput">Working Directory</label>
    <input type="text" class="form-control" id="workingDirectoryInput" [(ngModel)]="config.workingDirectory">
  </div>
  <div class="form-group">
    <label for="environmentInput">Environment Variables</label>
    <textarea class="form-control" id="environmentInput" [(ngModel)]="environment"></textarea>
  </div>
</div>
