<div class="form">
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" id="nameInput" [(ngModel)]="config.name">
  </div>
  <div class="form-group">
    <label for="executableInput">Executable</label>
    <input type="text" class="form-control" id="executableInput" [(ngModel)]="config.terminal.executable">
  </div>
  <div class="form-group">
    <label for="argumentsInput">Arguments</label>
    <textarea class="form-control" id="argumentsInput" [ngModel]="arguments" (change)="arguments = $any($event.target).value"></textarea>
  </div>
  <div class="form-group">
    <label for="workingDirectoryInput">Working Directory</label>
    <input type="text" class="form-control" id="workingDirectoryInput" [(ngModel)]="config.terminal.workingDirectory">
  </div>
  <div class="form-group">
    <label for="environmentInput">Environment Variables</label>
    <textarea class="form-control" id="environmentInput" [ngModel]="environment" (change)="environment = $any($event.target).value"></textarea>
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="allowParallelCheck" [(ngModel)]="config.allowParallel">
      <label class="custom-control-label" for="allowParallelCheck">Allow parallel runs</label>
    </div>
  </div>
</div>
