<div class="h-100 d-flex flex-column">
  <div class="btn-toolbar align-items-center p-3" role="toolbar" aria-label="Toolbar">
    <select class="form-select w-auto me-2"
            [disabled]="loading"
            [(ngModel)]="currentExample"
            (ngModelChange)="setExample($event)">
      <option [ngValue]="null">Select Example...</option>
      <option *ngFor="let example of examples" [ngValue]="example">{{ example.name }}</option>
    </select>
    <button class="btn btn-primary me-2" (click)="generate()" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ loading ? 'Generating...' : 'Generate' }}
    </button>
    <a role="button" class="btn btn-success me-2" routerLink="download">
      Download
    </a>
  </div>
  <as-split #split
            class="flex-grow-1"
            direction="horizontal"
            (dragStart)="this.showIframeHider = true"
            (dragEnd)="this.showIframeHider = false"
            (gutterClick)="split.notify('end', $event.gutterNum)">
    <as-split-area [size]="30">
      <app-autotheme-codemirror class="cm-h-100" [(content)]="content"
                                [options]="codemirrorOptions"></app-autotheme-codemirror>
    </as-split-area>
    <as-split-area [size]="70">
      <as-split
        direction="vertical"
        (dragStart)="this.showIframeHider = true"
        (dragEnd)="this.showIframeHider = false"
        (gutterClick)="split.notify('end', $event.gutterNum)">
        <as-split-area [size]="35">
          <ng-container *ngIf="generateResult">
            <a routerLink="preview"
               [queryParams]="{url: workflowsUrl + '/workflows' + this.generateResult.board}"
               queryParamsHandling="merge"
            >
              <app-diagram-view [url]="workflowsUrl + '/workflows' + this.generateResult.board"></app-diagram-view>
            </a>
          </ng-container>
          <div [hidden]="showIframeHider === false" class="iframe-hider"></div>
        </as-split-area>
        <as-split-area [size]="65">
          <app-mockup-viewer [generateResult]="generateResult"
                             [index]="newPageIndex"
                             [currentDisplay]="currentDisplay"></app-mockup-viewer>
          <div [hidden]="showIframeHider === false" class="iframe-hider"></div>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>

<router-outlet></router-outlet>
