<ng-container [ngTemplateOutlet]="file ? (file.revisions.length > 0 ? table : noRevisions) : noFile"></ng-container>
<ng-template #table>
  <table>
    <tr>
      <th>#</th>
      <th>Timestamp</th>
    </tr>
    <tr *ngFor="let revision of file!.revisions; let index = index">
      <td>
        {{index}}
      </td>
      <td>
        {{revision | date:'medium'}}
      </td>
    </tr>
  </table>
</ng-template>
<ng-template #noRevisions>
  No revision history for {{file!.name}}.
</ng-template>
<ng-template #noFile>
  No file selected.
</ng-template>
