<table class="table table-hover table-bordered table-sm table-responsive">
  <thead>
  <th *ngFor="let prop of authorProperties">
    {{ prop[0] }}
  </th>
  <th *ngFor="let assignment of course?.assignments; let i = index">
    {{ i + 1 }}
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td *ngFor="let prop of authorProperties">
      {{ student.author[prop[1]] }}
    </td>
    <td *ngFor="let assignment of course?.assignments; let i = index">
      <div ngbDropdown>
        <button ngbDropdownToggle class="btn p-0">
          {{ student.points[i] }}
        </button>
        <div ngbDropdownMenu>
          <a ngbDropdownItem class="bi-list-check" [routerLink]="['/assignments', assignment, 'solutions', student.solutions[i]]">
            View Solution
          </a>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
