<table class="table table-hover table-bordered table-sm table-responsive">
  <thead>
  <th *ngFor="let prop of authorProperties">
    {{ prop[0] }}
  </th>
  <th *ngFor="let assignment of course?.assignments; let i = index" colspan="2">
    {{ i + 1 }}
  </th>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td *ngFor="let prop of authorProperties">
      {{ student.author[prop[1]] }}
    </td>
    <ng-container *ngFor="let solution of student.solutions; let i = index">
      <td class="text-end" [class.text-danger]="!solution" [class.text-muted]="solution && solution.points === undefined">
        {{ solution?.points || 0 }}
      </td>
      <td [style.background-color]="solution?.assignee | assigneeColor">
        <div ngbDropdown>
          <button ngbDropdownToggle class="btn p-0 text-white text-shadow">{{ (solution?.assignee || '-')|slice:0:1 }}</button>
          <div ngbDropdownMenu>
            <ng-container *ngIf="solution as solution else noSolution">
              <a
                ngbDropdownItem
                class="bi-list-check"
                [routerLink]="['/assignments', course?.assignments?.[i], 'solutions', solution?._id]"
              >
                View Solution
              </a>
              <div class="dropdown-item-text">
                <label class="form-label bi-person-check">
                  Assignee
                </label>
                <app-assignee-input
                  #assigneeInput
                  [assignment]="course?.assignments?.[i]!"
                  [solution]="solution._id!"
                  [assignees]="assignees"
                  [(assignee)]="solution.assignee"
                ></app-assignee-input>
                <div class="btn-group">
                  <button class="btn btn-sm text-white text-shadow" *ngFor="let assignee of assignees" [style.background-color]="assignee | assigneeColor" (click)="assigneeInput.assignee = assignee; assigneeInput.save()">
                    {{ assignee | slice:0:1 }}
                  </button>
                </div>
              </div>
            </ng-container>
            <ng-template #noSolution>
              <div class="dropdown-item-text text-muted">
                No Solution
              </div>
            </ng-template>
          </div>
        </div>
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>
