.CodeMirror {
	border:        1px solid gray;
}

/* --------------- Sticky footer styles --------------- */
/* adapted from https://getbootstrap.com/docs/4.0/examples/sticky-footer/ */

html {
	position:   relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom:   0;
	width:    100%;
	/* Set the fixed height of the footer here */
	height:   60px;
}

/* --------------- Dark Mode for Diagrams --------------- */

[data-theme="dark"] img.diagram,
[data-theme="dark"] svg.diagram {
	filter: invert(100%);
}
