<div class="container h-100 pt-3">
  <h1 *ngIf="!projectManager">
    <a class="bi-chevron-left" routerLink="../.."></a>
    Project Settings: {{ project?.name }}
  </h1>
  <h4>Basic Settings</h4>
  <app-project-form *ngIf="project" [project]="project"></app-project-form>
  <button type="button" class="btn btn-primary" (click)="save()">
    Save
  </button>
  <ng-container *ngIf="project && !project.local">
    <hr/>
    <h4 class="d-flex align-items-center">
      Members
      <a class="btn btn-sm btn-success bi-person-plus ms-auto" routerLink="edit-member">
        Add
      </a>
    </h4>
    <ul class="list-group">
      <li *ngFor="let member of members" class="list-group-item d-flex align-items-center">
        <div class="me-auto">
          {{ member.user
          ? member.user.firstName + ' ' + member.user.lastName + ' (' + member.user.username + ')'
          : 'Loading...' }}
          <span class="text-muted">
            &bull;
            {{ member.userId === project.userId ? 'Owner' : 'Collaborator' }}
          </span>
        </div>
        <button *ngIf="member.userId !== project.userId"
                type="button" class="btn btn-sm btn-danger"
                ngbTooltip="Remove Collaborator"
                (click)="delete(member)">
          <i class="bi-person-x"></i>
        </button>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="project && (project.local || currentUser && currentUser.id === project.userId)">
    <hr/>
    <h4>Danger Zone</h4>
    <div class="list-group">
      <div class="list-group-item border-danger d-flex align-items-center" *ngIf="projectManager">
        <div class="me-auto">
          <h6>
            Re-run Setup
          </h6>
          This may override any scaffolded project files (<code>build.gradle</code> etc.).
        </div>
        <a role="button" class="btn btn-danger" routerLink="setup" [relativeTo]="activatedRoute.parent?.parent">
          Setup
        </a>
      </div>
      <div class="list-group-item border-danger d-flex align-items-center" *ngIf="!project.local">
        <div class="me-auto">
          <h6>
            Transfer Ownership
          </h6>
          This can only be undone by the new owner.
        </div>
        <a role="button" class="btn btn-danger" routerLink="transfer">
          Transfer
        </a>
      </div>
      <div class="list-group-item border-danger d-flex align-items-center">
        <div class="me-auto">
          <h6>
            Delete Project
          </h6>
          This cannot be undone.
        </div>
        <a role="button" class="btn btn-danger" routerLink="delete">
          Delete
        </a>
      </div>
    </div>
  </ng-container>
</div>
<router-outlet></router-outlet>
