<div class="container h-100 pt-3">
  <h1>
    <a class="bi-chevron-left" routerLink="../.."></a>
    Project Settings: {{ project?.name }}
  </h1>
  <h4>Basic Settings</h4>
  @if (project) {
    <app-project-form [project]="project"></app-project-form>
  }
  <button type="button" class="btn btn-primary" (click)="save()">
    Save
  </button>
  @if (project) {
    <hr/>
    <h4 class="d-flex align-items-center">
      Members
      <a class="btn btn-sm btn-success bi-person-plus ms-auto" routerLink="edit-member">
        Add
      </a>
    </h4>
    <app-member-list [members]="members" [owner]="project.userId" (deleted)="delete($event)"></app-member-list>
  }
  @if (project && (currentUser && currentUser.id === project.userId)) {
    <hr/>
    <h4>Danger Zone</h4>
    <div class="list-group">
      <div class="list-group-item border-danger d-flex align-items-center">
        <div class="me-auto">
          <h6>
            Re-run Setup
          </h6>
          This may override any scaffolded project files (<code>build.gradle</code> etc.).
        </div>
        <a role="button" class="btn btn-danger" [routerLink]="['/projects', project.id, 'setup']">
          Setup
        </a>
      </div>
      <div class="list-group-item border-danger d-flex align-items-center">
        <div class="me-auto">
          <h6>
            Transfer Ownership
          </h6>
          This can only be undone by the new owner.
        </div>
        <a role="button" class="btn btn-danger" routerLink="transfer">
          Transfer
        </a>
      </div>
      <div class="list-group-item border-danger d-flex align-items-center">
        <div class="me-auto">
          <h6>
            Delete Project
          </h6>
          This cannot be undone.
        </div>
        <a role="button" class="btn btn-danger" routerLink="delete">
          Delete
        </a>
      </div>
    </div>
  }
</div>
<router-outlet></router-outlet>
