<ng-template #changelogModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="changelogModalTitle">
      What's New on fulib.org
      <span class="text-muted"> (since v{{lastUsedVersions['fulib.org']}})</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let entry of changelogs">
      <h1>{{entry.repo}}</h1>
      <div [innerHTML]="entry.changelog | safeHtml"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
