<ng-template #changelogModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="changelogModalTitle">
      What's New on fulib.org
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex">
      <ul ngbNav #nav="ngbNav" [(activeId)]="activeRepo" class="nav-pills mr-4" orientation="vertical">
          <li *ngFor="let entry of changelogs" [ngbNavItem]="entry.repo">
            <a ngbNavLink>
              {{entry.repo}}
              <br/>
              <span class="badge badge-secondary">
                <ng-container *ngIf="lastUsedVersions && lastUsedVersions[entry.repo] !== currentVersions[entry.repo]">
                  v{{lastUsedVersions[entry.repo]}} &rarr;
                </ng-container>
                v{{currentVersions[entry.repo]}}
              </span>
            </a>
            <ng-template ngbNavContent>
              <div [innerHTML]="entry.changelog | safeHtml"></div>
            </ng-template>
          </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="autoShowCheckbox" [(ngModel)]="autoShow">
      <label class="form-check-label" for="autoShowCheckbox">Automatically show this window</label>
    </div>
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
