<h1>{{assignment ? assignment.title : 'Loading...'}}</h1>
<p class="text-muted">
  <ng-container *ngIf="assignment">
    by
    <app-author-name [name]="assignment.author" [email]="assignment.email"></app-author-name>
    <span *ngIf="assignment.userId" class="badge badge-pill badge-primary" ngbTooltip="Registered">
      &#10003;
    </span>
    <ng-container *ngIf="assignment.deadline">
      &mdash;
      Deadline: {{assignment.deadline | date:'medium'}}
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!assignment">
    Loading...
  </ng-container>
</p>
<p>
  <app-markdown [html]="assignment?.descriptionHtml ?? 'Loading Description...'"></app-markdown>
</p>
