<ul *ngIf="tasks else loading">
  <li *ngFor="let task of tasks" [class]="points && evaluations?.[task._id] ? 'list-unstyled text-' + (task | taskColor:points[task._id]) : evaluations ? 'list-unstyled' : undefined">
    <input
      *ngIf="evaluations"
      #check
      type="checkbox"
      class="form-check-input"
      [checked]="evaluations[task._id] && points?.[task._id] !== 0"
      [indeterminate]="!evaluations[task._id]"
      (change)="givePoints(task, check.checked ? task.points : 0)"
      [ngbTooltip]="'Click to give ' + (check.checked ? 0 : task.points) + ' points'"
    >
    {{task.description}}
    <span class="badge bg-{{task | taskColor:points?.[task._id]}}">
      <ng-container *ngIf="points">{{points[task._id]}} / </ng-container>
      {{task.points}}
    </span>
    <ng-container *ngIf="evaluations">
      <a
        *ngIf="evaluations[task._id] as evaluation; else createEvaluation"
        [ngbTooltip]="'View Evaluation by ' + evaluation.author"
        role="button"
        class="link-secondary ms-1"
        [class.bi-person]="evaluation.author !== 'Code Search'"
        [class.bi-robot]="evaluation.author === 'Code Search'"
        [routerLink]="[task._id]"
        (click)="openTelemetry(task)"
      ></a>
      <ng-template #createEvaluation>
        <a
          ngbTooltip="Create Evaluation"
          role="button"
          class="bi-plus-circle link-primary ms-1"
          [routerLink]="[task._id]"
          (click)="openTelemetry(task)"
        ></a>
      </ng-template>
    </ng-container>
    <app-task-list
      *ngIf="task.children.length"
      [tasks]="task.children"
      [evaluations]="evaluations"
      [points]="points"
    ></app-task-list>
  </li>
</ul>
<ng-template #loading>
  Loading...
</ng-template>
