<div class="container">
  <app-assignment-info [assignment]="assignment"></app-assignment-info>

  <h2>Tasks</h2>
  <app-task-list [tasks]="assignment?.tasks"></app-task-list>

  <h2>Files</h2>
  <div class="mb-3">
    <label for="files" class="form-label">Upload files</label>
    <input class="form-control" type="file" id="files" multiple #filesInput (change)="addFiles(filesInput.files!)">
  </div>
  <ul class="list-group">
    <li *ngFor="let file of files; let index = index" class="list-group-item d-flex align-items-center">
      <div class="me-auto">
        {{ file.name }} ({{ file.size >= 1024 ? (file.size / 1024 | number:'0.0-1') + ' KiB' : file.size + ' bytes' }})
      </div>
      <button class="btn btn-outline-danger bi-trash" (click)="files.splice(index, 1)"></button>
    </li>
  </ul>

  <h2>Your Info</h2>

  <div class="mb-3">
    <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
      <input type="text" class="form-control" id="nameInput" placeholder="John Doe"
             [(ngModel)]="author.name" (change)="saveDraft()" [disabled]="loggedIn">
    </div>
    <div class="mb-3">
      <label for="studentIDInput" class="form-label">Student ID</label>
      <input type="text" class="form-control" id="studentIDInput" placeholder="12345678"
             [(ngModel)]="author.studentId" (change)="saveDraft()">
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">E-Mail</label>
      <input type="text" class="form-control" id="emailInput" placeholder="jdoe@example.com"
             [(ngModel)]="author.email" (change)="saveDraft()" [disabled]="loggedIn">
    </div>
    <div class="mb-3">
      <label for="githubInput" class="form-label">GitHub Username</label>
      <input type="text" class="form-control" id="githubInput" placeholder="JohnDoe"
             [(ngModel)]="author.github" (change)="saveDraft()">
    </div>
  </div>

  <div class="text-center">
    <p>
      When you are done with your solution, click "Submit".
      You can still make changes afterwards.
    </p>
    <button type="button" class="btn btn-primary btn-lg"
            [disabled]="submitting"
            (click)="submit()">
      {{submitting ? 'Submitting...' : 'Submit'}}
    </button>
  </div>
</div>
