<div class="mb-3">
  <div class="mb-3">
    <label class="form-label" for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" placeholder="Assignment X"
           [(ngModel)]="assignment.title" (change)="saveDraft()">
  </div>
  <div class="mb-3">
    <label class="form-label" for="authorInput">Contact Name</label>
    <input type="text" class="form-control" id="authorInput" placeholder="John Doe"
           [(ngModel)]="assignment.author" (change)="saveDraft()">
  </div>
  <div class="mb-3">
    <label class="form-label" for="emailInput">Contact E-Mail</label>
    <input type="text" class="form-control" id="emailInput" placeholder="jdoe@example.com"
           [(ngModel)]="assignment.email" (change)="saveDraft()">
  </div>
  <div class="mb-3">
    <label class="form-label" for="issuanceDateInput">
      Issuance
    </label>
    <div class="input-group">
      <input type="date" class="form-control" id="issuanceDateInput"
             [(ngModel)]="issuanceDate" (change)="saveDraft()">
      <label class="visually-hidden" for="issuanceTimeInput">Time</label>
      <input type="time" class="form-control" id="issuanceTimeInput" [disabled]="!issuanceDate"
             [(ngModel)]="issuanceTime" (change)="saveDraft()">
    </div>
    <div class="form-text">
      Optional. The date and time the assignment was issued.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="deadlineDateInput">Deadline</label>
    <div class="input-group">
      <input type="date" class="form-control" id="deadlineDateInput"
             [(ngModel)]="deadlineDate" (change)="saveDraft()">
      <label class="visually-hidden" for="deadlineTimeInput">Time</label>
      <input type="time" class="form-control" id="deadlineTimeInput" [disabled]="!deadlineDate"
             [(ngModel)]="deadlineTime" (change)="saveDraft()">
    </div>
    <div class="form-text">
      Optional.
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="descriptionInput">Description</label>
    <textarea id="descriptionInput" class="form-control" rows="6" [(ngModel)]="assignment.description"
              (change)="saveDraft()"></textarea>
    <div class="form-text">
      <a href="https://commonmark.org/help/" target="_blank">Markdown syntax</a> is supported.
    </div>
  </div>
</div>
