<div class="container">
  <h1>Create Course</h1>

  <div class="form">
    <div class="form-group row">
      <label for="titleInput" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="titleInput" placeholder="Assignment X"
               [(ngModel)]="title" (change)="saveDraft()">
      </div>
    </div>
    <div class="form-group row">
      <label for="descriptionInput" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <textarea id="descriptionInput" class="form-control" rows="6"
                  [(ngModel)]="description" (change)="saveDraft()">
        </textarea>
        <small class="text-muted">
          <a href="https://commonmark.org/help/">Markdown syntax</a> is supported.
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label for="titleInput" class="col-sm-2 col-form-label">Assignments</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" id="assignmentInput" placeholder="ID or URL"
                 [(ngModel)]="newAssignment" (change)="saveDraft()">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="addAssignment()">+</button>
          </div>
        </div>
        <ul class="timeline-list">
          <li *ngFor="let assignment of assignments; let i=index" class="timeline-item">
            <span class="timeline-item-badge bg-secondary">
              {{i+1}}
            </span>
            <span class="timeline-item-body">
              {{assignment?.title || 'Loading...'}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p>
      Click "Submit" to finalize your course and generate a link.
    </p>
    <button type="button" class="btn btn-primary btn-lg" id="submitButton" (click)="submit()"
            [disabled]="submitting">
      {{submitting ? 'Submitting...' : 'Submit'}}
    </button>
  </div>
</div>

<ng-template #successModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="successModalLabel">Course Created</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Congratulations! Your course titled <b>{{title}}</b> has been created!
    </p>
    <p>
      You can now give your students the following link:
    </p>
    <p>
      <a class="text-monospace" href="/assignments/courses/{{id}}">
        {{baseURL}}/assignments/courses/{{id}}
      </a>
      <button type="button" class="btn btn-sm btn-outline-primary"
              ngxClipboard *ngxClipboardIfSupported cbContent="{{baseURL}}/assignments/{{id}}">
        Copy
      </button>
    </p>
    <p>
      Note that this course can no longer be edited.
      If you want to make changes, submit a new course and give your students the new link.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
